In [1]:
import pandas as pd

## I guess we're trying to figure out who is stealing fuel
- if fuel is clandestinely leaving a fuel tank without a transaction record then...
    - the truck/unit will be traveling less miles than is expected with purchased fuel
    - so, presumably, I should be able to compare a unit's "apparent" calculated mpg with it's nominal mpg
    - units with unrealistically low mpg's would be the 'donors' of untracked fuel
        - perhaps there are even trucks with unrealistically high mpgs who are "receivers" of untracked fuel
    - So, Do I have records of fuel consumption and fuel miles traveled?

## --read and rename csvs and columns

In [2]:
#read in the csvs
events_fuel_df = pd.read_csv('data/Extranet2.ExactFuelEvents.csv')

In [3]:
events_fuel_df.head()

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1
1,12649084,13640242,2017-01-01 00:01:24.867,1712,105437938,tractor,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27.000,0,0.0,360378.8,1,2
2,12649092,13640251,2017-01-01 00:04:15.053,1713,105438293,tractor,RUSR,35.58664,-84.52786,2017-01-01 00:04:17.000,67,219.5,377577.4,1,2
3,12649102,13640261,2017-01-01 00:04:10.260,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:04:10.000,0,0.0,513931.8,1,2
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2

In [4]:
#events_fuel_df.info()

In [5]:
levels_fueltank_df = pd.read_csv('data/Extranet2.ExactFuelTankLevels.csv')

In [6]:
levels_fueltank_df.head()

         Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
0  10391480       1              82.8            165.60          12667508
1  10391482       1              72.4            144.80          12667510
2  10391505       1              57.1            114.20          12667533
3  10391507       1              80.9            161.80          12667535
4  10391514       1              56.9            142.25          12667542

In [7]:
units_df = pd.read_csv('data/IBGEFILE.UNITS.csv')
# select UNUNIT, UNYEAR, UNMAKE, UNSER from IBGEFILE.UNITS 
#where (UNTERM = 0 OR UNTERM >= 2017001) 
#and UNUNIT NO LIKE 'T%' and trim (UNUNIT) NOT LIKE '99%'
units_df.columns = ['unit_number', 'model_year', 'make']

In [8]:
units_df.head()

  unit_number model_year          make
0         535       1996  PETERBILT
1         534       1996  PETERBILT
2         533       1996  PETERBILT
3         532       1996  PETERBILT
4         531       1996  PETERBILT

In [9]:
optimization_fuel_df = pd.read_csv('data/BGEIDSC.EF2EFFP.csv')
#DB2 table from Fuel Optimization vendor

In [10]:
#column names to lower for easier typing
optimization_fuel_df.columns = [s.lower() for s in optimization_fuel_df.columns]
optimization_fuel_df.columns

Index(['truck', 'active', 'sendfuel', 'sendroute', 'tankcap', 'avgmpg',
       'sattype'],
      dtype='object')

In [11]:
optimization_fuel_df.head()

   truck active sendfuel sendroute  tankcap  avgmpg sattype
0      1      Y        Y         Y      200     6.0
1    243      Y        Y         Y      200     6.0
2    244      Y        Y         Y      200     6.0
3    245      Y        Y         Y      200     6.0
4    246      Y        Y         Y      200     6.0

In [13]:
transaction_df = pd.read_csv('data/BGETCHDATA.PTCHTRANH.csv')
#Actual fuel transactions will have an item code of:
act_fuel_transactions = ['ULSD', 'FUEL', 'CDSL', 'DSL1', 'BDSL']
# and could be in any of the item slots 1-6

In [14]:
transaction_df.columns = ['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
                         'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id', 
                         'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
                          'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
                          'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6',
                         ]

In [15]:
transaction_df.head()

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6
0,42574765,20170101,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0
1,42575331,20170101,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0
2,42578678,20170101,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0
3,42578722,20170101,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
4,42579695,20170101,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0

In [17]:
data_performance = pd.read_csv('data/Extranet2.QCPerformanceExtracts.csv',
                              header = None)

In [18]:
data_performance

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,76818,13641356,2017-01-01 07:29:49.000,1995,105356577,tractor,LYNS,NaN,36.066249,-86.434814,...,0,0.3,0.3,0,0,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
1,76819,13641357,2017-01-01 07:29:50.000,1995,105356577,tractor,LYNS,NaN,36.066249,-86.434814,...,0,239.7,21.2,0,1,49,1399,3,MPH,"301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
2,76820,13641432,2017-01-01 07:49:44.000,105420005,105420005,tractor,LOTG,NaN,36.195138,-83.174583,...,0,246.1,3.2,0,1,1014,1362,3,MPH,"62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3,76821,13643644,2017-01-01 13:58:17.000,1972,105363528,tractor,DINE,NaN,36.194444,-83.175185,...,0,0.2,0.1,0,0,0,0,3,MPH,"110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
4,76822,13643645,2017-01-01 13:58:18.000,1972,105363528,tractor,DINE,NaN,36.194444,-83.175185,...,0,202.1,1.5,1,1,12,1298,3,MPH,"112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
5,76823,13643777,2017-01-01 14:19:55.000,1985,105370056,tractor,GAME,NaN,35.013935,-89.894537,...,0,280.1,3.3,1,1,1158,1789,3,MPH,"22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
6,76824,13644321,2017-01-01 16:00:28.000,1861,105339124,tractor,WYNF,NaN,35.588101,-86.444259,...,0,0.5,0.5,0,0,0,0,3,MPH,"20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
7,76825,13644322,2017-01-01 16:00:29.000,1861,105339124,tractor,WYNF,NaN,35.588101,-86.444259,...,0,278.8,1.6,0,1,1323,1849,3,MPH,"11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
8,76826,13644956,2017-01-01 18:09:40.000,1538,105392945,tractor,NaN,NaN,36.066712,-86.434722,...,0,0.0,0.0,0,0,0,0,0,MPH,"8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
9,76827,13645006,2017-01-01 18:18:19.000,1777,105446111,tractor,MARLO,NaN,36.067175,-86.433564,...,0,0.5,0.5,0,0,0,0,3,MPH,"22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
10,76828,13645007,2017-01-01 18:18:19.000,1777,105446111,tractor,MARLO,NaN,36.067175,-86.433564,...,0,201.7,1.8,1,1,324,1153,3,MPH,"31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
11,76829,13645204,2017-01-01 19:21:44.000,1814,105369518,tractor,BURST,NaN,36.066157,-86.434999,...,0,23.8,0.6,0,1,98,138,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
12,76830,13645857,2017-01-02 00:13:49.000,1973,105364937,tractor,BENRO,NaN,36.066111,-86.434351,...,0,172.2,2.3,0,1,957,1118,3,MPH,"22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13,76831,13648198,2017-01-02 08:08:58.000,1906,105370315,tractor,BOYG,NaN,36.194537,-83.174861,...,0,107.2,0.1,0,1,314,635,3,MPH,"8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
14,76832,13648298,2017-01-02 08:14:44.000,1763,105442821,tractor,SHEMI,NaN,38.349027,-85.709305,...,0,149.2,1.2,0,1,0,0,3,MPH,"4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
15,76833,13648515,2017-01-02 08:27:13.000,1882,105341163,tractor,BRAO,NaN,44.141574,-87.866805,...,0,202.5,1.0,0,1,261,1142,3,MPH,"25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
16,76834,13648919,2017-01-02 08:56:05.000,2006,105369474,tractor,HODJE,NaN,39.348425,-88.425092,...,0,0.0,0.0,0,0,0,0,3,MPH,"25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
17,76835,13648920,2017-01-02 08:56:05.000,2006,105369474,tractor,HODJE,NaN,39.348425,-88.425092,...,0,0.0,0.0,0,1,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
18,76836,13648928,2017-01-02 08:56:06.000,2006,105369474,tractor,HODJE,NaN,39.348935,-88.424861,...,0,49.5,0.3,1,1,277,310,3,MPH,"2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
19,76837,13649599,2017-01-02 09:36:09.000,1876,105320321,tractor,HANSE,NaN,36.097037,-86.421111,...,0,0.2,0.1,0,0,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
20,76838,13649600,2017-01-02 09:36:09.000,1876,105320321,tractor,HANSE,NaN,36.097037,-86.421111,...,0,246.1,0.8,1,1,1148,1617,3,MPH,"12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
21,76839,13649822,2017-01-02 09:55:32.000,1718,105346821,tractor,PETD,NaN,36.066527,-86.435231,...,0,0.1,0.1,0,0,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
22,76840,13649823,2017-01-02 09:55:33.000,1718,105346821,tractor,PETD,NaN,36.066527,-86.435231,...,0,199.6,0.3,0,1,718,1197,3,MPH,"5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
23,76841,13650028,2017-01-02 10:06:23.000,1901,105389390,tractor,STARI,NaN,35.496388,-86.461527,...,0,170.1,1.3,0,1,51,1010,3,MPH,"16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
24,76842,13650953,2017-01-02 11:01:54.000,1979,105350882,tractor,HIEK,NaN,36.066342,-86.434351,...,0,179.5,3.2,1,1,298,1046,3,MPH,"88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
25,76843,13655336,2017-01-02 16:30:50.000,1860,105441522,tractor,DANR,NaN,35.587546,-86.443564,...,0,0.3,0.1,0,0,0,0,3,MPH,"93,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
26,76844,13655337,2017-01-02 16:30:51.000,1860,105441522,tractor,DANR,NaN,35.587546,-86.443564,...,0,74.5,2.0,0,1,2,462,3,MPH,"3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
27,76845,13656605,2017-01-02 18:28:39.000,1808,105400037,tractor,CHAJO,NaN,36.066157,-86.433564,...,0,0.1,0.1,0,0,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28,76846,13656606,2017-01-02 18:28:39.000,1808,105400037,tractor,CHAJO,NaN,36.066157,-86.433564,...,0,142.8,1.7,0,1,608,851,3,MPH,"75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
29,76847,13656748,2017-01-02 18:41:12.000,105434215,105434215,tractor,000000000,NaN,36.171805,-86.036666,...,0,0.0,0.0,0,0,0,0,0,MPH,"3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32357,116149,35792451,2017-12-29 14:29:06.000,1706,105435630,tractor,NaN,NaN,35.587129,-86.443935,...,0,190.2,0.7,0,1,980,0,3,MPH,"56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32358,116150,35794167,2017-12-29 14:52:25.000,2043,105406640,tractor,HOYJ,NaN,39.952916,-81.936574,...,0,261.2,2.2,1,1,631,0,3,MPH,"14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32359,116151,35804543,2017-12-29 17:02:52.000,2114,105358195,tractor,SHIJO,NaN,35.840740,-86.427824,...,0,0.3,0.2,1,0,0,0,1,MPH,"465,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32360,116152,35804544,2017-12-29 17:02:53.000,2114,105358195,tractor,SHIJO,NaN,35.840740,-86.427824,...,0,0.0,0.0,0,0,0,0,0,MPH,"33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32361,116153,35804545,2017-12-29 17:02:53.000,2114,105358195,tractor,SHIJO,NaN,35.840740,-86.427824,...,0,7.3,0.2,0,1,0,14,1,MPH,"179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32362,116154,35810200,2017-12-29 18:49:09.000,1656,105338626,tractor,NaN,NaN,36.066296,-86.434768,...,0,0.7,0.6,0,1,0,0,3,MPH,"22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32363,116155,35815099,2017-12-29 21:14:56.000,1706,105435630,tractor,NaN,NaN,35.587685,-86.443749,...,0,0.7,0.3,0,0,0,0,3,MPH,"1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32364,116156,35817704,2017-12-29 22:38:06.000,2138,105338811,tractor,GLAJ,NaN,35.587407,-86.444074,...,0,0.3,0.2,0,0,0,0,1,MPH,"851,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32365,116157,35821115,2017-12-30 01:24:25.000,1822,105467982,tractor,NaN,NaN,35.587592,-86.443749,...,0,77.1,3.8,0,1,0,562,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32366,116158,35822144,2017-12-30 02:06:42.000,2094,108088333,tractor,HERV,NaN,39.595462,-83.653240,...,0,485.0,11.1,0,1,1807,2427,1,MPH,"123,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32367,116159,35826421,2017-12-30 04:54:46.000,1957,105346714,tractor,ECKS,NaN,35.808657,-86.395833,...,0,244.0,23.8,0,1,205,1300,3,MPH,"21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32368,116160,35828861,2017-12-30 06:12:43.000,1803,105460307,tractor,NaN,NaN,36.194999,-83.175138,...,0,0.3,0.1,1,0,0,0,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32369,116161,35828862,2017-12-30 06:12:43.000,1803,105460307,tractor,NaN,NaN,36.194999,-83.175138,...,0,0.0,0.0,0,1,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32370,116162,35835825,2017-12-30 08:37:11.000,2092,108088561,tractor,DEFE,NaN,36.066759,-86.434629,...,0,235.3,2.0,0,1,0,1181,1,MPH,"46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32371,116163,35844657,2017-12-30 11:05:29.000,1826,105427203,tractor,NaN,NaN,36.195138,-83.174953,...,0,0.3,0.3,1,1,0,0,3,MPH,"3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32372,116164,35846714,2017-12-30 11:34:50.000,1662,105353629,tractor,MCNK,NaN,36.066203,-86.433564,...,0,0.0,0.0,0,0,0,0,0,MPH,"2651,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32373,116165,35846715,2017-12-30 11:34:51.000,1662,105353629,tractor,MCNK,NaN,36.066203,-86.433564,...,0,0.0,0.0,0,1,0,0,0,MPH,"147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32374,116166,35846955,2017-12-30 11:39:32.000,2091,105408494,tractor,VANM,NaN,36.622499,-86.554490,...,0,0.1,0.1,0,0,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32375,116167,35850643,2017-12-30 12:29:44.000,1639,105341130,tractor,BULR,NaN,30.125277,-81.785648,...,0,212.7,1.0,0,1,601,1209,3,MPH,"43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32376,116168,35851362,2017-12-30 12:40:06.000,2119,105432778,tractor,NaN,NaN,35.587314,-86.444120,...,0,0.5,0.2,1,0,0,0,1,MPH,"278,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32377,116169,35852532,2017-12-30 13:02:42.000,1822,105467982,tractor,NaN,NaN,35.587499,-86.443749,...,0,6.1,6.1,0,0,0,0,3,MPH,"11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32378,116170,35853108,2017-12-30 13:12:19.000,2117,105365537,tractor,TAYJON,NaN,37.082268,-86.068240,...,0,0.0,0.0,0,0,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32379,116171,35853109,2017-12-30 13:12:20.000,2117,105365537,tractor,TAYJON,NaN,37.082268,-86.068240,...,0,263.0,14.7,0,1,0,0,1,MPH,"71,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32380,116172,35853203,2017-12-30 13:14:56.000,1718,105411463,tractor,PETD,NaN,36.065879,-86.432407,...,0,0.6,0.6,0,0,0,0,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32381,116173,35853204,2017-12-30 13:14:56.000,1718,105411463,tractor,PETD,NaN,36.065879,-86.432407,...,0,163.7,0.8,0,1,596,972,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32382,116174,35853279,2017-12-30 13:17:05.000,1854,105385876,tractor,ROSE,NaN,35.280046,-80.806249,...,0,233.8,5.7,0,1,0,1607,3,MPH,"35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32383,116175,35856910,2017-12-30 14:18:35.000,1979,105313312,tractor,HIEK,NaN,36.066296,-86.434537,...,0,0.5,0.3,0,0,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32384,116176,35856911,2017-12-30 14:18:36.000,1979,105313312,tractor,HIEK,NaN,36.066296,-86.434537,...,0,235.2,2.0,0,1,527,0,3,MPH,"34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32385,116177,35874186,2017-12-30 23:33:46.000,2028,108034857,tractor,JORW,NaN,34.193148,-80.282499,...,0,211.6,18.2,0,1,254,1186,3,MPH,"107,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32386,116178,35874249,2017-12-30 23:37:47.000,2090,108087387,tractor,SHADE,NaN,35.050648,-85.636620,...,0,311.7,0.6,0,1,8,1816,1,MPH,"70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."

In [16]:
##########---------converting cols to datetime-------
def cols_to_timestamp(df, col_list):
    for col in col_list:
        df[col] = pd.to_datetime(df[col], format = '%Y-%m-%d %H:%M:%S')
    return df
ts_cols = ['EventTimeStamp', 'LocationTimeStamp']
events_fuel_df =  cols_to_timestamp(events_fuel_df, ts_cols)