In [1]:

import pandas as pd 
import numpy as np 
import gc
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def trim_categories(df, cols_list):
    for col in cols_list:
        df[col].cat.rename_categories(df[col].cat.categories.str.strip(), inplace=True)

In [3]:
levels_keep_cols = ['TankId', 'TankLevelPercent', 'TankLevelGallons', 'ExactFuelEventId']
levels_col_types = {'TankId': 'category',
             'ExactFuelEventId': 'uint32',
             'TankLevelPercent': 'float32',
             'TankLevelGallons': 'float32'}
#Rows with TankId == '2' are dropped on read-in, after being manually identified
levels_fueltank_df = pd.read_csv('data/Extranet2.ExactFuelTankLevels.csv', 
                                 skiprows=[48671, 1824800, 4579415, 5656381],
                                 usecols = levels_keep_cols, 
                                 dtype=levels_col_types ).set_index(
    'ExactFuelEventId').drop(
    ['TankId'], axis=1)

#levels_fueltank_df = levels_fueltank_df.set_index('ExactFuelEventId').drop(['TankId'], axis=1)

In [4]:
optimization_fuel_df = pd.read_csv('data/BGEIDSC.EF2EFFP.csv',
                                   index_col = 'TRUCK',
                                   dtype={'TANKCAP': 'uint16', 'TRUCK' : 'uint32'},
                                  usecols = ['TRUCK', 'TANKCAP'])
optimization_fuel_df.columns = [s.lower() for s in optimization_fuel_df.columns]

In [5]:
#trim_categories(optimization_fuel_df, ['truck'])
#optimization_fuel_df.set_index('truck', inplace=True)

In [6]:
optimization_fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
UInt64Index: 836 entries, 1 to 2176
Data columns (total 1 columns):
tankcap    836 non-null uint16
dtypes: uint16(1)
memory usage: 8.2 KB

In [7]:
optimization_fuel_df.head(n=5)

       tankcap
TRUCK
1          200
243        200
244        200
245        200
246        200

In [8]:
units_df = pd.read_csv('data/IBGEFILE.UNITS.csv', 
                       dtype = {'UNMAKE': 'category'})
#Can drop non-int units
units_df.columns = ['unit_number', 'model_year', 'make'] 

# Trim white space from category strings 

# Remove invalid entries
units_df.unit_number = pd.to_numeric(units_df.unit_number, errors = 'coerce')
units_df = units_df[units_df.unit_number != 1].dropna().set_index('unit_number')
#units_df = units_df[units_df.unit_number.isin(['ZEBE', 'CCTRK', 'BGXL', '1']) == False]
#set index

trim_categories(units_df, ['make'])
# Fix typos
units_df.make[units_df.make.isin(['KENOWRTH', 'KEWORTH'])] = 'KENWORTH'

In [9]:
# 5 rows deleted
units_df.shape

(704, 2)

In [10]:
units_df.head(n=5)

            model_year       make
unit_number
535.0             1996  PETERBILT
534.0             1996  PETERBILT
533.0             1996  PETERBILT
532.0             1996  PETERBILT
531.0             1996  PETERBILT

In [43]:
transaction_df_cols = ['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
                         'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id', 
                         'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
                          'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
                          'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6']
tr_dtypes= {'tr_id' : 'uint32',  
            'tr_date' : 'uint32', 
            'tr_time' : 'uint32', 
            'tr_station_name' : 'object', 
            'tr_station_cty' : 'object', 
            'tr_station_st' : 'object', 
            'tr_drvr_code' : 'category', 
            'tr_unit_id' : 'category', 
            'tr_item_cd1' : 'category', 
            'tr_item_qty1' : 'float32', 
            'tr_item_cd2' : 'category', 
            'tr_item_qty2' : 'float32', 
            'tr_item_cd3' : 'category', 
            'tr_item_qty3' : 'float32', 
            'tr_item_cd4' : 'category', 
            'tr_item_qty4' : 'float32', 
            'tr_item_cd5' : 'category', 
            'tr_item_qty5' : 'float32', 
            'tr_item_cd6' : 'category', 
            'tr_item_qty6' : 'float32'}
act_fuel_transactions = ['ULSD', 'FUEL', 'CDSL', 'DSL1', 'BDSL']
transaction_df = pd.read_csv('data/BGETCHDATA.PTCHTRANH.csv', names = transaction_df_cols, dtype = tr_dtypes, header=0 )

# Trim white space from category strings 
trim_categories(transaction_df, ['tr_drvr_code','tr_unit_id','tr_item_cd1', 'tr_item_cd2', 'tr_item_cd3', 'tr_item_cd4', 'tr_item_cd5', 'tr_item_cd6' ])

In [44]:
transaction_df.head(n=5)

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6
0,42574765,20170101,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
1,42575331,20170101,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0.0
2,42578678,20170101,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0.0
3,42578722,20170101,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
4,42579695,20170101,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0

In [46]:
#confirm no junk data in this col. 
None in transaction_df.tr_time

#Combine tr_date and tr_time into a single date time column
    #1. zero pad tr_time on left for interpretation as military time
        #cast tr_time as string
transaction_df.tr_time = transaction_df.tr_time.astype(str)

#ensure none of my strings are over 4 digits in length
for s in transaction_df.tr_time:
    assert len(s) < 5

#check for blanks
'' in transaction_df.tr_time

#add zeros to the left until each cell is len 4
zero_padded_time = []
for s in transaction_df.tr_time:
    while len(s) < 4:
        s = '0' + s
    zero_padded_time.append(s)

#spot check
for s in zero_padded_time:
    assert len(s) == 4

transaction_df.tr_time = zero_padded_time

#append tr_date (as string) and tr_time together, and then convert them to dateime
#transaction_df.tr_datetime 
tst = [datetime.strptime(str(d) + 
                         t, '%Y%m%d%H%M') 
       for d, t in zip(transaction_df.tr_date,
                       transaction_df.tr_time)]
#love list comprehensions

transaction_df['tr_datetime'] = tst#assign

#drop superfluous columns
transaction_df.drop(['tr_date','tr_time'], axis = 'columns', inplace=True)
transaction_df.head()

,tr_id,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,tr_item_qty1,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
0,42574765,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,1.000000,,0.00,,0.0,,0.0,,0.0,,0.0,2017-01-01 00:20:00
1,42575331,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,137.399994,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0.0,2017-01-01 00:48:00
2,42578678,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,137.929993,DEFD,4.12,,0.0,,0.0,,0.0,,0.0,2017-01-01 01:34:00
3,42578722,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,45.000000,,0.00,,0.0,,0.0,,0.0,,0.0,2017-01-01 01:37:00
4,42579695,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,107.360001,,0.00,,0.0,,0.0,,0.0,,0.0,2017-01-01 03:02:00

In [47]:
transaction_df.shape

(147861, 20)

In [48]:
transaction_df.dtypes

tr_id                      uint32
tr_station_id               int64
tr_station_name            object
tr_station_cty             object
tr_station_st              object
tr_drvr_code             category
tr_unit_id               category
tr_item_cd1              category
tr_item_qty1              float32
tr_item_cd2              category
tr_item_qty2              float32
tr_item_cd3              category
tr_item_qty3              float32
tr_item_cd4              category
tr_item_qty4              float32
tr_item_cd5              category
tr_item_qty5              float32
tr_item_cd6              category
tr_item_qty6              float32
tr_datetime        datetime64[ns]
dtype: object

In [15]:
# converting date & time columns to datetime objs 
#transaction_df['tr_date'] = pd.to_datetime(transaction_df['tr_date'],format = '%Y%m%d')
#transaction_df['tr_time'] = pd.to_datetime(transaction_df['tr_time'])

In [55]:
transaction_df.tr_unit_id.unique()

[1564, 1584, 1713, 1711, 1837, ..., 2149, 2155, 2148, 2151, 2154]
Length: 655
Categories (655, object): [1564, 1584, 1713, 1711, ..., 2155, 2148, 2151, 2154]

In [53]:
# These rows are dropped - 85 rows dropped 
transaction_df[transaction_df.tr_unit_id.isin(['OFFICE', '']) == True]

,tr_id,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,tr_item_qty1,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
1174,42977478,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,50.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-01-05 07:40:00
1383,43037746,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,130.570007,,0.0,,0.0,,0.0,,0.0,,0.0,2017-01-05 14:57:00
6812,44866479,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HILB,,ULSD,60.790001,,0.0,,0.0,,0.0,,0.0,,0.0,2017-01-21 06:08:00
6955,44908231,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HILB,,ULSD,30.440001,,0.0,,0.0,,0.0,,0.0,,0.0,2017-01-21 14:33:00
13493,47176337,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,96.269997,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-09 09:11:00
15203,47747773,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,62.840000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-14 10:46:00
16503,48174487,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,82.480003,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-17 11:53:00
16583,48198811,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,50.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-17 15:01:00
17310,48478526,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,1974,,ULSD,10.060000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-20 12:12:00
18077,48727766,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,88.010002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-22 09:42:00
18508,48873922,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,7.600000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-23 10:11:00
18883,49006071,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,62.500000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-24 09:13:00
18906,49016014,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,COKJ,,ULSD,168.300003,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-24 10:31:00
19213,49126623,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,66.440002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-02-25 10:09:00
20402,49573772,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,81.449997,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-01 08:54:00
21447,49972284,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,96.050003,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-04 05:14:00
22145,50224954,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,57.959999,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-06 16:54:00
23838,50827465,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,9781,,ULSD,63.439999,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-10 23:32:00
23973,50872323,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,OPS,,ULSD,119.089996,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-11 12:03:00
24356,51034214,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,20.330000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-13 09:36:00
26187,51709904,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,OPS,,ULSD,113.480003,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-18 08:02:00
26331,51755412,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,OPS,,ULSD,25.070000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-18 16:32:00
27672,52227878,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,119.290001,,0.0,,0.0,,0.0,,0.0,,0.0,2017-03-22 15:40:00
31817,53784233,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,8.540000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-04 10:10:00
32997,54205764,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,69.190002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-07 07:33:00
33218,54275753,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ARCM,,ULSD,72.629997,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-07 16:35:00
33959,54564732,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,96.250000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-10 14:58:00
34327,54691901,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,53.490002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-11 13:13:00
34857,54866094,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SMIFR,,ULSD,60.939999,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-12 16:26:00
36306,55408065,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,50.070000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-04-17 16:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80393,72698148,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,6.470000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-08-28 13:29:00
81022,72945716,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,4051,,ULSD,132.750000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-08-30 06:34:00
81040,72952572,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,4.950000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-08-30 07:41:00
81883,73273922,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,63.650002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-09-01 08:42:00
85442,74757637,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,4.070000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-09-13 09:26:00
85873,74936172,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,7.950000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-09-14 11:27:00
92690,77959834,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,124.730003,,0.0,,0.0,,0.0,,0.0,,0.0,2017-10-05 08:01:00
93798,78456031,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,9.910000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-10-09 07:35:00
96099,79463675,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,19.600000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-10-16 11:08:00
97683,80131379,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,2.120000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-10-20 12:51:00
101099,81647967,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,8.630000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-10-31 15:10:00
106816,84109524,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,7.150000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-11-17 09:26:00
110051,85562358,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,PAGR,,ULSD,30.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-11-29 08:22:00
110775,85990093,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,JOHA,,ULSD,94.860001,,0.0,,0.0,,0.0,,0.0,,0.0,2017-11-30 23:28:00
112127,86578849,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,105.440002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-05 10:39:00
112646,86778702,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,7.210000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-06 13:10:00
114239,87473704,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,129.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-11 11:38:00
114365,87520774,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,59.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-11 16:33:00
114797,87702316,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,WHICH,,ULSD,78.690002,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-12 17:31:00
118534,89449674,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,102.349998,,0.0,,0.0,,0.0,,0.0,,0.0,2017-12-26 08:34:00
122440,91044920,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,PAGR,,ULSD,150.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-01-08 07:36:00
125918,92535892,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,30.000000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-01-18 07:58:00
129536,94097498,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,93.480003,,0.0,,0.0,,0.0,,0.0,,0.0,2018-01-29 09:48:00
130979,94673930,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,5.020000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-02-01 15:44:00
133821,95848865,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,63.009998,,0.0,,0.0,,0.0,,0.0,,0.0,2018-02-09 13:44:00
134513,96157521,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,PAGR,,ULSD,165.399994,,0.0,,0.0,,0.0,,0.0,,0.0,2018-02-12 09:15:00
135344,96478808,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,7.140000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-02-14 07:56:00
138698,97855697,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,3.530000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-02-23 09:44:00
142181,99415080,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,40.009998,,0.0,,0.0,,0.0,,0.0,,0.0,2018-03-06 11:47:00
144575,473165,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,SPED,OFFICE,ULSD,101.820000,,0.0,,0.0,,0.0,,0.0,,0.0,2018-03-13 13:36:00

In [17]:
transaction_df[transaction_df['tr_drvr_code'] == 'DYET']

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6
108,42611972,2017-01-01,1628,516152,PILOT 270,KNOXVILLE,TN,DYET,1918,ULSD,...,CADV,1.00,,0.0,,0.0,,0.0,,0.0
336,42694694,2017-01-02,2141,516271,PILOT WHITE PINE 412,WHITE PINE,TN,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
821,42865095,2017-01-04,1052,516255,PILOT WAYNESVILLE 393,WAYNESVILLE,NC,DYET,1918,ULSD,...,DEFD,10.36,,0.0,,0.0,,0.0,,0.0
1296,43013074,2017-01-05,1209,501585,LONDON AUTO TRUCK,LONDON,KY,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
1598,43124081,2017-01-06,841,524132,PFJ SOUTHEAST 6955,HAW RIVER,NC,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
2028,43260218,2017-01-07,1142,519109,TA MOCKSVILLE #6251,MOCKSVILLE,NC,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
2062,43270068,2017-01-07,1322,522919,PILOT MARION 1063,MARION,NC,DYET,1918,ULSD,...,DEFD,0.01,,0.0,,0.0,,0.0,,0.0
2128,43296008,2017-01-07,1835,516152,PILOT 270,KNOXVILLE,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
2399,43385986,2017-01-08,2133,516152,PILOT 270,KNOXVILLE,TN,DYET,1918,ULSD,...,CADV,1.00,,0.0,,0.0,,0.0,,0.0
2922,43566210,2017-01-10,1131,514632,PETRO CARLISLE,CARLISLE,PA,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
2930,43568214,2017-01-10,1145,514632,PETRO CARLISLE,CARLISLE,PA,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
3099,43610948,2017-01-10,1653,516142,PILOT TROUTVILLE 258,TROUTVILLE,VA,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
3447,43724938,2017-01-11,1414,524136,PFJ SOUTHEAST 4598,NIOTA,TN,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
3768,43844298,2017-01-12,1200,521527,PILOT RAPHINE 4649,RAPHINE,VA,DYET,1918,ADD,...,,0.00,,0.0,,0.0,,0.0,,0.0
3771,43848013,2017-01-12,1214,521527,PILOT RAPHINE 4649,RAPHINE,VA,DYET,1918,ULSD,...,DEFD,13.54,,0.0,,0.0,,0.0,,0.0
4457,44079094,2017-01-14,952,518308,PILOT HARRISONBURG 491,HARRISONBURG,VA,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
5063,44300915,2017-01-16,1732,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
5073,44302173,2017-01-16,1743,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,DYET,1918,ULSD,...,CADV,1.00,,0.0,,0.0,,0.0,,0.0
5565,44466404,2017-01-18,139,516152,PILOT 270,KNOXVILLE,TN,DYET,1918,ULSD,...,DEFD,13.51,,0.0,,0.0,,0.0,,0.0
6650,44808805,2017-01-20,1435,502490,SMITHS GROVE TRAVEL CENTE,SMITHS GROVE,KY,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
6697,44824038,2017-01-20,1638,516269,PILOT DICKSON 409,DICKSON,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
8115,45330966,2017-01-25,900,231903,FJ-DOTHAN 603,DOTHAN,AL,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
8789,45549529,2017-01-26,1747,521834,PILOT JASPER 500,JASPER,FL,DYET,1918,ULSD,...,DEFD,15.23,,0.0,,0.0,,0.0,,0.0
9041,45640155,2017-01-27,1203,514622,PETRO ATLANTA,ATLANTA,GA,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
10484,46131410,2017-01-31,2033,516223,PILOT SHEPHERDSVILLE 356,SHEPHERDSVILLE,KY,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
11657,46525081,2017-02-03,1601,516886,PILOT EMPORIA 898,EMPORIA,VA,DYET,1918,ULSD,...,DEFD,13.67,,0.0,,0.0,,0.0,,0.0
12701,46906071,2017-02-07,1116,516164,PILOT HEBRON 285,HEBRON,OH,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
13337,47108063,2017-02-08,1755,524099,PFJ SOUTHEAST 4599,MONTEAGLE,TN,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
13340,47108701,2017-02-08,1801,524099,PFJ SOUTHEAST 4599,MONTEAGLE,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
13615,47209602,2017-02-09,1254,521834,PILOT JASPER 500,JASPER,FL,DYET,1918,ULSD,...,DEFD,12.77,,0.0,,0.0,,0.0,,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133918,95899530,2018-02-09,1909,770051,CAT SCALES PILOT TRAVEL C,HEBRON,OH,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
134201,96027175,2018-02-10,2353,516269,PILOT DICKSON 409,DICKSON,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
135077,96365628,2018-02-13,1342,516078,PILOT SULPHUR SPRINGS 157,SULPHUR SPRINGS,TX,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
135082,96368242,2018-02-13,1358,516078,PILOT SULPHUR SPRINGS 157,SULPHUR SPRINGS,TX,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
135555,96550752,2018-02-14,1518,516300,PILOT HAUBSTADT 447,HAUBSTADT,IN,DYET,1918,ULSD,...,DEFD,13.52,,0.0,,0.0,,0.0,,0.0
135962,96719760,2018-02-15,1456,516010,PILOT SULPHUR 050,SULPHUR,KY,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
136385,96930201,2018-02-16,2015,770735,CAT SCALES TA DEXTER,DEXTER,MI,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
136399,96947010,2018-02-17,142,516158,PILOT 278,WALTON,KY,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
137008,97204378,2018-02-19,1206,231851,FJ-ST AUGUSTINE 626,ST AUGUSTINE,FL,DYET,1918,ULSD,...,DEFD,11.17,,0.0,,0.0,,0.0,,0.0
137399,97348660,2018-02-20,1027,771264,CAT SCALES TA JACKSONVIL,BALDWIN,FL,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
138442,97742027,2018-02-22,1505,516648,LOVES # 368 TRAVEL STOP,CLANTON,AL,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
138443,97742910,2018-02-22,1510,771179,CAT SCALES LOVE'S COUNTRY,CLANTON,AL,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
138939,97972400,2018-02-24,433,516261,PILOT LEBANON JUNCTION 39,LEBANON JUNCTIO,KY,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
138940,97973262,2018-02-24,451,516261,PILOT LEBANON JUNCTION 39,LEBANON JUNCTIO,KY,DYET,1918,CADV,...,,0.00,,0.0,,0.0,,0.0,,0.0
139352,98139645,2018-02-25,1700,770932,CAT SCALES PILOT TRAVEL,LONDON,OH,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
139355,98141999,2018-02-25,1727,516305,PILOT LONDON 454,LONDON,OH,DYET,1918,ULSD,...,DEFD,11.20,CADV,1.0,,0.0,,0.0,,0.0
139678,98301172,2018-02-26,1956,771429,CAT SCALES FLYING J / PIL,RESACA,GA,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
139736,98328881,2018-02-27,348,771455,CAT SCALES FLYING J PI,FRANKLIN,KY,DYET,1918,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
139738,98329511,2018-02-27,359,231084,FJ-FRANKLIN 661,FRANKLIN,KY,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
140994,98866373,2018-03-02,742,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
141660,99175509,2018-03-04,1841,514655,PETRO MONEE RD #6367,MONEE,IL,DYET,1918,CADV,...,,0.00,,0.0,,0.0,,0.0,,0.0
141852,99263008,2018-03-05,1302,516300,PILOT HAUBSTADT 447,HAUBSTADT,IN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
142610,99593626,2018-03-07,1224,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,DYET,1918,ULSD,...,DEFD,10.08,,0.0,,0.0,,0.0,,0.0
143496,5798,2018-03-09,1909,524136,PILOT #4598,NIOTA,TN,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
144253,349885,2018-03-12,1738,516228,PILOT 363,MEMPHIS,TN,DYET,1918,ULSD,...,DEFD,10.47,,0.0,,0.0,,0.0,,0.0
144839,598510,2018-03-14,855,516531,LOVES # 233 TRAVEL STOP,WALLER,TX,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
145373,826154,2018-03-15,1337,516027,PILOT LAGRANGE 069,LAGRANGE,GA,DYET,1918,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
146031,1143955,2018-03-17,1629,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,DYET,1918,ULSD,...,DEFD,15.21,,0.0,,0.0,,0.0,,0.0
147056,1614136,2018-03-21,452,516164,PILOT HEBRON 285,HEBRON,OH,DYET,1918,ULSD,...,CADV,1.00,,0.0,,0.0,,0.0,,0.0
147807,1960673,2018-03-23,434,516053,PILOT CROSSVILLE 114,CROSSVILLE,TN,DYET,1918,ULSD,...,DEFD,9.27,,0.0,,0.0,,0.0,,0.0

In [18]:
# Drops Office and blank Unit IDs
transaction_df = transaction_df[transaction_df.tr_unit_id.isin(['OFFICE', '      ']) == False]

In [19]:
transaction_df.head(n=5)

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6
0,42574765,2017-01-01,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0.0
1,42575331,2017-01-01,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0.0
2,42578678,2017-01-01,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0.0
3,42578722,2017-01-01,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0
4,42579695,2017-01-01,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0.0

In [20]:
events_keep_cols = ['Id', 'EventTimeStamp', 'EquipmentID', 
                    'DriverID', 'Latitude', 'Longitude', 'LocationTimeStamp', 
                    'Speed', 'Odometer', 'IgnitionStatus', 'EFReportReason']
events_col_types = {'DriverID': 'category',
             'EFReportReason': 'category',
             'EquipmentID': 'uint32',
             'Id': 'uint32',
             'IgnitionStatus': 'category',
             'Latitude': 'float64',
             'Longitude': 'float64',
             'Odometer': 'float64',
             'Speed': 'uint16'}

events_levels_df = pd.read_csv('data/Extranet2.ExactFuelEvents.csv', 
                             usecols=events_keep_cols, 
                            dtype=events_col_types, 
                             index_col = 'Id',
                             parse_dates=['EventTimeStamp', 'LocationTimeStamp'], 
                            infer_datetime_format=True).merge(
    levels_fueltank_df, copy=False, how='inner', left_index=True, right_index=True).merge(
    optimization_fuel_df, copy=False, how='left', left_on='EquipmentID', right_index=True)

trim_categories(events_levels_df, ['DriverID','EFReportReason', 'IgnitionStatus' ])

C:\Users\Suhasini\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [21]:
# Save 220 MB memory and 
levels_fueltank_df.index = levels_fueltank_df.index.astype('uint64')
gc.collect()

3232

In [22]:
events_levels_df.shape

(7908406, 13)

In [23]:
performance_df = pd.read_csv('data/Extranet2.QCPerformanceExtracts.csv',
                            parse_dates=['EventTimeStamp','LocationTimeStamp', 'DataStartTimeStamp','DataEndTimeStamp' ], 
                            infer_datetime_format=True)
# Remove invalid Truck IDs
#performance_df = performance_df[performance_df.EquipmentID < 9999]

In [24]:
performance_df.head(n=5)

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Driver2ID,Latitude,Longitude,...,ExcessSpeedTime,TotalFuelUsed,IdleFuelUsed,FaultFlag,RegisteredDriver,CruiseControlTime,TopGearTime,GearDataSource,SpeedUnits,SpeedMatrix
0,76818,13641356,2017-01-01 07:29:49,1995,105356577,tractor,LYNS,NaN,36.066249,-86.434814,...,0,0.3,0.3,0,0,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
1,76819,13641357,2017-01-01 07:29:50,1995,105356577,tractor,LYNS,NaN,36.066249,-86.434814,...,0,239.7,21.2,0,1,49,1399,3,MPH,"301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
2,76820,13641432,2017-01-01 07:49:44,105420005,105420005,tractor,LOTG,NaN,36.195138,-83.174583,...,0,246.1,3.2,0,1,1014,1362,3,MPH,"62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3,76821,13643644,2017-01-01 13:58:17,1972,105363528,tractor,DINE,NaN,36.194444,-83.175185,...,0,0.2,0.1,0,0,0,0,3,MPH,"110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
4,76822,13643645,2017-01-01 13:58:18,1972,105363528,tractor,DINE,NaN,36.194444,-83.175185,...,0,202.1,1.5,1,1,12,1298,3,MPH,"112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."

In [25]:
events_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
UInt64Index: 7908406 entries, 12649083 to 21150506
Data columns (total 13 columns):
EventTimeStamp       datetime64[ns]
EquipmentID          uint32
DriverID             category
Latitude             float64
Longitude            float64
LocationTimeStamp    datetime64[ns]
Speed                uint16
Odometer             float64
IgnitionStatus       category
EFReportReason       category
TankLevelPercent     float32
TankLevelGallons     float32
tankcap              uint16
dtypes: category(3), datetime64[ns](2), float32(2), float64(3), uint16(2), uint32(1)
memory usage: 512.9 MB

In [26]:
events_levels_df.isnull().sum()

EventTimeStamp            0
EquipmentID               0
DriverID             109883
Latitude                  0
Longitude                 0
LocationTimeStamp         0
Speed                     0
Odometer                  0
IgnitionStatus            0
EFReportReason            0
TankLevelPercent          0
TankLevelGallons          0
tankcap                   0
dtype: int64

In [27]:
events_levels_df.head(n=5)

,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,tankcap
12649083,2017-01-01 00:00:32.387,1992,BATK,30.34642,-81.70724,2017-01-01 00:00:30,0,39895.5,2,1,50.700001,101.400002,200
12649084,2017-01-01 00:01:24.867,1712,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27,0,360378.8,1,2,78.000000,156.000000,200
12649092,2017-01-01 00:04:15.053,1713,RUSR,35.58664,-84.52786,2017-01-01 00:04:17,67,377577.4,1,2,31.700001,63.400002,200
12649102,2017-01-01 00:04:10.260,1585,MCAD,35.15430,-90.14263,2017-01-01 00:04:10,0,513931.8,1,2,43.200001,108.000000,250
12649103,2017-01-01 00:10:13.187,1564,ULAL,39.90268,-84.19254,2017-01-01 00:10:11,3,498691.0,1,2,50.299999,125.750000,250

In [28]:
events_levels_df[events_levels_df['DriverID'] == 'DYET']

,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,tankcap
12649149,2017-01-01 00:51:47.470,1918,DYET,36.06672,-86.43406,2017-01-01 00:51:46,0,90818.7,1,0,51.200001,102.400002,200
12649194,2017-01-01 01:06:47.660,1918,DYET,36.06672,-86.43408,2017-01-01 01:06:46,0,90818.7,1,2,51.200001,102.400002,200
12649213,2017-01-01 01:21:47.707,1918,DYET,36.06671,-86.43411,2017-01-01 01:21:46,0,90818.7,1,2,51.200001,102.400002,200
12649234,2017-01-01 01:36:47.847,1918,DYET,36.06671,-86.43411,2017-01-01 01:36:47,0,90818.7,1,2,51.200001,102.400002,200
12649245,2017-01-01 01:51:47.877,1918,DYET,36.06674,-86.43410,2017-01-01 01:51:47,0,90818.7,1,2,51.200001,102.400002,200
12651765,2017-01-01 02:36:58.003,1918,DYET,36.06671,-86.43410,2017-01-01 02:36:58,0,90818.7,1,2,51.200001,102.400002,200
12651766,2017-01-01 02:51:58.127,1918,DYET,36.06675,-86.43405,2017-01-01 02:51:54,0,90818.7,1,2,51.200001,102.400002,200
12651767,2017-01-01 03:06:58.160,1918,DYET,36.06679,-86.43406,2017-01-01 03:06:57,0,90818.7,1,2,51.200001,102.400002,200
12651768,2017-01-01 03:21:58.220,1918,DYET,36.06668,-86.43411,2017-01-01 03:21:58,0,90818.7,1,2,51.200001,102.400002,200
12651769,2017-01-01 03:36:58.330,1918,DYET,36.06671,-86.43411,2017-01-01 03:36:58,0,90818.7,1,2,51.200001,102.400002,200
12651770,2017-01-01 03:51:58.347,1918,DYET,36.06668,-86.43411,2017-01-01 03:51:58,0,90818.7,1,2,51.200001,102.400002,200
12651771,2017-01-01 04:06:58.377,1918,DYET,36.06673,-86.43410,2017-01-01 04:06:58,0,90818.7,1,2,51.200001,102.400002,200
12651772,2017-01-01 04:21:58.393,1918,DYET,36.06671,-86.43408,2017-01-01 04:21:57,0,90818.7,1,2,51.200001,102.400002,200
12651773,2017-01-01 04:36:58.457,1918,DYET,36.06674,-86.43414,2017-01-01 04:36:57,0,90818.7,1,2,51.200001,102.400002,200
12651774,2017-01-01 04:51:58.487,1918,DYET,36.06672,-86.43408,2017-01-01 04:51:57,0,90818.7,1,2,51.200001,102.400002,200
12651775,2017-01-01 05:06:58.550,1918,DYET,36.06673,-86.43411,2017-01-01 05:06:56,0,90818.7,1,2,51.200001,102.400002,200
12651776,2017-01-01 05:21:58.580,1918,DYET,36.06672,-86.43415,2017-01-01 05:21:57,0,90818.7,1,2,51.200001,102.400002,200
12651777,2017-01-01 05:36:58.673,1918,DYET,36.06675,-86.43413,2017-01-01 05:36:57,0,90818.7,1,2,51.200001,102.400002,200
12651778,2017-01-01 05:51:58.737,1918,DYET,36.06673,-86.43410,2017-01-01 05:51:57,0,90818.7,1,2,51.200001,102.400002,200
12651779,2017-01-01 06:06:58.753,1918,DYET,36.06673,-86.43416,2017-01-01 06:06:57,0,90818.7,1,2,51.200001,102.400002,200
12651780,2017-01-01 06:21:58.847,1918,DYET,36.06674,-86.43411,2017-01-01 06:21:57,0,90818.7,1,2,51.200001,102.400002,200
12651781,2017-01-01 06:36:58.940,1918,DYET,36.06677,-86.43408,2017-01-01 06:36:57,0,90818.7,1,2,51.200001,102.400002,200
12651782,2017-01-01 06:51:59.050,1918,DYET,36.06672,-86.43410,2017-01-01 06:51:58,0,90818.7,1,2,51.200001,102.400002,200
12651783,2017-01-01 07:06:59.113,1918,DYET,36.06672,-86.43410,2017-01-01 07:06:58,0,90818.7,1,2,51.200001,102.400002,200
12651784,2017-01-01 07:21:59.190,1918,DYET,36.06672,-86.43408,2017-01-01 07:21:58,0,90818.7,1,2,51.200001,102.400002,200
12651785,2017-01-01 07:36:59.237,1918,DYET,36.06675,-86.43406,2017-01-01 07:36:59,0,90818.7,1,2,51.200001,102.400002,200
12651786,2017-01-01 07:51:59.330,1918,DYET,36.06673,-86.43416,2017-01-01 07:51:58,0,90818.7,1,2,51.200001,102.400002,200
12651787,2017-01-01 08:06:59.410,1918,DYET,36.06672,-86.43407,2017-01-01 08:06:58,0,90818.7,1,2,51.200001,102.400002,200
12651788,2017-01-01 08:21:59.457,1918,DYET,36.06674,-86.43409,2017-01-01 08:21:58,0,90818.7,1,2,51.200001,102.400002,200
12651790,2017-01-01 08:36:59.493,1918,DYET,36.06674,-86.43412,2017-01-01 08:36:58,0,90818.7,1,2,51.200001,102.400002,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21135313,2018-03-22 14:12:33.630,1918,DYET,35.78983,-86.39933,2018-03-22 14:12:31,0,249289.8,1,2,44.799999,89.599998,200
21135350,2018-03-22 14:14:13.630,1918,DYET,35.78978,-86.39928,2018-03-22 14:14:11,0,249289.8,2,1,44.400002,88.800003,200
21135819,2018-03-22 14:30:53.660,1918,DYET,35.80043,-86.39844,2018-03-22 14:30:51,13,249290.5,1,0,44.700001,89.400002,200
21136141,2018-03-22 14:45:53.660,1918,DYET,35.95543,-86.44325,2018-03-22 14:45:51,65,249303.8,1,2,46.099998,92.199997,200
21136416,2018-03-22 14:57:53.677,1918,DYET,36.06730,-86.43395,2018-03-22 14:57:51,0,249312.7,2,1,45.500000,91.000000,200
21136479,2018-03-22 14:57:53.677,1918,DYET,36.06730,-86.43395,2018-03-22 14:57:51,0,249312.7,2,1,45.500000,91.000000,200
21136654,2018-03-22 15:06:03.677,1918,DYET,36.06738,-86.43441,2018-03-22 15:06:01,0,249312.7,1,1,46.299999,92.599998,200
21136724,2018-03-22 15:08:33.693,1918,DYET,36.06713,-86.43478,2018-03-22 15:08:30,2,249312.7,2,0,46.299999,92.599998,200
21136746,2018-03-22 15:09:33.693,1918,DYET,36.06716,-86.43478,2018-03-22 15:09:31,0,249312.7,2,1,46.299999,92.599998,200
21137111,2018-03-22 15:22:13.787,1918,DYET,36.06715,-86.43479,2018-03-22 15:22:11,0,249312.7,1,0,47.599998,95.199997,200
21137266,2018-03-22 15:28:53.803,1918,DYET,36.06684,-86.43465,2018-03-22 15:28:51,0,249312.7,1,1,49.599998,99.199997,200
21137343,2018-03-22 15:31:03.803,1918,DYET,36.06656,-86.43494,2018-03-22 15:31:01,0,249312.7,1,0,48.099998,96.199997,200
21137705,2018-03-22 15:46:03.850,1918,DYET,36.06673,-86.43423,2018-03-22 15:46:01,0,249313.1,1,2,48.299999,96.599998,200
21138007,2018-03-22 16:01:03.897,1918,DYET,36.18325,-86.34135,2018-03-22 16:01:01,32,249323.7,1,2,46.099998,92.199997,200
21139273,2018-03-22 17:01:04.303,1918,DYET,36.13775,-85.31033,2018-03-22 17:00:57,64,249387.3,1,2,42.200001,84.400002,200
21139652,2018-03-22 17:20:44.360,1918,DYET,35.98127,-85.01447,2018-03-22 17:20:42,5,249408.3,1,2,41.900002,83.800003,200
21139945,2018-03-22 17:35:44.423,1918,DYET,35.97839,-85.01617,2018-03-22 17:35:42,0,249408.8,1,2,44.000000,88.000000,200
21140208,2018-03-22 17:50:44.547,1918,DYET,35.97836,-85.01620,2018-03-22 17:50:42,0,249408.8,1,2,44.000000,88.000000,200
21140472,2018-03-22 18:05:44.610,1918,DYET,35.97835,-85.01621,2018-03-22 18:05:42,0,249408.8,1,2,46.000000,92.000000,200
21140706,2018-03-22 18:20:44.627,1918,DYET,35.97836,-85.01619,2018-03-22 18:20:42,0,249408.8,1,2,46.000000,92.000000,200
21140933,2018-03-22 18:35:44.703,1918,DYET,35.97831,-85.01622,2018-03-22 18:35:42,0,249408.8,1,2,46.000000,92.000000,200
21141178,2018-03-22 18:50:44.767,1918,DYET,35.97839,-85.01622,2018-03-22 18:50:42,0,249408.8,1,2,46.000000,92.000000,200
21141440,2018-03-22 19:05:44.860,1918,DYET,35.97833,-85.01618,2018-03-22 19:05:42,0,249408.8,1,2,46.000000,92.000000,200
21141664,2018-03-22 19:20:44.893,1918,DYET,35.97836,-85.01617,2018-03-22 19:20:42,0,249408.8,1,2,46.000000,92.000000,200
21141841,2018-03-22 19:35:44.987,1918,DYET,35.97837,-85.01619,2018-03-22 19:35:42,0,249408.8,1,2,46.000000,92.000000,200
21142011,2018-03-22 19:50:45.033,1918,DYET,35.97838,-85.01617,2018-03-22 19:50:42,0,249408.8,1,2,46.000000,92.000000,200
21142174,2018-03-22 20:05:45.063,1918,DYET,35.97833,-85.01620,2018-03-22 20:05:42,0,249408.8,1,2,46.000000,92.000000,200
21142354,2018-03-22 20:20:45.110,1918,DYET,35.97834,-85.01622,2018-03-22 20:20:42,0,249408.8,1,2,46.000000,92.000000,200
21142503,2018-03-22 20:35:45.187,1918,DYET,35.97833,-85.01614,2018-03-22 20:35:42,0,249408.8,1,2,46.000000,92.000000,200
21142685,2018-03-22 20:50:45.330,1918,DYET,35.97832,-85.01614,2018-03-22 20:50:42,0,249408.8,1,2,46.000000,92.000000,200

In [29]:
performance_df[performance_df['DriverID']=='DYET']

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Driver2ID,Latitude,Longitude,...,ExcessSpeedTime,TotalFuelUsed,IdleFuelUsed,FaultFlag,RegisteredDriver,CruiseControlTime,TopGearTime,GearDataSource,SpeedUnits,SpeedMatrix
318,77136,13660247,2017-01-03 04:25:40,1918,105381868,tractor,DYET,NaN,36.194999,-83.174999,...,0,96.3,2.5,1,1,85,563,3,MPH,"1796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
771,77589,13803686,2017-01-10 04:27:51,1918,105381868,tractor,DYET,NaN,40.373703,-76.676620,...,0,437.1,5.2,0,1,707,2485,3,MPH,"3941,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
1582,78400,13942767,2017-01-17 04:19:42,1918,105381868,tractor,DYET,NaN,37.932685,-79.233981,...,0,436.2,2.6,1,1,527,2484,3,MPH,"4117,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
2137,78955,14083105,2017-01-24 04:18:59,1918,105381868,tractor,DYET,NaN,33.457314,-90.629490,...,0,248.5,2.6,0,1,415,1359,3,MPH,"3546,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
2815,79633,14219049,2017-01-31 04:14:19,1918,105381868,tractor,DYET,NaN,35.992962,-87.488703,...,0,271.8,2.5,0,1,661,1617,3,MPH,"1872,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3378,80196,14357014,2017-02-07 04:14:19,1918,105381868,tractor,DYET,NaN,40.030509,-81.447453,...,0,305.6,4.8,0,1,452,1949,3,MPH,"3208,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3958,80776,14499475,2017-02-14 04:15:56,1918,105381868,tractor,DYET,NaN,38.705046,-80.662870,...,0,463.8,4.0,0,1,862,2761,3,MPH,"1975,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
4579,81397,14642654,2017-02-21 04:07:53,1918,105381868,tractor,DYET,NaN,37.932453,-79.234120,...,0,353.1,4.6,1,1,500,2231,3,MPH,"1580,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
5224,82042,14784556,2017-02-28 04:21:00,1918,105381868,tractor,DYET,NaN,36.467638,-86.685833,...,0,347.2,4.3,0,1,318,1840,3,MPH,"3199,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
5856,82674,14923633,2017-03-07 04:18:03,1918,105381868,tractor,DYET,NaN,36.066435,-86.435277,...,0,392.7,5.5,0,1,632,2325,3,MPH,"3433,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
6557,83375,15067277,2017-03-14 04:08:02,1918,105381868,tractor,DYET,NaN,34.262592,-83.817037,...,0,441.3,3.8,0,1,640,2525,3,MPH,"3172,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
7213,84031,15207001,2017-03-21 04:13:23,1918,105381868,tractor,DYET,NaN,36.066342,-86.434861,...,0,471.6,4.7,0,1,795,2832,3,MPH,"2482,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
7685,84503,15348962,2017-03-28 04:13:58,1918,105381868,tractor,DYET,NaN,33.999027,-93.182685,...,0,159.5,3.2,1,1,373,1025,3,MPH,"3631,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
8349,85167,15489622,2017-04-04 04:14:27,1918,105381868,tractor,DYET,NaN,40.391898,-74.454907,...,0,390.3,4.3,0,1,1263,2604,3,MPH,"5318,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
9092,85910,15629673,2017-04-11 04:33:09,1918,105381868,tractor,DYET,NaN,34.604259,-79.772361,...,0,418.2,3.8,1,1,646,2330,3,MPH,"3148,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
9531,86349,15764351,2017-04-18 04:12:09,1918,105381868,tractor,DYET,NaN,40.921157,-76.065092,...,0,387.0,5.7,0,1,461,2116,3,MPH,"4409,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
10208,88023,15904484,2017-04-25 04:28:09,1918,105381868,tractor,DYET,NaN,39.952824,-81.937175,...,0,344.6,7.8,0,1,482,2097,3,MPH,"4091,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
10827,88642,16043497,2017-05-02 04:21:48,1918,105381868,tractor,DYET,NaN,36.679212,-87.403101,...,0,339.6,4.6,0,1,731,1997,3,MPH,"3359,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
11416,89231,16180592,2017-05-09 04:16:35,1918,105381868,tractor,DYET,NaN,35.741018,-84.160416,...,0,437.7,2.6,0,1,832,2753,3,MPH,"1445,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
12155,89970,16314405,2017-05-16 04:15:51,1918,105381868,tractor,DYET,NaN,41.144074,-87.455370,...,0,357.5,3.3,0,1,640,2222,3,MPH,"5866,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
12532,91342,16451015,2017-05-23 04:18:32,1918,105381868,tractor,DYET,NaN,35.587685,-86.444074,...,0,360.8,3.7,0,1,453,2141,3,MPH,"6372,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13208,92018,16784161,2017-05-30 04:25:10,1918,105381868,tractor,DYET,NaN,35.232916,-85.825092,...,0,306.1,12.3,0,1,265,1730,3,MPH,"5823,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13846,92656,17256560,2017-06-06 04:14:57,1918,105381868,tractor,DYET,NaN,40.075370,-75.533148,...,0,436.1,7.0,0,1,517,2562,3,MPH,"5290,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
14457,93267,17826922,2017-06-13 04:20:02,1918,105381868,tractor,DYET,NaN,41.379398,-88.823055,...,0,421.3,15.6,0,1,574,2529,3,MPH,"4035,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
15077,93887,18448424,2017-06-20 04:17:40,1918,105381868,tractor,DYET,NaN,30.343796,-91.722546,...,0,371.6,78.0,0,1,671,1911,3,MPH,"1136,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
15695,94505,19079318,2017-06-27 04:04:22,1918,105381868,tractor,DYET,NaN,40.099351,-74.823796,...,0,486.1,63.0,1,1,1004,2763,3,MPH,"917,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
16314,95124,19699086,2017-07-04 04:18:33,1918,105381868,tractor,DYET,NaN,38.705601,-80.663333,...,0,348.8,54.0,0,1,602,1914,3,MPH,"2595,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
16948,95758,20295505,2017-07-11 04:14:35,1918,105381868,tractor,DYET,NaN,35.805833,-80.885879,...,0,411.8,84.6,0,1,701,2239,3,MPH,"179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
17292,96102,20335149,2017-07-11 11:24:40,1918,105381868,tractor,DYET,NaN,35.736666,-81.513240,...,0,0.0,0.0,0,0,0,0,0,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
17293,96103,20335150,2017-07-11 11:24:41,1918,105381868,tractor,DYET,NaN,35.736666,-81.513240,...,0,2.3,0.5,0,1,2,11,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
17721,96531,20931701,2017-07-18 04:20:17,1918,105381868,tractor,DYET,NaN,39.821666,-76.954537,...,0,397.8,58.8,0,1,591,2290,3,MPH,"1464,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
18449,98254,21584405,2017-07-25 04:38:33,1918,105381868,tractor,DYET,NaN,32.704999,-96.274953,...,0,275.0,26.0,0,1,484,1597,3,MPH,"2499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
18934,98739,22266534,2017-08-01 04:24:39,1918,105381868,tractor,DYET,NaN,39.654490,-79.744027,...,0,448.8,9.1,0,1,757,2598,3,MPH,"4826,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
19553,99358,22913836,2017-08-08 04:24:48,1918,105381868,tractor,DYET,NaN,33.121296,-96.097083,...,0,297.3,18.0,0,1,449,1856,3,MPH,"4900,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
20183,99988,23584255,2017-08-15 04:29:39,1918,105381868,tractor,DYET,NaN,40.436203,-76.490787,...,0,417.2,63.5,0,1,823,2361,3,MPH,"1688,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
20792,100597,24243585,2017-08-22 04:02:49,1918,105381868,tractor,DYET,NaN,40.122268,-75.777083,...,0,466.3,67.5,0,1,685,2536,3,MPH,"1059,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
21579,101384,24920130,2017-08-29 04:32:24,1918,105381868,tractor,DYET,NaN,37.596018,-85.865601,...,0,330.0,44.0,0,1,695,1827,3,MPH,"1057,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
21990,101795,25513291,2017-09-05 04:25:39,1918,105381868,tractor,DYET,NaN,36.951481,-80.884722,...,0,447.2,47.2,1,1,484,2292,3,MPH,"2315,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
22673,102478,26215967,2017-09-12 04:21:14,1918,105381868,tractor,DYET,NaN,38.866342,-77.322083,...,0,342.7,23.5,1,1,696,2163,3,MPH,"4545,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
23325,103130,26881794,2017-09-19 04:09:53,1918,105381868,tractor,DYET,NaN,40.823749,-74.029027,...,0,350.5,63.8,0,1,570,1801,3,MPH,"1828,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
24087,104891,27542344,2017-09-26 04:36:04,1918,105381868,tractor,DYET,NaN,40.178611,-77.518055,...,0,442.2,78.6,0,1,527,2247,3,MPH,"664,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
24701,105505,28206540,2017-10-03 04:29:48,1918,105381868,tractor,DYET,NaN,42.564861,-72.002962,...,0,329.0,89.5,0,1,415,1802,3,MPH,"532,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
25136,105940,28867791,2017-10-10 04:14:33,1918,105381868,tractor,DYET,NaN,29.751157,-98.057685,...,0,388.0,47.3,1,1,800,2374,3,MPH,"2657,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
26034,107829,29512597,2017-10-17 05:47:26,1918,105381868,tractor,DYET,NaN,34.600787,-82.653472,...,0,360.5,58.6,0,1,697,1992,3,MPH,"2707,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
26437,108232,30145800,2017-10-24 04:05:10,1918,105381868,tractor,DYET,NaN,37.827685,-85.724120,...,0,299.0,31.6,1,1,438,1409,3,MPH,"2786,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
27035,108830,30770744,2017-10-31 04:25:21,1918,105381868,tractor,DYET,NaN,39.478518,-76.266574,...,0,375.5,4.5,0,1,615,2198,3,MPH,"1407,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
27682,109477,31420709,2017-11-07 04:22:35,1918,105381868,tractor,DYET,NaN,40.078055,-76.766435,...,0,395.6,4.3,0,1,750,2339,3,MPH,"3549,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
28238,110033,32067508,2017-11-14 04:10:21,1918,105381868,tractor,DYET,NaN,42.178796,-83.230416,...,0,414.8,11.6,0,1,886,2307,3,MPH,"3119,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
28784,110579,32715687,2017-11-21 04:22:35,1918,105381868,tractor,DYET,NaN,37.826666,-85.724490,...,0,294.3,9.7,0,1,595,1813,3,MPH,"4666,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
29456,112249,33159396,2017-11-28 04:12:24,1918,105381868,tractor,DYET,NaN,36.066388,-86.434861,...,0,27.3,0.7,0,1,58,124,3,MPH,"419,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
30087,112880,33812241,2017-12-05 04:24:04,1918,105381868,tractor,DYET,NaN,40.462407,-76.339814,...,0,285.8,4.2,0,1,879,1780,3,MPH,"3470,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
30694,113487,34425572,2017-12-12 04:06:11,1918,105381868,tractor,DYET,NaN,40.096759,-74.824027,...,0,402.6,3.8,0,1,959,2171,3,MPH,"4453,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
31404,115196,35060155,2017-12-19 04:29:33,1918,105381868,tractor,DYET,NaN,32.129212,-94.333796,...,0,342.2,8.5,0,1,1182,1961,3,MPH,"2941,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
31873,115665,35512623,2017-12-26 04:21:42,1918,105381868,tractor,DYET,NaN,32.956157,-97.308333,...,0,380.0,2.6,0,1,1556,2542,3,MPH,"970,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."

In [30]:
events_levels_df['DriverID'].value_counts()

DYET          33866
SIMJIM        27161
VAUJAM        25712
ULAL          25449
ECKS          24105
CHAJO         23888
BULR          22974
BROD03        22253
CUNW          22195
PERT          21992
STEGA         21950
NARJ          21551
GALJU         21513
CHRN          21337
ANTR          20995
SWEJ          20839
FARMI         20808
TAYJON        20780
EDWTI         20767
SAVE          20310
DINE          20227
MORJAM        20193
CRES          19952
RUTP          19832
PRUH          19723
MARWI         19672
DEPK          19665
SIMJE         19398
SUTD          19355
WIET          19267
              ...
36728             1
DAVKEN            1
KUNDAV            1
FURLA             1
BEAT              1
TAYDO1            1
RYAC              0
DUNG              0
BRAMAT            0
EDNJ              0
OWEJE             0
SHOP!             0
WORJON            0
BIVD              0
HARJI             0
KANR              0
NESD              0
JOHLO             0
CUMR              0
ROKAN             0
RODS              0
MOSG              0
VASM              0
DEASONSHOP        0
SIMFR             0
WARJO             0
ROCJO             0
MORE              0
MCLA              0
WALK              0
Name: DriverID, Length: 948, dtype: int64

In [31]:
performance_df = pd.read_csv('data/Extranet2.QCPerformanceExtracts.csv',
                            parse_dates=['EventTimeStamp','LocationTimeStamp', 'DataStartTimeStamp','DataEndTimeStamp' ], 
                            infer_datetime_format=True)
# Remove invalid Truck IDs
performance_df = performance_df[performance_df.EquipmentID < 9999]

In [32]:
df_names_list = ['events_levels_df', 'levels_fueltank_df', 'optimization_fuel_df', 'units_df', 'transaction_df', 'performance_df']
df_list = [events_levels_df, levels_fueltank_df, optimization_fuel_df, units_df, transaction_df, performance_df]
df_dict = dict(zip(df_names_list, df_list))

for k, v in df_dict.items():
    print(k + ' shape: ' + str(v.shape))

events_levels_df shape: (7908406, 13)
levels_fueltank_df shape: (7908824, 2)
optimization_fuel_df shape: (836, 1)
units_df shape: (704, 2)
transaction_df shape: (147813, 21)
performance_df shape: (32253, 32)

In [39]:

events_levels_df.head()

,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,tankcap
12649083,2017-01-01 00:00:32.387,1992,BATK,30.34642,-81.70724,2017-01-01 00:00:30,0,39895.5,2,1,50.700001,101.400002,200
12649084,2017-01-01 00:01:24.867,1712,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27,0,360378.8,1,2,78.000000,156.000000,200
12649092,2017-01-01 00:04:15.053,1713,RUSR,35.58664,-84.52786,2017-01-01 00:04:17,67,377577.4,1,2,31.700001,63.400002,200
12649102,2017-01-01 00:04:10.260,1585,MCAD,35.15430,-90.14263,2017-01-01 00:04:10,0,513931.8,1,2,43.200001,108.000000,250
12649103,2017-01-01 00:10:13.187,1564,ULAL,39.90268,-84.19254,2017-01-01 00:10:11,3,498691.0,1,2,50.299999,125.750000,250