In [1]:
import pandas as pd 
import numpy as np 
#import gc
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Read in the merged data 2.0

In [44]:
col_names = ['idx1', 'idx2', 'Id', 'EventTimeStamp', 'EquipmentID', 'DriverID', 'Latitude',
       'Longitude', 'LocationTimeStamp', 'Speed', 'Odometer', 'IgnitionStatus',
       'EFReportReason', 'TankLevelPercent', 'TankLevelGallons',
       'ExactFuelEventId', 'truck', 'tankcap', 'refuel_datetime',
       'refuel_tr_sum', 'refuel_tr_id']

date_cols = ['EventTimeStamp', 'LocationTimeStamp', 'refuel_datetime' ]

In [48]:
len(col_names)

21

In [45]:
dtype_dict = {
    'Id' : 'uint64', 
    'EquipmentID' : 'category', 
    'DriverID' : 'category', 
    'Latitude' : 'float64', 
    'Longitude' : 'float64', 
    'Speed' : 'uint16', 
    'Odometer' : 'float64', 
    'IgnitionStatus' : 'category', 
    'EFReportReason' : 'category', 
    'TankLevelPercent' : 'float32', 
    'TankLevelGallons' : 'float32', 
    'ExactFuelEventId' : 'uint64', 
    'truck' : 'category', 
    'tankcap' : 'uint16', 
    'refuel_tr_sum' : 'float32', 
    'refuel_tr_id' : 'category' }

In [49]:
## Read the csv after creating the dtype_dict, col_names, and date_cols objects
t0 = datetime.now()
print('started at ', t0)

events_levels_df = pd.read_csv('/Users/paulomartinez/Downloads/events_levels_df.gz', skiprows=1, names=col_names,
                               dtype=dtype_dict, usecols=np.arange(2,21), 
                              parse_dates = date_cols, infer_datetime_format = True)
#9:29 pm - 9:30 pm

tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
events_levels_df.info(memory_usage='deep', null_counts=True)

started at  2018-05-04 17:54:44.371426
finished at  2018-05-04 17:55:38.910166
whole process took  0:00:54.538740
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908406 entries, 0 to 7908405
Data columns (total 19 columns):
Id                   7908406 non-null uint64
EventTimeStamp       7908406 non-null datetime64[ns]
EquipmentID          7908406 non-null category
DriverID             7798523 non-null category
Latitude             7908406 non-null float64
Longitude            7908406 non-null float64
LocationTimeStamp    7908406 non-null datetime64[ns]
Speed                7908406 non-null uint16
Odometer             7908406 non-null float64
IgnitionStatus       7908406 non-null category
EFReportReason       7908406 non-null category
TankLevelPercent     7908406 non-null float32
TankLevelGallons     7908406 non-null float32
ExactFuelEventId     7908406 non-null uint64
truck                7908406 non-null category
tankcap              7908406 non-null uint16
refuel_datetime      7795833 non-null datetime64[ns]
refuel_tr_sum        7795833 non-null float32
refuel_tr_id         7792002 non-null category
dtypes: category(6), datetime64[ns](3), float32(3), float64(3), uint16(2), uint64(2)
memory usage: 702.7 MB

In [50]:
events_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908406 entries, 0 to 7908405
Data columns (total 19 columns):
Id                   uint64
EventTimeStamp       datetime64[ns]
EquipmentID          category
DriverID             category
Latitude             float64
Longitude            float64
LocationTimeStamp    datetime64[ns]
Speed                uint16
Odometer             float64
IgnitionStatus       category
EFReportReason       category
TankLevelPercent     float32
TankLevelGallons     float32
ExactFuelEventId     uint64
truck                category
tankcap              uint16
refuel_datetime      datetime64[ns]
refuel_tr_sum        float32
refuel_tr_id         category
dtypes: category(6), datetime64[ns](3), float32(3), float64(3), uint16(2), uint64(2)
memory usage: 697.2 MB

# Drop the noisy rows

In [6]:
#list of noisy row ids
bad_row_Id = [12657126,
 12657127,
 12746275,
 12946311,
 13039741,
 13092342,
 13092343,
 13092344,
 13092345,
 13092346,
 13092347,
 13092555,
 13156996,
 13156997,
 13174091,
 13313530,
 13381098,
 13381099,
 13381100,
 13381101,
 13381102,
 13381103,
 13555164,
 13555165,
 13566460,
 13636409,
 13729945,
 13729946,
 13780017,
 13810682,
 13838489,
 13912193,
 13912251,
 13914679,
 13914680,
 13935785,
 14083809,
 14089445,
 14160586,
 14237432,
 14237433,
 14237448,
 14237449,
 14238192,
 14242725,
 14261769,
 14261770,
 14261771,
 14328059,
 14328060,
 14328061,
 14328062,
 14351176,
 14351177,
 14359863,
 14359864,
 14417642,
 14417643,
 14417644,
 14417645,
 14447049,
 14544626,
 14544627,
 14557081,
 14557505,
 14564960,
 14564961,
 14585667,
 14668575,
 14730292,
 14730293,
 14730294,
 14730295,
 14781469,
 14781470,
 14871213,
 14871214,
 14871215,
 14871237,
 14898651,
 14898652,
 14898653,
 14898654,
 14898655,
 14898656,
 14898657,
 14898658,
 14898659,
 14898660,
 14898661,
 14898662,
 14898663,
 14898664,
 14898665,
 14898666,
 14898667,
 14898668,
 14898669,
 14898670,
 14898671,
 14898672,
 14898673,
 14898674,
 14898675,
 14898676,
 14940092,
 14988050,
 14988052,
 14988053,
 14988054,
 15213067,
 15272473,
 15272474,
 15272475,
 15272476,
 15272477,
 15338152,
 15338153,
 15338154,
 15338155,
 15338156,
 15409791,
 15409792,
 15409793,
 15409794,
 15434374,
 15434375,
 15459392,
 15513384,
 15513385,
 15513386,
 15529682,
 15530029,
 15530030,
 15552006,
 15670484,
 15670485,
 15670486,
 15686110,
 15686111,
 15686139,
 15686140,
 15686141,
 15686142,
 15686143,
 15686144,
 15686145,
 15970716,
 15970719,
 15970720,
 16121249,
 16206897,
 16285004,
 16297322,
 16297323,
 16297324,
 16297325,
 16297326,
 16297327,
 16297328,
 16297329,
 16297330,
 16297331,
 16297332,
 16349951,
 16414146,
 16414147,
 16521380,
 16521381,
 16521382,
 16773389,
 16946873,
 16946874,
 16946875,
 17029642,
 17044451,
 17048531,
 17048532,
 17048533,
 17052293,
 17079226,
 17091437,
 17091438,
 17135503,
 17141248,
 17141249,
 17239056,
 17306363,
 17306364,
 17306365,
 17306366,
 17353645,
 17353647,
 17523789,
 17558391,
 17600517,
 17600518,
 17600519,
 17600520,
 17600521,
 17625382,
 17848054,
 18034883,
 18077107,
 18077136,
 18219769,
 18219770,
 18286629,
 18287766,
 18287797,
 18372956,
 18397269,
 18442627,
 18442628,
 18442629,
 18442630,
 18479608,
 18571739,
 18571740,
 18600441,
 18600444,
 18600445,
 18604899,
 18769793,
 18769794,
 18769795,
 18769796,
 18778132,
 18778133,
 18878427,
 18943054,
 18943055,
 18943056,
 18986682,
 19064535,
 19129470,
 19129471,
 19151185,
 19151187,
 19431189,
 19431190,
 19473744,
 19473747,
 19473748,
 19473749,
 19473750,
 19516211,
 19585856,
 19647247,
 19647248,
 19647249,
 19647307,
 19647308,
 19647309,
 19659265,
 19667110,
 19682036,
 19682037,
 19771347,
 19805675,
 19865184,
 19865185,
 19865186,
 19865187,
 19865188,
 19865189,
 19865190,
 19865191,
 19865192,
 19865193,
 19865194,
 19865195,
 19865196,
 19865197,
 19865198,
 19865199,
 19866576,
 19866577,
 19867559,
 19867560,
 19867561,
 19867562,
 19867563,
 19867564,
 19867891,
 19867892,
 19867893,
 19867894,
 19867895,
 19867896,
 19867897,
 19867898,
 19867899,
 19867900,
 19867901,
 19868038,
 19869152,
 19869153,
 19869463,
 19869464,
 19869465,
 19869466,
 19869467,
 19869468,
 19869469,
 19869587,
 19869588,
 19869589,
 19869590,
 19870675,
 19870676,
 19870677,
 19871176,
 19871177,
 19872846,
 19872847,
 19872848,
 19872849,
 19872850,
 19882277,
 19882278,
 19882279,
 19882280,
 19882281,
 19917072,
 19917073,
 19917074,
 19917075,
 19917076,
 19950534,
 19950535,
 19953297,
 19953300,
 19965259,
 19970595,
 20002163,
 20008440,
 20008443,
 20052156,
 20052455,
 20052456,
 20131852,
 20162872,
 20169350,
 20169351,
 20207146,
 20246645,
 20248564,
 20270484,
 20270487,
 20270488,
 20383219,
 20432075,
 20432104,
 20475553,
 20482760,
 20502251,
 20526997,
 20526998,
 20526999,
 20527000,
 20527090,
 20527091,
 20527092,
 20527093,
 20534852,
 20534853,
 20586712,
 20587078,
 20587079,
 20667306,
 20667307,
 20667932,
 20735846,
 20752293,
 20794736,
 20794737,
 20794738,
 20794739,
 20794740,
 20795223,
 20795224,
 20795225,
 20795226,
 20795227,
 20795545,
 20795546,
 20795547,
 20795550,
 20795551,
 20795553,
 20796460,
 20796461,
 20796462,
 20802387,
 20802388,
 20826624,
 20833078,
 20833079,
 20895567,
 20895568,
 20895569,
 20895570,
 20895571,
 20896364,
 20974377,
 20975272,
 20975273,
 20975274,
 20994196,
 21093100]

In [7]:
type(bad_row_Id[0])

int

In [12]:
#bs = [i not in bad_row_Id for i in events_levels_df.Id]
bs
#this list comprehension will take aproximately 1.5 hours

#started running anew 12:32 am
    #try again for all of it. 8Mil is 8 times more so, 
    #expect 80 minutes...
    
    # 1,000,000 rows began at 12:17 am - 12:28 am
        #I suppose that if 100K took 2 minutes, then ten times that
        #would take 20 minutes
    
    #100,000 rows took 12:15 am - 12:17 am

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 ...]

In [51]:
#Jarrod says: For removing the bad rows, Pandas actually has good
#methods for creating a boolean series using a list or other criteria.
#Try this:
#redefine the df
t0 = datetime.now()
print('started at ', datetime.now())
bs2 = events_levels_df.Id.isin(bad_row_Id) == False
events_levels_df = events_levels_df[bs2]
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
#events_levels_df.info(memory_usage='deep', null_counts=True)

started at  2018-05-04 17:56:47.808818
finished at  2018-05-04 17:56:49.917659
whole process took  0:00:02.108881

In [52]:
'''#redefine the df
t0 = datetime.now()
print('started at ', datetime.now())
events_levels_df = events_levels_df[bs]
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
events_levels_df.info()'''

"#redefine the df\nt0 = datetime.now()\nprint('started at ', datetime.now())\nevents_levels_df = events_levels_df[bs]\ntf = datetime.now()\nprint('finished at ', tf)\nprint('whole process took ', tf-t0)\nevents_levels_df.info()"

In [53]:
events_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7907995 entries, 0 to 7908405
Data columns (total 19 columns):
Id                   uint64
EventTimeStamp       datetime64[ns]
EquipmentID          category
DriverID             category
Latitude             float64
Longitude            float64
LocationTimeStamp    datetime64[ns]
Speed                uint16
Odometer             float64
IgnitionStatus       category
EFReportReason       category
TankLevelPercent     float32
TankLevelGallons     float32
ExactFuelEventId     uint64
truck                category
tankcap              uint16
refuel_datetime      datetime64[ns]
refuel_tr_sum        float32
refuel_tr_id         category
dtypes: category(6), datetime64[ns](3), float32(3), float64(3), uint16(2), uint64(2)
memory usage: 757.5 MB

# Row cleaning was successful ‚úÖ

#### Now I need to drop all rows with timestamps inside of the time range of consecutive refuelings
- to do this, I'll need to identify each trucks fueling purchases

It looks like Jarrod‚Äôs merge produced a litany of duplicate refuel_datetime values. ‚õΩÔ∏è ‚õΩÔ∏è ...‚õΩÔ∏è 

- ‚úÖ This could make sense since every fuel level measurement that happened between refuel_datetime times might have received the preceding/merged refuel_datetime time-stamp.

Assuming this is the case, I should be able to run a modified version of my flag function to flag "inter-fueling-rows". üá≤üáΩ
- leaving us with a "feather-light" 89,976 rows

##### attempt to flag inter-fueling-rows

    ü¶Ç 
    Q: (is it possible that I would have dropped a noisy row that also happened to identify the next fueling event? 
    
    
    A: Perhaps, (although the odds of having this problem are only 411/7.9Million). Regardless, we should be fine, since the following row will have a sufficiently close timestamp and odometer reading.) 
    So, we're good to go 
    üòÅ üöÄ

In [54]:
#sort by truck and date
t0 = datetime.now()
print('started at ', t0)
events_levels_df.sort_values(['truck', 'EventTimeStamp'],
                                     inplace = True
                                         )
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)

events_levels_df
#started sort at 12:10 am - 12:10 am

started at  2018-05-04 17:58:13.493029
finished at  2018-05-04 17:58:21.011533
whole process took  0:00:07.518504

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime,refuel_tr_sum,refuel_tr_id
2443,12804900,2017-01-09 08:03:30.687,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT,NaN,NaN
2445,12804901,2017-01-09 08:05:30.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT,NaN,NaN
2451,12804902,2017-01-09 08:17:10.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT,NaN,NaN
2514,12804904,2017-01-09 12:24:31.170,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT,NaN,NaN
2515,12804903,2017-01-09 12:25:41.203,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT,NaN,NaN
2530,12804905,2017-01-09 14:04:41.767,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT,NaN,NaN
2531,12804906,2017-01-09 14:06:31.780,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT,NaN,NaN
2535,12804907,2017-01-09 14:26:11.797,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT,NaN,NaN
2536,12804908,2017-01-09 14:28:21.813,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT,NaN,NaN
2543,12804899,2017-01-09 14:36:01.877,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT,NaN,NaN
2545,12804909,2017-01-09 14:38:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT,NaN,NaN
2547,12804910,2017-01-09 14:40:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT,NaN,NaN
2555,12804911,2017-01-09 15:00:41.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT,NaN,NaN
2564,12804912,2017-01-09 15:15:51.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT,NaN,NaN
2571,12804913,2017-01-09 15:24:31.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT,NaN,NaN
406354,12650361,2017-01-01 08:12:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00,50.020000,42598121
406355,12650362,2017-01-01 08:14:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00,50.020000,42598121
406356,12650363,2017-01-01 08:29:37.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00,50.020000,42598121
406357,12650364,2017-01-01 08:30:47.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00,50.020000,42598121
406358,12651601,2017-01-01 12:05:57.983,1513,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00,50.020000,42598121
406359,12651602,2017-01-01 12:07:47.967,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00,50.020000,42598121
406360,12651603,2017-01-01 12:08:18.090,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00,50.020000,42598121
406361,12651635,2017-01-01 12:13:27.997,1513,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00,98.320000,42715248
406362,12651636,2017-01-01 12:15:37.997,1513,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00,98.320000,42715248
406363,12651716,2017-01-01 12:30:38.060,1513,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00,98.320000,42715248
406364,12652008,2017-01-01 13:16:28.233,1513,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00,98.320000,42715248
406365,12652047,2017-01-01 13:18:28.233,1513,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00,98.320000,42715248
406366,12652048,2017-01-01 13:20:28.263,1513,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00,98.320000,42715248
406367,12652072,2017-01-01 13:22:28.263,1513,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00,98.320000,42715248
406368,12652109,2017-01-01 13:26:28.263,1513,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00,98.320000,42715248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673701,21118922,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118922,310,120,2018-03-22 02:49:00,38.049999,1776593
673702,21118936,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118936,310,120,2018-03-22 02:49:00,38.049999,1776593
673703,21119031,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119031,310,120,2018-03-22 02:49:00,38.049999,1776593
673704,21119063,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119063,310,120,2018-03-22 02:49:00,38.049999,1776593
673705,21119100,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119100,310,120,2018-03-22 02:49:00,38.049999,1776593
673706,21119154,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119154,310,120,2018-03-22 02:49:00,38.049999,1776593
673707,21119224,2018-03-21 23:04:45.920,310,BEVL,35.26409,-86.39845,2018-03-21 23:04:47,0,260824.7,1,0,34.900002,41.880001,21119224,310,120,2018-03-22 02:49:00,38.049999,1776593
673708,21119340,2018-03-21 23:19:45.950,310,BEVL,35.26410,-86.39848,2018-03-21 23:19:47,0,260824.7,1,2,35.599998,42.720001,21119340,310,120,2018-03-22 02:49:00,38.049999,1776593
673709,21119397,2018-03-21 23:34:46.030,310,BEVL,35.27240,-86.39742,2018-03-21 23:34:47,5,260825.4,1,2,34.000000,40.799999,21119397,310,120,2018-03-22 02:49:00,38.049999,1776593
673710,21119416,2018-03-21 23:38:06.013,310,BEVL,35.26360,-86.39919,2018-03-21 23:38:07,0,260826.1,2,1,34.200001,41.040001,21119416,310,120,2018-03-22 02:49:00,38.049999,1776593
673711,21119458,2018-03-21 23:46:26.043,310,BEVL,35.26241,-86.39509,2018-03-21 23:46:27,5,260826.4,1,0,33.299999,39.959999,21119458,310,120,2018-03-22 02:49:00,38.049999,1776593
673712,21119532,2018-03-22 00:01:26.137,310,BEVL,35.20152,-86.49736,2018-03-22 00:01:27,59,260836.4,1,2,34.700001,41.639999,21119532,310,120,2018-03-22 02:49:00,38.049999,1776593
673713,21119618,2018-03-22 00:16:36.263,310,BEVL,35.14628,-86.57983,2018-03-22 00:16:38,5,260843.8,1,1,35.299999,42.360001,21119618,310,120,2018-03-22 02:49:00,38.049999,1776593
673714,21119689,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119689,310,120,2018-03-22 02:49:00,38.049999,1776593
673715,21119706,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119706,310,120,2018-03-22 02:49:00,38.049999,1776593
673716,21119690,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119690,310,120,2018-03-22 02:49:00,38.049999,1776593
673717,21119707,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119707,310,120,2018-03-22 02:49:00,38.049999,1776593
673718,21119721,2018-03-22 00:35:06.373,310,BEVL,35.15119,-86.59468,2018-03-22 00:35:08,31,260846.2,1,0,33.200001,39.840000,21119721,310,120,2018-03-22 02:49:00,38.049999,1776593
673719,21119823,2018-03-22 00:50:06.437,310,BEVL,35.20706,-86.48150,2018-03-22 00:50:08,42,260855.3,1,2,32.200001,38.639999,21119823,310,120,2018-03-22 02:49:00,38.049999,1776593
673720,21119905,2018-03-22 01:05:06.513,310,BEVL,35.27241,-86.39709,2018-03-22 01:05:08,0,260863.1,1,2,30.500000,36.599998,21119905,310,120,2018-03-22 02:49:00,38.049999,1776593
673721,21119925,2018-03-22 01:07:26.543,310,BEVL,35.27230,-86.39701,2018-03-22 01:07:28,0,260863.1,2,1,29.799999,35.759998,21119925,310,120,2018-03-22 02:49:00,38.049999,1776593
673722,21120012,2018-03-22 01:23:46.717,310,BEVL,35.27230,-86.39748,2018-03-22 01:23:48,5,260863.2,1,0,31.600000,37.919998,21120012,310,120,2018-03-22 02:49:00,38.049999,1776593
673723,21120101,2018-03-22 01:38:46.747,310,BEVL,35.34875,-86.37777,2018-03-22 01:38:48,43,260871.2,1,2,31.400000,37.680000,21120101,310,120,2018-03-22 02:49:00,38.049999,1776593
673724,21120277,2018-03-22 02:03:56.967,310,BEVL,35.58812,-86.44033,2018-03-22 02:03:58,0,260889.3,1,2,29.100000,34.919998,21120277,310,120,2018-03-22 02:49:00,38.049999,1776593
673725,21120377,2018-03-22 02:19:06.950,310,BEVL,35.75248,-86.40568,2018-03-22 02:19:08,47,260900.7,1,2,27.100000,32.520000,21120377,310,120,2018-03-22 02:49:00,38.049999,1776593
673726,21120465,2018-03-22 02:33:16.950,310,BEVL,35.79507,-86.38428,2018-03-22 02:33:18,0,260906.0,2,1,25.799999,30.959999,21120465,310,120,2018-03-22 02:49:00,38.049999,1776593
673727,21120494,2018-03-22 02:38:16.950,310,BEVL,35.79680,-86.38071,2018-03-22 02:38:18,11,260906.2,1,0,24.900000,29.879999,21120494,310,120,2018-03-22 02:49:00,38.049999,1776593
673728,21120515,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120515,310,120,2018-03-22 02:49:00,38.049999,1776593
673729,21120529,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120529,310,120,2018-03-22 02:49:00,38.049999,1776593
673730,21120577,2018-03-22 02:53:07.060,310,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00,129.330002,47874741

In [55]:
#reset the index now that we have dropped the noisy odometer rows
t0 = datetime.now()
print('started at ', t0)
events_levels_df.reset_index(inplace = True, drop = True)
events_levels_df
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)

started at  2018-05-04 17:59:04.628213
finished at  2018-05-04 17:59:04.636163
whole process took  0:00:00.007950

In [56]:
events_levels_df

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime,refuel_tr_sum,refuel_tr_id
0,12804900,2017-01-09 08:03:30.687,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT,NaN,NaN
1,12804901,2017-01-09 08:05:30.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT,NaN,NaN
2,12804902,2017-01-09 08:17:10.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT,NaN,NaN
3,12804904,2017-01-09 12:24:31.170,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT,NaN,NaN
4,12804903,2017-01-09 12:25:41.203,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT,NaN,NaN
5,12804905,2017-01-09 14:04:41.767,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT,NaN,NaN
6,12804906,2017-01-09 14:06:31.780,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT,NaN,NaN
7,12804907,2017-01-09 14:26:11.797,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT,NaN,NaN
8,12804908,2017-01-09 14:28:21.813,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT,NaN,NaN
9,12804899,2017-01-09 14:36:01.877,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT,NaN,NaN
10,12804909,2017-01-09 14:38:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT,NaN,NaN
11,12804910,2017-01-09 14:40:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT,NaN,NaN
12,12804911,2017-01-09 15:00:41.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT,NaN,NaN
13,12804912,2017-01-09 15:15:51.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT,NaN,NaN
14,12804913,2017-01-09 15:24:31.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT,NaN,NaN
15,12650361,2017-01-01 08:12:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00,50.020000,42598121
16,12650362,2017-01-01 08:14:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00,50.020000,42598121
17,12650363,2017-01-01 08:29:37.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00,50.020000,42598121
18,12650364,2017-01-01 08:30:47.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00,50.020000,42598121
19,12651601,2017-01-01 12:05:57.983,1513,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00,50.020000,42598121
20,12651602,2017-01-01 12:07:47.967,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00,50.020000,42598121
21,12651603,2017-01-01 12:08:18.090,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00,50.020000,42598121
22,12651635,2017-01-01 12:13:27.997,1513,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00,98.320000,42715248
23,12651636,2017-01-01 12:15:37.997,1513,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00,98.320000,42715248
24,12651716,2017-01-01 12:30:38.060,1513,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00,98.320000,42715248
25,12652008,2017-01-01 13:16:28.233,1513,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00,98.320000,42715248
26,12652047,2017-01-01 13:18:28.233,1513,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00,98.320000,42715248
27,12652048,2017-01-01 13:20:28.263,1513,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00,98.320000,42715248
28,12652072,2017-01-01 13:22:28.263,1513,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00,98.320000,42715248
29,12652109,2017-01-01 13:26:28.263,1513,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00,98.320000,42715248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7907965,21118922,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118922,310,120,2018-03-22 02:49:00,38.049999,1776593
7907966,21118936,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118936,310,120,2018-03-22 02:49:00,38.049999,1776593
7907967,21119031,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119031,310,120,2018-03-22 02:49:00,38.049999,1776593
7907968,21119063,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119063,310,120,2018-03-22 02:49:00,38.049999,1776593
7907969,21119100,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119100,310,120,2018-03-22 02:49:00,38.049999,1776593
7907970,21119154,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119154,310,120,2018-03-22 02:49:00,38.049999,1776593
7907971,21119224,2018-03-21 23:04:45.920,310,BEVL,35.26409,-86.39845,2018-03-21 23:04:47,0,260824.7,1,0,34.900002,41.880001,21119224,310,120,2018-03-22 02:49:00,38.049999,1776593
7907972,21119340,2018-03-21 23:19:45.950,310,BEVL,35.26410,-86.39848,2018-03-21 23:19:47,0,260824.7,1,2,35.599998,42.720001,21119340,310,120,2018-03-22 02:49:00,38.049999,1776593
7907973,21119397,2018-03-21 23:34:46.030,310,BEVL,35.27240,-86.39742,2018-03-21 23:34:47,5,260825.4,1,2,34.000000,40.799999,21119397,310,120,2018-03-22 02:49:00,38.049999,1776593
7907974,21119416,2018-03-21 23:38:06.013,310,BEVL,35.26360,-86.39919,2018-03-21 23:38:07,0,260826.1,2,1,34.200001,41.040001,21119416,310,120,2018-03-22 02:49:00,38.049999,1776593
7907975,21119458,2018-03-21 23:46:26.043,310,BEVL,35.26241,-86.39509,2018-03-21 23:46:27,5,260826.4,1,0,33.299999,39.959999,21119458,310,120,2018-03-22 02:49:00,38.049999,1776593
7907976,21119532,2018-03-22 00:01:26.137,310,BEVL,35.20152,-86.49736,2018-03-22 00:01:27,59,260836.4,1,2,34.700001,41.639999,21119532,310,120,2018-03-22 02:49:00,38.049999,1776593
7907977,21119618,2018-03-22 00:16:36.263,310,BEVL,35.14628,-86.57983,2018-03-22 00:16:38,5,260843.8,1,1,35.299999,42.360001,21119618,310,120,2018-03-22 02:49:00,38.049999,1776593
7907978,21119689,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119689,310,120,2018-03-22 02:49:00,38.049999,1776593
7907979,21119706,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119706,310,120,2018-03-22 02:49:00,38.049999,1776593
7907980,21119690,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119690,310,120,2018-03-22 02:49:00,38.049999,1776593
7907981,21119707,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119707,310,120,2018-03-22 02:49:00,38.049999,1776593
7907982,21119721,2018-03-22 00:35:06.373,310,BEVL,35.15119,-86.59468,2018-03-22 00:35:08,31,260846.2,1,0,33.200001,39.840000,21119721,310,120,2018-03-22 02:49:00,38.049999,1776593
7907983,21119823,2018-03-22 00:50:06.437,310,BEVL,35.20706,-86.48150,2018-03-22 00:50:08,42,260855.3,1,2,32.200001,38.639999,21119823,310,120,2018-03-22 02:49:00,38.049999,1776593
7907984,21119905,2018-03-22 01:05:06.513,310,BEVL,35.27241,-86.39709,2018-03-22 01:05:08,0,260863.1,1,2,30.500000,36.599998,21119905,310,120,2018-03-22 02:49:00,38.049999,1776593
7907985,21119925,2018-03-22 01:07:26.543,310,BEVL,35.27230,-86.39701,2018-03-22 01:07:28,0,260863.1,2,1,29.799999,35.759998,21119925,310,120,2018-03-22 02:49:00,38.049999,1776593
7907986,21120012,2018-03-22 01:23:46.717,310,BEVL,35.27230,-86.39748,2018-03-22 01:23:48,5,260863.2,1,0,31.600000,37.919998,21120012,310,120,2018-03-22 02:49:00,38.049999,1776593
7907987,21120101,2018-03-22 01:38:46.747,310,BEVL,35.34875,-86.37777,2018-03-22 01:38:48,43,260871.2,1,2,31.400000,37.680000,21120101,310,120,2018-03-22 02:49:00,38.049999,1776593
7907988,21120277,2018-03-22 02:03:56.967,310,BEVL,35.58812,-86.44033,2018-03-22 02:03:58,0,260889.3,1,2,29.100000,34.919998,21120277,310,120,2018-03-22 02:49:00,38.049999,1776593
7907989,21120377,2018-03-22 02:19:06.950,310,BEVL,35.75248,-86.40568,2018-03-22 02:19:08,47,260900.7,1,2,27.100000,32.520000,21120377,310,120,2018-03-22 02:49:00,38.049999,1776593
7907990,21120465,2018-03-22 02:33:16.950,310,BEVL,35.79507,-86.38428,2018-03-22 02:33:18,0,260906.0,2,1,25.799999,30.959999,21120465,310,120,2018-03-22 02:49:00,38.049999,1776593
7907991,21120494,2018-03-22 02:38:16.950,310,BEVL,35.79680,-86.38071,2018-03-22 02:38:18,11,260906.2,1,0,24.900000,29.879999,21120494,310,120,2018-03-22 02:49:00,38.049999,1776593
7907992,21120515,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120515,310,120,2018-03-22 02:49:00,38.049999,1776593
7907993,21120529,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120529,310,120,2018-03-22 02:49:00,38.049999,1776593
7907994,21120577,2018-03-22 02:53:07.060,310,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00,129.330002,47874741

In [26]:
def flag_droppable_fuel_event_rows(df):#!!!! requires a dataframe with a reset index!!!!
    '''takes a dataframe with a (fueling) datetime column and returns a boolean index 
    identifying which rows are inter-fueling readings and can be dropped.
    '''
    t0 = datetime.now()
    print('started at ', t0)
    
    flags = [] #initialize boolean index as a list
    flag = True #set first flag to keep
    for i in range(len(df.refuel_datetime)-1):#loop through the n-1 rows of the df (we'll assign the nth row below, once the loop is done).
        flags.append(flag) #We'll keep the first row (i = 0)
        #if the next row has the same refuel_datetime timestamp, then we want to flag it for dropping
        if (df.refuel_datetime[i + 1] == df.refuel_datetime[i]):
            flag = False #turn the flag state from keep to drop
        else: #if the next refuel_datetime is different, then we want to keep it. Notice that this will keep the last refuel_datetime row for any given truck because the next row will have a different time stamp
            flag = True #turn the flag state from drop to keep 
            #since we sorted by truck and EventTimeStamp it should be extremely unlikely that the next truck's first recorded fueling event is at the exact same time-stamp as the former truck's last fueling timestamp, so we'll just assume that we don't need to verify we're working with the same truck 
    flags.append(True)#make sure to keep the last row (which will probably have the same timestamp as it's predecessor but, since it is the last record, we need to keep it to determine the last odometer reading of the truck at the last row)
    
    tf = datetime.now()
    print('finished at ', tf)
    print('whole process took ', tf-t0)
    
    return flags

In [57]:
# Jarrod Johnson: Try this instead of the loop for just getting the fuel transactions
events_grp =events_levels_df[['DriverID', 'EventTimeStamp', 'EquipmentID',
                              'Odometer', 'refuel_tr_id', 'refuel_tr_sum', 
                              'refuel_datetime']].groupby(['DriverID', 'EquipmentID', 'refuel_datetime'])

agg_dict = {'Odometer' : ['min', 'max'], 
           'EventTimeStamp' : ['first', 'last'], 
           'refuel_tr_id' : 'first', 
           'refuel_tr_sum' : 'first'}

t0 = datetime.now()
print('started at ', t0)

events_grp_df = events_grp.agg(agg_dict)

tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
events_grp_df.info(memory_usage='deep', null_counts=True)

started at  2018-05-04 18:00:49.198389
finished at  2018-05-04 18:01:02.193024
whole process took  0:00:12.994635
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 101112 entries, (ABBV, 1821, 2017-03-04 13:49:00) to (ZAMJ, 1588, 2017-06-01 08:14:00)
Data columns (total 6 columns):
(Odometer, min)            101112 non-null float64
(Odometer, max)            101112 non-null float64
(EventTimeStamp, first)    101112 non-null datetime64[ns]
(EventTimeStamp, last)     101112 non-null datetime64[ns]
(refuel_tr_id, first)      101078 non-null object
(refuel_tr_sum, first)     101112 non-null float32
dtypes: datetime64[ns](2), float32(1), float64(2), object(1)
memory usage: 11.3 MB

In [65]:
events_grp_df.head(700).tail(30)

                                          Odometer            \
                                               min       max
DriverID EquipmentID refuel_datetime
ALDS     1753        2017-11-04 09:01:00  383049.0  383933.1
                     2017-11-07 07:29:00  383933.1  384661.9
                     2017-11-08 16:30:00  384662.0  385361.8
                     2017-11-11 13:07:00  385361.8  386191.1
                     2017-11-14 15:35:00  386191.5  387078.0
                     2017-11-15 07:52:00  387078.0  387416.4
                     2017-11-17 07:32:00  387416.4  388321.5
                     2017-11-20 13:10:00  388321.5  389147.2
                     2017-11-22 12:54:00  389147.4  390034.5
                     2017-11-23 13:05:00  390034.5  390791.3
                     2017-11-28 14:57:00  390791.6  391454.2
                     2017-11-30 15:37:00  391454.2  392512.2
                     2017-12-04 12:04:00  392512.3  393401.7
                     2017-12-05 23:11:00  393401.7  394183.9
                     2017-12-06 20:52:00  394184.1  394658.6
                     2017-12-09 13:12:00  394658.8  395447.4
                     2017-12-12 11:29:00  395447.7  396363.8
                     2017-12-14 16:59:00  396363.9  397079.7
                     2017-12-18 14:19:00  397080.3  398068.1
                     2017-12-20 15:52:00  398069.1  398851.2
                     2017-12-26 12:26:00  398851.2  399883.6
                     2017-12-27 17:08:00  399883.8  400599.1
                     2017-12-29 18:50:00  400599.3  401514.1
                     2018-01-03 19:52:00  401515.7  402277.1
                     2018-01-06 12:08:00  402277.2  403091.1
                     2018-01-09 13:06:00  403091.1  403765.7
                     2018-01-11 11:37:00  429537.9  429658.1
                     2018-01-12 13:35:00  403765.8  404736.2
                     2018-01-14 18:00:00  404736.2  405546.5
                     2018-01-16 11:09:00  405546.5  406349.7

                                                  EventTimeStamp  \
                                                           first
DriverID EquipmentID refuel_datetime
ALDS     1753        2017-11-04 09:01:00 2017-11-02 14:23:30.683
                     2017-11-07 07:29:00 2017-11-04 09:04:14.673
                     2017-11-08 16:30:00 2017-11-07 07:32:06.873
                     2017-11-11 13:07:00 2017-11-08 16:32:45.790
                     2017-11-14 15:35:00 2017-11-11 13:10:44.563
                     2017-11-15 07:52:00 2017-11-14 15:36:03.793
                     2017-11-17 07:32:00 2017-11-15 07:54:14.573
                     2017-11-20 13:10:00 2017-11-17 07:34:36.347
                     2017-11-22 12:54:00 2017-11-20 13:20:06.310
                     2017-11-23 13:05:00 2017-11-22 12:55:14.350
                     2017-11-28 14:57:00 2017-11-23 13:11:48.580
                     2017-11-30 15:37:00 2017-11-28 14:57:13.420
                     2017-12-04 12:04:00 2017-11-30 15:39:48.040
                     2017-12-05 23:11:00 2017-12-04 12:05:28.843
                     2017-12-06 20:52:00 2017-12-05 23:19:43.807
                     2017-12-09 13:12:00 2017-12-06 20:58:49.597
                     2017-12-12 11:29:00 2017-12-09 13:15:58.813
                     2017-12-14 16:59:00 2017-12-12 11:32:32.250
                     2017-12-18 14:19:00 2017-12-14 17:05:08.863
                     2017-12-20 15:52:00 2017-12-18 14:24:11.470
                     2017-12-26 12:26:00 2017-12-20 15:56:39.727
                     2017-12-27 17:08:00 2017-12-26 12:30:00.217
                     2017-12-29 18:50:00 2017-12-27 17:18:12.787
                     2018-01-03 19:52:00 2017-12-29 18:56:28.263
                     2018-01-06 12:08:00 2018-01-03 20:00:06.757
                     2018-01-09 13:06:00 2018-01-06 12:08:46.347
                     2018-01-11 11:37:00 2018-03-22 17:03:04.507
                     2018-01-12 13:35:00 2018-01-09 13:25:44.907
                     2018-01-14 18:00:00 2018-01-12 13:39:14.643
                     2018-01-16 11:09:00 2018-01-14 18:04:19.417

                                                                 refuel_tr_id  \
                                                            last        first
DriverID EquipmentID refuel_datetime
ALDS     1753        2017-11-04 09:01:00 2017-11-04 08:44:44.593     82219054
                     2017-11-07 07:29:00 2017-11-07 07:21:56.873     82568317
                     2017-11-08 16:30:00 2017-11-08 16:25:35.760     82823323
                     2017-11-11 13:07:00 2017-11-11 12:55:24.547     83256297
                     2017-11-14 15:35:00 2017-11-14 15:34:43.807     83653686
                     2017-11-15 07:52:00 2017-11-15 07:47:34.573     83747309
                     2017-11-17 07:32:00 2017-11-17 07:20:36.330     84093719
                     2017-11-20 13:10:00 2017-11-20 13:04:56.187     84505705
                     2017-11-22 12:54:00 2017-11-22 12:53:54.367     84824467
                     2017-11-23 13:05:00 2017-11-23 12:55:38.470     84932862
                     2017-11-28 14:57:00 2017-11-28 14:55:53.420     85457660
                     2017-11-30 15:37:00 2017-11-30 15:23:57.913     85810299
                     2017-12-04 12:04:00 2017-12-04 12:03:58.843     86419354
                     2017-12-05 23:11:00 2017-12-05 23:01:13.730     86685928
                     2017-12-06 20:52:00 2017-12-06 20:35:21.953     86853190
                     2017-12-09 13:12:00 2017-12-09 13:05:28.767     87264441
                     2017-12-12 11:29:00 2017-12-12 11:20:02.233     87639980
                     2017-12-14 16:59:00 2017-12-14 16:57:58.863     88051128
                     2017-12-18 14:19:00 2017-12-18 14:15:21.407     88547604
                     2017-12-20 15:52:00 2017-12-20 15:46:29.663     88892312
                     2017-12-26 12:26:00 2017-12-26 12:07:30.077     89473510
                     2017-12-27 17:08:00 2017-12-27 17:01:02.723     89638755
                     2017-12-29 18:50:00 2017-12-29 18:36:18.293     89937841
                     2018-01-03 19:52:00 2018-01-03 19:49:56.757     90476876
                     2018-01-06 12:08:00 2018-01-06 11:57:46.300     90868016
                     2018-01-09 13:06:00 2018-01-09 13:01:14.687     91249559
                     2018-01-11 11:37:00 2018-03-23 08:30:30.060     91570471
                     2018-01-12 13:35:00 2018-01-12 13:28:24.563     91756171
                     2018-01-14 18:00:00 2018-01-14 17:51:59.370     92012148
                     2018-01-16 11:09:00 2018-01-16 11:00:36.537     92239334

                                         refuel_tr_sum
                                                 first
DriverID EquipmentID refuel_datetime
ALDS     1753        2017-11-04 09:01:00    112.169998
                     2017-11-07 07:29:00    109.519997
                     2017-11-08 16:30:00    100.029999
                     2017-11-11 13:07:00    122.230003
                     2017-11-14 15:35:00    122.010002
                     2017-11-15 07:52:00     44.049999
                     2017-11-17 07:32:00    115.639999
                     2017-11-20 13:10:00    112.449997
                     2017-11-22 12:54:00    134.130005
                     2017-11-23 13:05:00     97.000000
                     2017-11-28 14:57:00    105.029999
                     2017-11-30 15:37:00    145.000000
                     2017-12-04 12:04:00    113.000000
                     2017-12-05 23:11:00    110.080002
                     2017-12-06 20:52:00     64.279999
                     2017-12-09 13:12:00    121.110001
                     2017-12-12 11:29:00    128.500000
                     2017-12-14 16:59:00    101.500000
                     2017-12-18 14:19:00    140.000000
                     2017-12-20 15:52:00    117.029999
                     2017-12-26 12:26:00    149.509995
                     2017-12-27 17:08:00    105.250000
                     2017-12-29 18:50:00    120.070000
                     2018-01-03 19:52:00    135.059998
                     2018-01-06 12:08:00    130.029999
                     2018-01-09 13:06:00    107.839996
                     2018-01-11 11:37:00    106.040001
                     2018-01-12 13:35:00    150.029999
                     2018-01-14 18:00:00    128.039993
                     2018-01-16 11:09:00    123.040001

In [66]:
events_grp_df

                                          Odometer            \
                                               min       max
DriverID EquipmentID refuel_datetime
ABBV     1821        2017-03-04 13:49:00  233185.1  233502.4
                     2017-03-29 12:32:00  174238.5  174485.7
                     2017-03-30 16:51:00  174485.8  175213.3
                     2017-04-01 08:27:00  175213.3  176005.3
                     2017-04-01 12:28:00  176005.3  176228.5
                     2017-04-02 14:43:00  176228.5  177030.0
                     2017-04-04 13:03:00  177030.0  177898.2
                     2017-04-07 03:45:00  177898.3  178702.9
                     2017-04-07 15:58:00  178702.9  179277.8
                     2017-04-10 16:20:00  179277.8  179806.3
                     2017-04-12 18:33:00  179806.3  180680.6
                     2017-04-13 14:18:00  180680.6  181138.2
                     2017-04-14 20:15:00  181138.3  181780.6
                     2017-04-15 16:58:00  181780.6  182338.4
                     2017-04-16 12:46:00  182338.5  182859.2
                     2017-04-17 13:23:00  182859.3  183342.2
                     2017-04-19 13:35:00  183342.2  184134.9
                     2017-04-20 02:53:00  184134.9  184290.0
                     2017-04-21 02:18:00  184290.1  184918.5
                     2017-04-22 02:00:00  184918.5  185537.8
                     2017-04-24 15:14:00  185537.8  186342.3
                     2017-04-25 09:40:00  186342.3  186834.5
                     2017-04-25 13:23:00  186834.5  187036.8
                     2017-04-27 05:41:00  187036.8  187796.6
                     2017-04-28 11:44:00  187773.8  188547.6
                     2017-05-01 19:18:00  188547.7  189204.3
                     2017-05-03 16:33:00  189204.3  189957.3
                     2017-05-08 11:50:00  189957.8  190813.0
                     2017-05-09 10:00:00  190813.0  191432.9
                     2017-05-10 06:27:00  191432.9  191924.2
...                                            ...       ...
ZAMJ     1588        2017-03-04 15:57:00  454560.8  454844.8
                     2017-03-05 13:22:00  454844.8  455324.7
                     2017-03-09 04:06:00  455324.8  456325.1
                     2017-03-12 06:05:00  456325.1  457461.0
                     2017-03-13 10:21:00  457461.0  457990.9
                     2017-03-15 07:35:00  457990.9  458555.3
                     2017-03-20 12:18:00  458555.6  459325.8
                     2017-03-21 15:21:00  459325.8  460032.8
                     2017-03-24 13:53:00  460032.8  461074.8
                     2017-03-28 12:20:00  461074.8  462004.0
                     2017-03-29 17:26:00  462004.8  462694.7
                     2017-03-31 14:59:00  462694.8  463840.1
                     2017-04-02 15:08:00  463840.1  464801.2
                     2017-04-05 14:20:00  464801.2  465984.0
                     2017-04-12 08:19:00  465984.0  467109.4
                     2017-04-14 16:16:00  467109.6  468126.9
                     2017-04-16 16:02:00  468126.9  469501.3
                     2017-04-18 12:33:00  469501.4  469918.6
                     2017-04-20 08:02:00  469918.7  470931.1
                     2017-04-22 05:17:00  470931.2  471630.1
                     2017-04-25 22:50:00  471630.1  472792.0
                     2017-05-03 14:55:00  472792.2  473744.3
                     2017-05-06 03:42:00  473744.3  474809.8
                     2017-05-08 10:44:00  474809.8  475615.2
                     2017-05-09 16:20:00  475615.2  476356.6
                     2017-05-11 08:27:00  476356.7  476991.8
                     2017-05-14 16:20:00  476991.8  478004.8
                     2017-05-16 11:59:00  478005.7  478775.8
                     2017-05-31 13:43:00  478775.8  479969.5
                     2017-06-01 08:14:00  479969.5  480401.6

                                                  EventTimeStamp  \
                                                           first
DriverID EquipmentID refuel_datetime
ABBV     1821        2017-03-04 13:49:00 2017-08-23 12:49:07.703
                     2017-03-29 12:32:00 2017-03-29 06:16:12.873
                     2017-03-30 16:51:00 2017-03-29 12:34:46.937
                     2017-04-01 08:27:00 2017-03-30 16:52:49.570
                     2017-04-01 12:28:00 2017-04-01 08:27:48.280
                     2017-04-02 14:43:00 2017-04-01 12:30:29.497
                     2017-04-04 13:03:00 2017-04-02 14:44:53.843
                     2017-04-07 03:45:00 2017-04-04 13:05:32.587
                     2017-04-07 15:58:00 2017-04-07 03:50:26.090
                     2017-04-10 16:20:00 2017-04-07 16:01:07.547
                     2017-04-12 18:33:00 2017-04-10 16:22:18.407
                     2017-04-13 14:18:00 2017-04-12 18:34:58.183
                     2017-04-14 20:15:00 2017-04-13 14:24:44.593
                     2017-04-15 16:58:00 2017-04-14 20:17:29.677
                     2017-04-16 12:46:00 2017-04-15 17:03:33.950
                     2017-04-17 13:23:00 2017-04-16 12:49:18.700
                     2017-04-19 13:35:00 2017-04-17 13:26:16.233
                     2017-04-20 02:53:00 2017-04-19 13:37:52.570
                     2017-04-21 02:18:00 2017-04-20 03:06:27.453
                     2017-04-22 02:00:00 2017-04-21 02:20:17.187
                     2017-04-24 15:14:00 2017-04-22 02:04:55.233
                     2017-04-25 09:40:00 2017-04-24 15:18:07.050
                     2017-04-25 13:23:00 2017-04-25 09:41:24.530
                     2017-04-27 05:41:00 2017-04-25 13:24:21.787
                     2017-04-28 11:44:00 2017-04-27 05:43:49.407
                     2017-05-01 19:18:00 2017-04-28 11:46:14.030
                     2017-05-03 16:33:00 2017-05-01 19:20:20.420
                     2017-05-08 11:50:00 2017-05-03 16:38:05.860
                     2017-05-09 10:00:00 2017-05-08 11:52:21.907
                     2017-05-10 06:27:00 2017-05-09 10:02:22.767
...                                                          ...
ZAMJ     1588        2017-03-04 15:57:00 2017-03-04 08:32:37.147
                     2017-03-05 13:22:00 2017-03-04 15:59:49.037
                     2017-03-09 04:06:00 2017-03-05 13:23:41.237
                     2017-03-12 06:05:00 2017-03-09 04:09:21.197
                     2017-03-13 10:21:00 2017-03-12 06:07:20.710
                     2017-03-15 07:35:00 2017-03-13 10:24:20.797
                     2017-03-20 12:18:00 2017-03-15 07:39:13.783
                     2017-03-21 15:21:00 2017-03-20 12:33:06.483
                     2017-03-24 13:53:00 2017-03-21 15:22:41.533
                     2017-03-28 12:20:00 2017-03-24 13:56:34.213
                     2017-03-29 17:26:00 2017-03-28 12:24:32.990
                     2017-03-31 14:59:00 2017-03-29 17:29:07.803
                     2017-04-02 15:08:00 2017-03-31 14:59:04.990
                     2017-04-05 14:20:00 2017-04-02 15:18:46.393
                     2017-04-12 08:19:00 2017-04-05 14:23:27.337
                     2017-04-14 16:16:00 2017-04-12 08:28:47.317
                     2017-04-16 16:02:00 2017-04-14 16:16:09.793
                     2017-04-18 12:33:00 2017-04-16 16:05:28.943
                     2017-04-20 08:02:00 2017-04-18 12:35:22.623
                     2017-04-22 05:17:00 2017-04-20 08:04:47.487
                     2017-04-25 22:50:00 2017-04-22 05:19:33.043
                     2017-05-03 14:55:00 2017-04-25 22:56:04.543
                     2017-05-06 03:42:00 2017-05-03 14:57:20.820
                     2017-05-08 10:44:00 2017-05-06 03:44:32.387
                     2017-05-09 16:20:00 2017-05-08 10:47:24.547
                     2017-05-11 08:27:00 2017-05-09 16:23:21.097
                     2017-05-14 16:20:00 2017-05-11 08:32:17.877
                     2017-05-16 11:59:00 2017-05-14 16:45:11.780
                     2017-05-31 13:43:00 2017-05-16 12:08:26.237
                     2017-06-01 08:14:00 2017-05-31 13:43:35.457

                                                                 refuel_tr_id  \
                                                            last        first
DriverID EquipmentID refuel_datetime
ABBV     1821        2017-03-04 13:49:00 2017-08-23 19:02:46.300     50015035
                     2017-03-29 12:32:00 2017-03-29 12:30:06.890     53074887
                     2017-03-30 16:51:00 2017-03-30 16:44:39.553     53262743
                     2017-04-01 08:27:00 2017-04-01 08:25:48.280     53458188
                     2017-04-01 12:28:00 2017-04-01 12:23:59.467     53480705
                     2017-04-02 14:43:00 2017-04-02 14:38:43.843     53575090
                     2017-04-04 13:03:00 2017-04-04 12:59:32.553     53809952
                     2017-04-07 03:45:00 2017-04-07 03:40:36.027     54188669
                     2017-04-07 15:58:00 2017-04-07 15:52:47.500     54271159
                     2017-04-10 16:20:00 2017-04-10 16:17:18.390     54575977
                     2017-04-12 18:33:00 2017-04-12 18:26:58.137     54886304
                     2017-04-13 14:18:00 2017-04-13 14:16:34.547     54995214
                     2017-04-14 20:15:00 2017-04-14 20:12:29.677     55165492
                     2017-04-15 16:58:00 2017-04-15 16:56:03.903     55230784
                     2017-04-16 12:46:00 2017-04-16 12:42:48.653     55287630
                     2017-04-17 13:23:00 2017-04-17 13:21:16.203     55384537
                     2017-04-19 13:35:00 2017-04-19 13:32:12.553     55669308
                     2017-04-20 02:53:00 2017-04-20 02:51:17.390     55748784
                     2017-04-21 02:18:00 2017-04-21 02:15:07.187     55906148
                     2017-04-22 02:00:00 2017-04-22 01:50:45.077     56039852
                     2017-04-24 15:14:00 2017-04-24 15:12:37.037     56290928
                     2017-04-25 09:40:00 2017-04-25 09:36:14.437     56386614
                     2017-04-25 13:23:00 2017-04-25 13:19:51.787     56418570
                     2017-04-27 05:41:00 2017-04-27 05:39:19.373     56659486
                     2017-04-28 11:44:00 2017-04-28 11:40:34.030     56852834
                     2017-05-01 19:18:00 2017-05-01 19:14:40.357     57220755
                     2017-05-03 16:33:00 2017-05-03 16:30:05.860     57493056
                     2017-05-08 11:50:00 2017-05-08 11:45:31.860     58053879
                     2017-05-09 10:00:00 2017-05-09 09:56:32.750     58181985
                     2017-05-10 06:27:00 2017-05-10 06:22:42.093     58305836
...                                                          ...          ...
ZAMJ     1588        2017-03-04 15:57:00 2017-03-04 15:43:48.990          NaN
                     2017-03-05 13:22:00 2017-03-05 13:12:31.223          NaN
                     2017-03-09 04:06:00 2017-03-09 03:54:01.120          NaN
                     2017-03-12 06:05:00 2017-03-12 05:48:30.540          NaN
                     2017-03-13 10:21:00 2017-03-13 10:06:20.780          NaN
                     2017-03-15 07:35:00 2017-03-15 07:28:13.783          NaN
                     2017-03-20 12:18:00 2017-03-20 12:06:56.403          NaN
                     2017-03-21 15:21:00 2017-03-21 15:13:01.500          NaN
                     2017-03-24 13:53:00 2017-03-24 13:39:14.057          NaN
                     2017-03-28 12:20:00 2017-03-28 12:06:42.990          NaN
                     2017-03-29 17:26:00 2017-03-29 17:23:27.803          NaN
                     2017-03-31 14:59:00 2017-03-31 14:48:24.943          NaN
                     2017-04-02 15:08:00 2017-04-02 14:57:56.347          NaN
                     2017-04-05 14:20:00 2017-04-05 14:11:17.337          NaN
                     2017-04-12 08:19:00 2017-04-12 08:06:57.177          NaN
                     2017-04-14 16:16:00 2017-04-14 16:03:19.717          NaN
                     2017-04-16 16:02:00 2017-04-16 15:46:48.883          NaN
                     2017-04-18 12:33:00 2017-04-18 12:17:02.453          NaN
                     2017-04-20 08:02:00 2017-04-20 07:44:57.440          NaN
                     2017-04-22 05:17:00 2017-04-22 05:08:33.027          NaN
                     2017-04-25 22:50:00 2017-04-25 22:34:24.527          NaN
                     2017-05-03 14:55:00 2017-05-03 14:47:20.760          NaN
                     2017-05-06 03:42:00 2017-05-06 03:33:52.353          NaN
                     2017-05-08 10:44:00 2017-05-08 10:34:14.533          NaN
                     2017-05-09 16:20:00 2017-05-09 16:16:31.037          NaN
                     2017-05-11 08:27:00 2017-05-11 08:20:47.847          NaN
                     2017-05-14 16:20:00 2017-05-14 16:08:41.750          NaN
                     2017-05-16 11:59:00 2017-05-16 11:52:36.160          NaN
                     2017-05-31 13:43:00 2017-05-31 13:41:45.457          NaN
                     2017-06-01 08:14:00 2017-06-01 07:58:09.780          NaN

                                         refuel_tr_sum
                                                 first
DriverID EquipmentID refuel_datetime
ABBV     1821        2017-03-04 13:49:00    124.010002
                     2017-03-29 12:32:00     91.660004
                     2017-03-30 16:51:00    106.059998
                     2017-04-01 08:27:00     50.840000
                     2017-04-01 12:28:00     91.970001
                     2017-04-02 14:43:00     97.889999
                     2017-04-04 13:03:00    111.389999
                     2017-04-07 03:45:00    103.419998
                     2017-04-07 15:58:00     95.699997
                     2017-04-10 16:20:00     61.849998
                     2017-04-12 18:33:00    128.970001
                     2017-04-13 14:18:00     70.209999
                     2017-04-14 20:15:00     83.050003
                     2017-04-15 16:58:00     75.930000
                     2017-04-16 12:46:00     73.349998
                     2017-04-17 13:23:00     73.930000
                     2017-04-19 13:35:00    105.360001
                     2017-04-20 02:53:00     20.600000
                     2017-04-21 02:18:00     89.480003
                     2017-04-22 02:00:00     84.449997
                     2017-04-24 15:14:00     65.349998
                     2017-04-25 09:40:00     54.009998
                     2017-04-25 13:23:00     84.849998
                     2017-04-27 05:41:00    106.959999
                     2017-04-28 11:44:00    105.360001
                     2017-05-01 19:18:00     83.330002
                     2017-05-03 16:33:00    120.500000
                     2017-05-08 11:50:00    103.430000
                     2017-05-09 10:00:00     82.889999
                     2017-05-10 06:27:00     68.610001
...                                                ...
ZAMJ     1588        2017-03-04 15:57:00    146.389999
                     2017-03-05 13:22:00     75.760002
                     2017-03-09 04:06:00    162.550003
                     2017-03-12 06:05:00    182.789993
                     2017-03-13 10:21:00     86.190002
                     2017-03-15 07:35:00     94.660004
                     2017-03-20 12:18:00    133.539993
                     2017-03-21 15:21:00    122.599998
                     2017-03-24 13:53:00    160.039993
                     2017-03-28 12:20:00    143.919998
                     2017-03-29 17:26:00    107.669998
                     2017-03-31 14:59:00    165.089996
                     2017-04-02 15:08:00    157.270004
                     2017-04-05 14:20:00    203.020004
                     2017-04-12 08:19:00    171.820007
                     2017-04-14 16:16:00    147.539993
                     2017-04-16 16:02:00     99.000000
                     2017-04-18 12:33:00    151.600006
                     2017-04-20 08:02:00    159.339996
                     2017-04-22 05:17:00     98.580002
                     2017-04-25 22:50:00    175.580002
                     2017-05-03 14:55:00    148.910004
                     2017-05-06 03:42:00    167.000000
                     2017-05-08 10:44:00    128.970001
                     2017-05-09 16:20:00    103.220001
                     2017-05-11 08:27:00     89.830002
                     2017-05-14 16:20:00    154.300003
                     2017-05-16 11:59:00     98.000000
                     2017-05-31 13:43:00    100.000000
                     2017-06-01 08:14:00    173.110001

[101112 rows x 6 columns]

In [27]:
events_levels_df

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12804900,2017-01-09 08:03:30.687,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT
1,12804901,2017-01-09 08:05:30.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT
2,12804902,2017-01-09 08:17:10.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT
3,12804904,2017-01-09 12:24:31.170,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT
4,12804903,2017-01-09 12:25:41.203,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT
5,12804905,2017-01-09 14:04:41.767,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT
6,12804906,2017-01-09 14:06:31.780,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT
7,12804907,2017-01-09 14:26:11.797,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT
8,12804908,2017-01-09 14:28:21.813,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT
9,12804899,2017-01-09 14:36:01.877,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT
10,12804909,2017-01-09 14:38:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT
11,12804910,2017-01-09 14:40:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT
12,12804911,2017-01-09 15:00:41.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT
13,12804912,2017-01-09 15:15:51.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT
14,12804913,2017-01-09 15:24:31.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT
15,12650361,2017-01-01 08:12:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00
16,12650362,2017-01-01 08:14:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00
17,12650363,2017-01-01 08:29:37.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00
18,12650364,2017-01-01 08:30:47.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00
19,12651601,2017-01-01 12:05:57.983,1513,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00
20,12651602,2017-01-01 12:07:47.967,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00
21,12651603,2017-01-01 12:08:18.090,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00
22,12651635,2017-01-01 12:13:27.997,1513,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00
23,12651636,2017-01-01 12:15:37.997,1513,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00
24,12651716,2017-01-01 12:30:38.060,1513,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00
25,12652008,2017-01-01 13:16:28.233,1513,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00
26,12652047,2017-01-01 13:18:28.233,1513,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00
27,12652048,2017-01-01 13:20:28.263,1513,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00
28,12652072,2017-01-01 13:22:28.263,1513,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00
29,12652109,2017-01-01 13:26:28.263,1513,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7907965,21118922,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118922,310,120,2018-03-22 02:49:00
7907966,21118936,2018-03-21 22:29:15.637,310,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118936,310,120,2018-03-22 02:49:00
7907967,21119031,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119031,310,120,2018-03-22 02:49:00
7907968,21119063,2018-03-21 22:44:15.747,310,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119063,310,120,2018-03-22 02:49:00
7907969,21119100,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119100,310,120,2018-03-22 02:49:00
7907970,21119154,2018-03-21 22:54:05.873,310,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119154,310,120,2018-03-22 02:49:00
7907971,21119224,2018-03-21 23:04:45.920,310,BEVL,35.26409,-86.39845,2018-03-21 23:04:47,0,260824.7,1,0,34.900002,41.880001,21119224,310,120,2018-03-22 02:49:00
7907972,21119340,2018-03-21 23:19:45.950,310,BEVL,35.26410,-86.39848,2018-03-21 23:19:47,0,260824.7,1,2,35.599998,42.720001,21119340,310,120,2018-03-22 02:49:00
7907973,21119397,2018-03-21 23:34:46.030,310,BEVL,35.27240,-86.39742,2018-03-21 23:34:47,5,260825.4,1,2,34.000000,40.799999,21119397,310,120,2018-03-22 02:49:00
7907974,21119416,2018-03-21 23:38:06.013,310,BEVL,35.26360,-86.39919,2018-03-21 23:38:07,0,260826.1,2,1,34.200001,41.040001,21119416,310,120,2018-03-22 02:49:00
7907975,21119458,2018-03-21 23:46:26.043,310,BEVL,35.26241,-86.39509,2018-03-21 23:46:27,5,260826.4,1,0,33.299999,39.959999,21119458,310,120,2018-03-22 02:49:00
7907976,21119532,2018-03-22 00:01:26.137,310,BEVL,35.20152,-86.49736,2018-03-22 00:01:27,59,260836.4,1,2,34.700001,41.639999,21119532,310,120,2018-03-22 02:49:00
7907977,21119618,2018-03-22 00:16:36.263,310,BEVL,35.14628,-86.57983,2018-03-22 00:16:38,5,260843.8,1,1,35.299999,42.360001,21119618,310,120,2018-03-22 02:49:00
7907978,21119689,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119689,310,120,2018-03-22 02:49:00
7907979,21119706,2018-03-22 00:18:46.280,310,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119706,310,120,2018-03-22 02:49:00
7907980,21119690,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119690,310,120,2018-03-22 02:49:00
7907981,21119707,2018-03-22 00:29:56.327,310,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119707,310,120,2018-03-22 02:49:00
7907982,21119721,2018-03-22 00:35:06.373,310,BEVL,35.15119,-86.59468,2018-03-22 00:35:08,31,260846.2,1,0,33.200001,39.840000,21119721,310,120,2018-03-22 02:49:00
7907983,21119823,2018-03-22 00:50:06.437,310,BEVL,35.20706,-86.48150,2018-03-22 00:50:08,42,260855.3,1,2,32.200001,38.639999,21119823,310,120,2018-03-22 02:49:00
7907984,21119905,2018-03-22 01:05:06.513,310,BEVL,35.27241,-86.39709,2018-03-22 01:05:08,0,260863.1,1,2,30.500000,36.599998,21119905,310,120,2018-03-22 02:49:00
7907985,21119925,2018-03-22 01:07:26.543,310,BEVL,35.27230,-86.39701,2018-03-22 01:07:28,0,260863.1,2,1,29.799999,35.759998,21119925,310,120,2018-03-22 02:49:00
7907986,21120012,2018-03-22 01:23:46.717,310,BEVL,35.27230,-86.39748,2018-03-22 01:23:48,5,260863.2,1,0,31.600000,37.919998,21120012,310,120,2018-03-22 02:49:00
7907987,21120101,2018-03-22 01:38:46.747,310,BEVL,35.34875,-86.37777,2018-03-22 01:38:48,43,260871.2,1,2,31.400000,37.680000,21120101,310,120,2018-03-22 02:49:00
7907988,21120277,2018-03-22 02:03:56.967,310,BEVL,35.58812,-86.44033,2018-03-22 02:03:58,0,260889.3,1,2,29.100000,34.919998,21120277,310,120,2018-03-22 02:49:00
7907989,21120377,2018-03-22 02:19:06.950,310,BEVL,35.75248,-86.40568,2018-03-22 02:19:08,47,260900.7,1,2,27.100000,32.520000,21120377,310,120,2018-03-22 02:49:00
7907990,21120465,2018-03-22 02:33:16.950,310,BEVL,35.79507,-86.38428,2018-03-22 02:33:18,0,260906.0,2,1,25.799999,30.959999,21120465,310,120,2018-03-22 02:49:00
7907991,21120494,2018-03-22 02:38:16.950,310,BEVL,35.79680,-86.38071,2018-03-22 02:38:18,11,260906.2,1,0,24.900000,29.879999,21120494,310,120,2018-03-22 02:49:00
7907992,21120515,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120515,310,120,2018-03-22 02:49:00
7907993,21120529,2018-03-22 02:44:07.013,310,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120529,310,120,2018-03-22 02:49:00
7907994,21120577,2018-03-22 02:53:07.060,310,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00

In [28]:
#Ok, lets test the flag_droppable_fuel_event_rows function on a toy slice
toydf = events_levels_df[0:1000]
toydf
#visual inspection confirms we have more than one truck in there

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12804900,2017-01-09 08:03:30.687,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT
1,12804901,2017-01-09 08:05:30.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT
2,12804902,2017-01-09 08:17:10.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT
3,12804904,2017-01-09 12:24:31.170,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT
4,12804903,2017-01-09 12:25:41.203,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT
5,12804905,2017-01-09 14:04:41.767,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT
6,12804906,2017-01-09 14:06:31.780,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT
7,12804907,2017-01-09 14:26:11.797,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT
8,12804908,2017-01-09 14:28:21.813,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT
9,12804899,2017-01-09 14:36:01.877,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT
10,12804909,2017-01-09 14:38:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT
11,12804910,2017-01-09 14:40:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT
12,12804911,2017-01-09 15:00:41.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT
13,12804912,2017-01-09 15:15:51.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT
14,12804913,2017-01-09 15:24:31.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT
15,12650361,2017-01-01 08:12:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00
16,12650362,2017-01-01 08:14:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00
17,12650363,2017-01-01 08:29:37.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00
18,12650364,2017-01-01 08:30:47.403,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00
19,12651601,2017-01-01 12:05:57.983,1513,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00
20,12651602,2017-01-01 12:07:47.967,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00
21,12651603,2017-01-01 12:08:18.090,1513,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00
22,12651635,2017-01-01 12:13:27.997,1513,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00
23,12651636,2017-01-01 12:15:37.997,1513,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00
24,12651716,2017-01-01 12:30:38.060,1513,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00
25,12652008,2017-01-01 13:16:28.233,1513,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00
26,12652047,2017-01-01 13:18:28.233,1513,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00
27,12652048,2017-01-01 13:20:28.263,1513,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00
28,12652072,2017-01-01 13:22:28.263,1513,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00
29,12652109,2017-01-01 13:26:28.263,1513,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,13211024,2017-01-31 18:22:28.243,1520,MARMIS,36.06679,-86.43127,2017-01-31 18:22:29,49,579697.5,1,0,77.199997,193.000000,13211024,1520,250,2017-02-08 06:54:00
971,13211910,2017-01-31 19:22:28.633,1520,MARMIS,35.33239,-85.93363,2017-01-31 19:21:53,66,579762.5,1,2,70.400002,176.000000,13211910,1520,250,2017-02-08 06:54:00
972,13212084,2017-01-31 19:37:28.790,1520,MARMIS,35.19420,-85.81551,2017-01-31 19:37:30,60,579775.6,1,2,66.400002,166.000000,13212084,1520,250,2017-02-08 06:54:00
973,13212767,2017-01-31 20:37:29.083,1520,MARMIS,35.14204,-84.98479,2017-01-31 20:37:15,65,579839.8,1,2,66.199997,165.500000,13212767,1520,250,2017-02-08 06:54:00
974,13212893,2017-01-31 20:52:29.193,1520,MARMIS,35.13777,-84.77723,2017-01-31 20:52:30,65,579852.5,1,2,66.699997,166.750000,13212893,1520,250,2017-02-08 06:54:00
975,13212993,2017-01-31 21:00:39.227,1520,MARMIS,35.13329,-84.75659,2017-01-31 20:53:37,0,579856.6,2,1,65.800003,164.500000,13212993,1520,250,2017-02-08 06:54:00
976,13309341,2017-02-06 10:29:15.950,1520,MARMIS,35.12832,-84.71980,2017-02-06 10:29:18,0,579856.6,1,0,67.199997,168.000000,13309341,1520,250,2017-02-08 06:54:00
977,13309798,2017-02-06 10:44:25.937,1520,MARMIS,35.21655,-84.59383,2017-02-06 10:44:28,57,579866.9,1,2,66.599998,166.500000,13309798,1520,250,2017-02-08 06:54:00
978,13310163,2017-02-06 10:59:35.937,1520,MARMIS,35.38000,-84.50731,2017-02-06 10:59:38,60,579879.7,1,2,64.500000,161.250000,13310163,1520,250,2017-02-08 06:54:00
979,13310480,2017-02-06 11:14:35.937,1520,MARMIS,35.51945,-84.35600,2017-02-06 11:14:38,46,579892.9,1,2,63.500000,158.750000,13310480,1520,250,2017-02-08 06:54:00
980,13310789,2017-02-06 11:29:35.937,1520,MARMIS,35.62511,-84.18277,2017-02-06 11:29:38,60,579905.3,1,2,63.799999,159.500000,13310789,1520,250,2017-02-08 06:54:00
981,13311314,2017-02-06 11:44:35.950,1520,MARMIS,35.73886,-84.03690,2017-02-06 11:44:38,45,579918.3,1,2,62.700001,156.750000,13311314,1520,250,2017-02-08 06:54:00
982,13311403,2017-02-06 11:48:35.937,1520,MARMIS,35.74044,-84.04459,2017-02-06 11:48:38,0,579919.2,2,1,62.299999,155.750000,13311403,1520,250,2017-02-08 06:54:00
983,13311557,2017-02-06 11:56:45.950,1520,MARMIS,35.74112,-84.04688,2017-02-06 11:56:48,10,579919.4,1,0,64.099998,160.250000,13311557,1520,250,2017-02-08 06:54:00
984,13311735,2017-02-06 12:01:45.983,1520,MARMIS,35.73930,-84.04697,2017-02-06 12:01:48,0,579919.6,2,1,64.599998,161.500000,13311735,1520,250,2017-02-08 06:54:00
985,13311837,2017-02-06 12:01:45.983,1520,MARMIS,35.73930,-84.04697,2017-02-06 12:01:48,0,579919.6,2,1,64.599998,161.500000,13311837,1520,250,2017-02-08 06:54:00
986,13311839,2017-02-06 12:07:46.030,1520,MARMIS,35.73931,-84.04700,2017-02-06 12:07:48,0,579919.6,2,0,63.799999,159.500000,13311839,1520,250,2017-02-08 06:54:00
987,13311848,2017-02-06 12:07:56.030,1520,MARMIS,35.73931,-84.04700,2017-02-06 12:07:58,0,579919.6,2,1,63.799999,159.500000,13311848,1520,250,2017-02-08 06:54:00
988,13312034,2017-02-06 12:15:56.060,1520,MARMIS,35.73928,-84.04720,2017-02-06 12:15:58,1,579919.6,1,0,67.199997,168.000000,13312034,1520,250,2017-02-08 06:54:00
989,13312083,2017-02-06 12:17:36.060,1520,MARMIS,35.73978,-84.04717,2017-02-06 12:17:38,0,579919.7,2,1,66.900002,167.250000,13312083,1520,250,2017-02-08 06:54:00
990,13312153,2017-02-06 12:21:16.060,1520,MARMIS,35.74416,-84.04420,2017-02-06 12:21:18,24,579920.1,1,0,62.299999,155.750000,13312153,1520,250,2017-02-08 06:54:00
991,13312504,2017-02-06 12:36:16.060,1520,MARMIS,35.76825,-84.23020,2017-02-06 12:36:18,55,579933.1,1,2,62.900002,157.250000,13312504,1520,250,2017-02-08 06:54:00
992,13312860,2017-02-06 12:51:16.217,1520,MARMIS,35.80947,-84.30472,2017-02-06 12:51:18,63,579940.9,1,2,60.500000,151.250000,13312860,1520,250,2017-02-08 06:54:00
993,13314150,2017-02-06 13:51:16.327,1520,MARMIS,35.12692,-85.02402,2017-02-06 13:51:18,69,580005.0,1,2,60.599998,151.500000,13314150,1520,250,2017-02-08 06:54:00
994,13315537,2017-02-06 14:51:16.653,1520,MARMIS,35.21181,-85.78759,2017-02-06 14:51:18,53,580067.6,1,2,57.299999,143.250000,13315537,1520,250,2017-02-08 06:54:00
995,13316353,2017-02-06 15:32:56.700,1520,MARMIS,35.62537,-86.24137,2017-02-06 15:32:58,0,580109.6,1,2,52.700001,131.750000,13316353,1520,250,2017-02-08 06:54:00
996,13316788,2017-02-06 15:48:06.687,1520,MARMIS,35.50023,-86.34032,2017-02-06 15:48:08,60,580121.0,1,2,53.599998,134.000000,13316788,1520,250,2017-02-08 06:54:00
997,13317066,2017-02-06 16:01:46.687,1520,MARMIS,35.49188,-86.40787,2017-02-06 16:01:48,0,580126.8,2,1,53.400002,133.500000,13317066,1520,250,2017-02-08 06:54:00
998,13317157,2017-02-06 16:07:26.700,1520,MARMIS,35.49239,-86.40791,2017-02-06 16:07:28,0,580126.9,1,0,52.299999,130.750000,13317157,1520,250,2017-02-08 06:54:00
999,13317173,2017-02-06 16:08:46.700,1520,MARMIS,35.49238,-86.40791,2017-02-06 16:08:48,0,580126.9,2,1,52.299999,130.750000,13317173,1520,250,2017-02-08 06:54:00

In [29]:
flags = flag_droppable_fuel_event_rows(toydf)
flags
#this took .06 seconds for 1,000 rows

started at  2018-05-04 03:01:38.910555
finished at  2018-05-04 03:01:38.972743
whole process took  0:00:00.062188

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True]

In [30]:
#let's try it on 10,000 rows
flags = flag_droppable_fuel_event_rows(events_levels_df[0:10000])
flags
#this only took .4 seconds

started at  2018-05-04 03:04:03.065515
finished at  2018-05-04 03:04:03.470719
whole process took  0:00:00.405204

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [31]:
#let's try it on 100,000 rows
flags = flag_droppable_fuel_event_rows(events_levels_df[0:100000])
flags
#this only took 3.5 seconds

started at  2018-05-04 03:04:36.784410
finished at  2018-05-04 03:04:40.343165
whole process took  0:00:03.558755

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [32]:
#let's try it on 1,000,000 rows
flags = flag_droppable_fuel_event_rows(events_levels_df[0:1000000])
flags
#this should only take about 30 seconds. But it actually took 51 seconds.
    #so 8 times longer should be under 8 minutes

started at  2018-05-04 03:05:15.717123
finished at  2018-05-04 03:06:07.374676
whole process took  0:00:51.657553

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [33]:
#let's try it on the whole shebang
flags = flag_droppable_fuel_event_rows(events_levels_df)
flags
#expecting 8 minute turnaround. (Actually took 7 minutes and 9 seconds)

started at  2018-05-04 03:07:15.920177
finished at  2018-05-04 03:14:25.610831
whole process took  0:07:09.690654

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [35]:
#alright, redefine the df by dropping the noisy rows
t0 = datetime.now()
print('started at ', datetime.now())
truck_performance_df = events_levels_df[flags]
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
truck_performance_df.info()

started at  2018-05-04 03:15:50.633119
finished at  2018-05-04 03:15:50.970853
whole process took  0:00:00.337769
<class 'pandas.core.frame.DataFrame'>
Int64Index: 219156 entries, 0 to 7907994
Data columns (total 17 columns):
Id                   219156 non-null uint64
EventTimeStamp       219156 non-null datetime64[ns]
EquipmentID          219156 non-null category
DriverID             109320 non-null category
Latitude             219156 non-null float64
Longitude            219156 non-null float64
LocationTimeStamp    219156 non-null datetime64[ns]
Speed                219156 non-null uint16
Odometer             219156 non-null float64
IgnitionStatus       219156 non-null category
EFReportReason       219156 non-null category
TankLevelPercent     219156 non-null float32
TankLevelGallons     219156 non-null float32
ExactFuelEventId     219156 non-null uint64
truck                219156 non-null category
tankcap              219156 non-null uint16
refuel_datetime      106630 non-null datetime64[ns]
dtypes: category(5), datetime64[ns](3), float32(2), float64(3), uint16(2), uint64(2)
memory usage: 19.3 MB

In [36]:
#let's reset the index for abstemiousness
t0 = datetime.now()
print('started at ', datetime.now())
truck_performance_df.reset_index(inplace = True, drop = True)
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
truck_performance_df.info()

started at  2018-05-04 03:27:51.400248
finished at  2018-05-04 03:27:51.400942
whole process took  0:00:00.000742
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219156 entries, 0 to 219155
Data columns (total 17 columns):
Id                   219156 non-null uint64
EventTimeStamp       219156 non-null datetime64[ns]
EquipmentID          219156 non-null category
DriverID             109320 non-null category
Latitude             219156 non-null float64
Longitude            219156 non-null float64
LocationTimeStamp    219156 non-null datetime64[ns]
Speed                219156 non-null uint16
Odometer             219156 non-null float64
IgnitionStatus       219156 non-null category
EFReportReason       219156 non-null category
TankLevelPercent     219156 non-null float32
TankLevelGallons     219156 non-null float32
ExactFuelEventId     219156 non-null uint64
truck                219156 non-null category
tankcap              219156 non-null uint16
refuel_datetime      106630 non-null datetime64[ns]
dtypes: category(5), datetime64[ns](3), float32(2), float64(3), uint16(2), uint64(2)
memory usage: 17.7 MB

In [37]:
truck_performance_df

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12804900,2017-01-09 08:03:30.687,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT
1,12804901,2017-01-09 08:05:30.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT
2,12804902,2017-01-09 08:17:10.670,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT
3,12804904,2017-01-09 12:24:31.170,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT
4,12804903,2017-01-09 12:25:41.203,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT
5,12804905,2017-01-09 14:04:41.767,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT
6,12804906,2017-01-09 14:06:31.780,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT
7,12804907,2017-01-09 14:26:11.797,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT
8,12804908,2017-01-09 14:28:21.813,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT
9,12804899,2017-01-09 14:36:01.877,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT
10,12804909,2017-01-09 14:38:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT
11,12804910,2017-01-09 14:40:51.890,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT
12,12804911,2017-01-09 15:00:41.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT
13,12804912,2017-01-09 15:15:51.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT
14,12804913,2017-01-09 15:24:31.920,1508,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT
15,12650361,2017-01-01 08:12:27.390,1513,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00
16,12651635,2017-01-01 12:13:27.997,1513,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00
17,12659041,2017-01-02 11:05:09.983,1513,NaN,35.58768,-86.44426,2017-01-02 11:05:09,8,529407.2,1,1,27.500000,63.250000,12659041,1513,230,NaT
18,12659069,2017-01-02 11:07:10.000,1513,NaN,35.58801,-86.44383,2017-01-02 11:07:09,0,529407.4,1,0,26.400000,60.720001,12659069,1513,230,NaT
19,12659116,2017-01-02 11:11:10.013,1513,NaN,35.58801,-86.44383,2017-01-02 11:11:09,0,529407.4,2,1,27.600000,63.480000,12659116,1513,230,NaT
20,12661297,2017-01-02 14:00:16.970,1513,NaN,35.58787,-86.44382,2017-01-02 14:00:19,0,529407.4,1,1,27.200001,62.560001,12661297,1513,230,NaT
21,12661321,2017-01-02 14:02:16.953,1513,NaN,35.58739,-86.44394,2017-01-02 14:02:19,1,529407.6,1,0,28.799999,66.239998,12661321,1513,230,NaT
22,12669888,2017-01-02 14:03:56.970,1513,NaN,35.58738,-86.44392,2017-01-02 14:03:48,0,529407.6,2,1,28.200001,64.860001,12669888,1513,230,NaT
23,12669889,2017-01-03 07:52:31.060,1513,NaN,35.58786,-86.44376,2017-01-03 07:52:32,6,529407.6,1,1,28.000000,64.400002,12669889,1513,230,NaT
24,12673631,2017-01-03 07:54:11.030,1513,NaN,35.58762,-86.44355,2017-01-03 07:54:12,0,529407.6,2,1,27.900000,64.169998,12673631,1513,230,NaT
25,12673632,2017-01-03 07:54:31.030,1513,NaN,35.58762,-86.44355,2017-01-03 07:54:32,0,529407.6,2,0,27.900000,64.169998,12673632,1513,230,NaT
26,12673635,2017-01-03 10:33:21.153,1513,NaN,35.58802,-86.44391,2017-01-03 10:33:22,0,529407.6,2,1,27.500000,63.250000,12673635,1513,230,NaT
27,12673687,2017-01-03 10:35:21.200,1513,NaN,35.58802,-86.44391,2017-01-03 10:35:22,0,529407.6,2,0,27.500000,63.250000,12673687,1513,230,NaT
28,12669011,2017-01-03 07:00:25.813,1516,NaN,35.58805,-86.44407,2017-01-03 07:00:17,0,593.1,2,0,22.200001,51.060001,12669011,1516,230,NaT
29,12669013,2017-01-03 07:00:35.813,1516,NaN,35.58805,-86.44407,2017-01-03 07:00:17,0,593.1,2,1,22.200001,51.060001,12669013,1516,230,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219126,20961217,2018-03-14 04:05:56.300,310,NaN,35.58727,-86.44367,2018-03-14 04:05:57,0,259692.6,2,0,52.900002,63.480000,20961217,310,120,NaT
219127,20976716,2018-03-14 15:02:35.273,310,BEVL,35.58798,-86.44384,2018-03-14 15:02:37,0,259692.7,1,0,56.900002,68.279999,20976716,310,120,2018-03-14 22:49:00
219128,20983167,2018-03-14 22:55:07.437,310,BEVL,36.06929,-86.43549,2018-03-14 22:55:08,19,259881.0,1,0,88.099998,105.720001,20983167,310,120,2018-03-22 02:49:00
219129,20999095,2018-03-15 14:14:48.727,310,NaN,35.58821,-86.44354,2018-03-15 14:14:50,2,260061.9,1,0,41.599998,49.919998,20999095,310,120,NaT
219130,20999113,2018-03-15 14:14:48.727,310,NaN,35.58821,-86.44354,2018-03-15 14:14:50,2,260061.9,1,0,41.599998,49.919998,20999113,310,120,NaT
219131,20999152,2018-03-15 14:16:48.727,310,NaN,35.58848,-86.44411,2018-03-15 14:16:50,0,260061.9,2,1,41.700001,50.040001,20999152,310,120,NaT
219132,20999918,2018-03-15 14:51:08.913,310,NaN,35.58743,-86.43915,2018-03-15 14:51:10,5,260062.2,1,0,42.099998,50.520000,20999918,310,120,NaT
219133,20999919,2018-03-15 14:52:48.913,310,NaN,35.58744,-86.43921,2018-03-15 14:52:50,0,260062.3,2,1,42.799999,51.360001,20999919,310,120,NaT
219134,20999963,2018-03-15 14:54:58.913,310,NaN,35.58755,-86.43935,2018-03-15 14:55:00,0,260062.3,2,1,41.500000,49.799999,20999963,310,120,NaT
219135,20999979,2018-03-15 14:55:58.913,310,NaN,35.58755,-86.43936,2018-03-15 14:56:00,0,260062.3,2,0,41.500000,49.799999,20999979,310,120,NaT
219136,21000135,2018-03-15 15:02:28.960,310,NaN,35.58847,-86.44408,2018-03-15 15:02:30,0,260062.6,2,1,93.699997,112.440002,21000135,310,120,NaT
219137,21000136,2018-03-15 15:02:28.990,310,NaN,35.58847,-86.44408,2018-03-15 15:02:30,0,260062.6,2,0,93.699997,112.440002,21000136,310,120,NaT
219138,21000251,2018-03-15 15:07:18.977,310,BEVL,35.58704,-86.44337,2018-03-15 15:07:20,0,260062.8,1,0,80.500000,96.599998,21000251,310,120,2018-03-22 02:49:00
219139,21055138,2018-03-19 07:24:23.577,310,NaN,35.58724,-86.44331,2018-03-19 07:24:23,0,260322.8,1,0,40.200001,48.240002,21055138,310,120,NaT
219140,21055139,2018-03-19 07:39:33.607,310,NaN,35.58737,-86.44424,2018-03-19 07:39:33,0,260323.2,1,2,38.700001,46.439999,21055139,310,120,NaT
219141,21055140,2018-03-19 07:47:03.593,310,NaN,35.58743,-86.44379,2018-03-19 07:47:03,0,260323.4,2,1,38.000000,45.599998,21055140,310,120,NaT
219142,21055141,2018-03-19 07:49:03.593,310,NaN,35.58743,-86.44379,2018-03-19 07:49:03,0,260323.4,2,0,38.000000,45.599998,21055141,310,120,NaT
219143,21087312,2018-03-20 14:27:04.843,310,NaN,35.58739,-86.44377,2018-03-20 14:27:04,0,260323.4,2,0,40.000000,48.000000,21087312,310,120,NaT
219144,21087350,2018-03-20 14:27:04.843,310,NaN,35.58739,-86.44377,2018-03-20 14:27:04,0,260323.4,2,0,40.000000,48.000000,21087350,310,120,NaT
219145,21087317,2018-03-20 14:28:04.843,310,NaN,35.58739,-86.44377,2018-03-20 14:28:04,0,260323.4,1,1,40.299999,48.360001,21087317,310,120,NaT
219146,21087355,2018-03-20 14:28:04.843,310,NaN,35.58739,-86.44377,2018-03-20 14:28:04,0,260323.4,1,1,40.299999,48.360001,21087355,310,120,NaT
219147,21087315,2018-03-20 14:30:14.873,310,NaN,35.58739,-86.44377,2018-03-20 14:30:14,0,260323.4,1,0,40.400002,48.480000,21087315,310,120,NaT
219148,21087353,2018-03-20 14:30:14.873,310,NaN,35.58739,-86.44377,2018-03-20 14:30:14,0,260323.4,1,0,40.400002,48.480000,21087353,310,120,NaT
219149,21087313,2018-03-20 14:33:34.873,310,BEVL,35.58739,-86.44378,2018-03-20 14:33:34,0,260323.4,1,1,40.000000,48.000000,21087313,310,120,2018-03-22 02:49:00
219150,21111445,2018-03-21 14:46:56.010,310,NaN,35.58799,-86.44408,2018-03-21 14:46:56,0,260639.3,2,0,24.400000,29.280001,21111445,310,120,NaT
219151,21111446,2018-03-21 14:47:51.993,310,NaN,35.58800,-86.44408,2018-03-21 14:47:52,0,260639.3,2,1,24.400000,29.280001,21111446,310,120,NaT
219152,21111693,2018-03-21 14:56:06.087,310,NaN,35.58847,-86.44408,2018-03-21 14:56:06,0,260639.4,2,1,22.200001,26.639999,21111693,310,120,NaT
219153,21111734,2018-03-21 14:56:06.087,310,NaN,35.58847,-86.44408,2018-03-21 14:56:06,0,260639.4,2,1,22.200001,26.639999,21111734,310,120,NaT
219154,21111694,2018-03-21 14:59:36.087,310,BEVL,35.58754,-86.43935,2018-03-21 14:59:36,0,260639.8,2,0,23.000000,27.600000,21111694,310,120,2018-03-22 02:49:00
219155,21120577,2018-03-22 02:53:07.060,310,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00

I'm seeing a lot of NaT values in the date time column and NaN values  in the DriverID column... Why are there so many null values?

In [38]:
truck_performance_df.refuel_datetime.value_counts()

2017-06-06 11:12:00    27
2017-07-25 21:02:00    24
2017-06-06 19:08:00    21
2017-11-07 01:11:00    21
2017-12-28 02:41:00    17
2018-01-22 21:52:00    15
2017-04-04 01:56:00    15
2017-06-25 13:48:00    14
2017-02-20 19:50:00    12
2017-01-04 15:47:00    10
2017-11-28 03:31:00     9
2017-08-12 10:19:00     9
2018-02-19 23:53:00     9
2017-07-27 15:25:00     8
2017-08-23 11:40:00     8
2017-09-25 14:22:00     8
2018-03-14 08:38:00     8
2017-06-29 04:05:00     8
2017-03-02 07:22:00     7
2017-01-04 07:09:00     7
2017-08-13 03:50:00     7
2017-01-04 07:52:00     7
2017-01-05 06:39:00     7
2017-07-04 17:51:00     7
2018-03-17 15:47:00     7
2017-08-07 21:23:00     7
2017-05-27 21:19:00     7
2017-08-21 01:13:00     7
2017-07-27 09:54:00     7
2017-12-17 01:07:00     7
                       ..
2017-02-14 04:19:00     1
2017-11-07 07:10:00     1
2017-08-13 13:57:00     1
2017-11-14 01:50:00     1
2017-04-02 10:03:00     1
2017-01-20 04:30:00     1
2017-08-27 15:10:00     1
2017-07-02 10:26:00     1
2017-11-03 15:20:00     1
2017-08-22 22:39:00     1
2018-02-16 11:51:00     1
2017-04-27 15:43:00     1
2017-11-27 08:20:00     1
2017-03-25 11:12:00     1
2017-01-02 15:19:00     1
2018-01-03 21:57:00     1
2017-02-12 12:59:00     1
2017-07-30 12:32:00     1
2017-11-11 13:39:00     1
2017-11-02 14:39:00     1
2017-12-19 20:23:00     1
2017-01-12 19:12:00     1
2017-11-25 14:52:00     1
2017-11-05 11:05:00     1
2018-01-12 11:15:00     1
2017-10-08 05:11:00     1
2017-08-20 11:55:00     1
2017-07-27 14:32:00     1
2017-06-09 08:53:00     1
2018-03-04 00:27:00     1
Name: refuel_datetime, Length: 89975, dtype: int64

This value_counts call is alarming. I didn't expect to have any fueling events time-stamped on the exact same time.

In [41]:
truck_performance_df.refuel_datetime.isnull().sum()
#112,526 of my rows are null.... that's over half of what I began with

112526

In [42]:
len(truck_performance_df.refuel_datetimeuel_datetime)

219156

## It does not look like the process wen't according to plan.

# Why do we have so many NA values?