In [13]:
import pandas as pd 
import numpy as np 
#import gc
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns 
import timeit

In [15]:
#timeit setup
setup = '''
import random

random.seed('slartibartfast')
s = [random.random() for i in range(1000)]
timesort = list.sort
'''

print(min(timeit.Timer('a = s[:]; timesort(a)', 
                       setup = setup).repeat(7,1000)))

0.14642716399976052

# Read in the merged data 2.0

In [2]:
col_names = ['idx1', 'idx2', 'Id', 'EventTimeStamp', 'EquipmentID', 'DriverID', 'Latitude',
       'Longitude', 'LocationTimeStamp', 'Speed', 'Odometer', 'IgnitionStatus',
       'EFReportReason', 'TankLevelPercent', 'TankLevelGallons',
       'ExactFuelEventId', 'truck', 'tankcap', 'refuel_datetime',
       'refuel_tr_sum', 'refuel_tr_id']
date_cols = ['EventTimeStamp', 'LocationTimeStamp', 'refuel_datetime' ]

In [3]:
dtype_dict = {
    'Id' : 'uint64', 
    'EquipmentID' : 'category', 
    'DriverID' : 'category', 
    'Latitude' : 'float64', 
    'Longitude' : 'float64', 
    'Speed' : 'uint16', 
    'Odometer' : 'float64', 
    'IgnitionStatus' : 'category', 
    'EFReportReason' : 'category', 
    'TankLevelPercent' : 'float32', 
    'TankLevelGallons' : 'float32', 
    'ExactFuelEventId' : 'uint64', 
    'truck' : 'category', 
    'tankcap' : 'uint16', 
    'refuel_tr_sum' : 'float32', 
    'refuel_tr_id' : 'category' }

In [4]:
## Read the csv after creating the dtype_dict, col_names, and date_cols objects
events_levels_df = pd.read_csv('/Users/paulomartinez/Downloads/events_levels_df.gz', skiprows=1, names=col_names,
                               dtype=dtype_dict, usecols=np.arange(2,19), 
                              parse_dates = date_cols, infer_datetime_format = True)
#11:20 pm - 11:21 pm
#11:30 pm - 11:31 pm

In [5]:
events_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908406 entries, 0 to 7908405
Data columns (total 17 columns):
Id                   uint64
EventTimeStamp       datetime64[ns]
EquipmentID          category
DriverID             category
Latitude             float64
Longitude            float64
LocationTimeStamp    datetime64[ns]
Speed                uint16
Odometer             float64
IgnitionStatus       category
EFReportReason       category
TankLevelPercent     float32
TankLevelGallons     float32
ExactFuelEventId     uint64
truck                category
tankcap              uint16
refuel_datetime      datetime64[ns]
dtypes: category(5), datetime64[ns](3), float32(2), float64(3), uint16(2), uint64(2)
memory usage: 633.6 MB

In [6]:
events_levels_df.head()

,Id,EventTimeStamp,EquipmentID,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12649676,2017-01-01 00:19:45.357,1559,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649676,1559,250,NaT
1,12649677,2017-01-01 00:34:45.370,1559,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649677,1559,250,NaT
2,12649678,2017-01-01 00:49:45.417,1559,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649678,1559,250,NaT
3,12649679,2017-01-01 01:04:45.463,1559,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649679,1559,250,NaT
4,12649680,2017-01-01 01:19:45.480,1559,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649680,1559,250,NaT

# Drop the noisy rows

Ok, let's try an alternative.
1. drop superfluous columns
2. sort by truck and datetime
3. run flag function
4. define slice
    - remove noisy df

## --- lets first make sure the df isn't corrupted somehow

In [7]:
list(events_levels_df.columns.values)

['Id',
 'EventTimeStamp',
 'EquipmentID',
 'DriverID',
 'Latitude',
 'Longitude',
 'LocationTimeStamp',
 'Speed',
 'Odometer',
 'IgnitionStatus',
 'EFReportReason',
 'TankLevelPercent',
 'TankLevelGallons',
 'ExactFuelEventId',
 'truck',
 'tankcap',
 'refuel_datetime']

In [8]:
for col in list(events_levels_df.columns.values):
    print('len of set of col:', str(col), 
          len(set(events_levels_df[str(col)]))
         )

len of set of col: Id 7908406
len of set of col: EventTimeStamp 7527560
len of set of col: EquipmentID 629
len of set of col: DriverID 925
len of set of col: Latitude 1032388
len of set of col: Longitude 1286842
len of set of col: LocationTimeStamp 6551558
len of set of col: Speed 88
len of set of col: Odometer 3002046
len of set of col: IgnitionStatus 2
len of set of col: EFReportReason 3
len of set of col: TankLevelPercent 1000
len of set of col: TankLevelGallons 4333
len of set of col: ExactFuelEventId 7908406
len of set of col: truck 629
len of set of col: tankcap 5
len of set of col: refuel_datetime 89976

In [9]:
#1. drop superfluous columns
events_levels_df.drop('EquipmentID', inplace=True, axis='columns')
events_levels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908406 entries, 0 to 7908405
Data columns (total 16 columns):
Id                   uint64
EventTimeStamp       datetime64[ns]
DriverID             category
Latitude             float64
Longitude            float64
LocationTimeStamp    datetime64[ns]
Speed                uint16
Odometer             float64
IgnitionStatus       category
EFReportReason       category
TankLevelPercent     float32
TankLevelGallons     float32
ExactFuelEventId     uint64
truck                category
tankcap              uint16
refuel_datetime      datetime64[ns]
dtypes: category(4), datetime64[ns](3), float32(2), float64(3), uint16(2), uint64(2)
memory usage: 618.5 MB

In [10]:
events_levels_df.head()

,Id,EventTimeStamp,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12649676,2017-01-01 00:19:45.357,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649676,1559,250,NaT
1,12649677,2017-01-01 00:34:45.370,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649677,1559,250,NaT
2,12649678,2017-01-01 00:49:45.417,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649678,1559,250,NaT
3,12649679,2017-01-01 01:04:45.463,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649679,1559,250,NaT
4,12649680,2017-01-01 01:19:45.480,NaN,36.06712,-86.43476,2017-01-01 00:01:05,0,505629.3,1,2,96.0,240.0,12649680,1559,250,NaT

In [17]:
#sort by truck and date
events_levels_df.sort_values(['truck', 'EventTimeStamp'],
                                     inplace = True
                                         )
events_levels_df
#started sort at 12:10 am - 12:10 am

,Id,EventTimeStamp,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
2443,12804900,2017-01-09 08:03:30.687,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT
2445,12804901,2017-01-09 08:05:30.670,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT
2451,12804902,2017-01-09 08:17:10.670,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT
2514,12804904,2017-01-09 12:24:31.170,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT
2515,12804903,2017-01-09 12:25:41.203,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT
2530,12804905,2017-01-09 14:04:41.767,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT
2531,12804906,2017-01-09 14:06:31.780,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT
2535,12804907,2017-01-09 14:26:11.797,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT
2536,12804908,2017-01-09 14:28:21.813,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT
2543,12804899,2017-01-09 14:36:01.877,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT
2545,12804909,2017-01-09 14:38:51.890,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT
2547,12804910,2017-01-09 14:40:51.890,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT
2555,12804911,2017-01-09 15:00:41.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT
2564,12804912,2017-01-09 15:15:51.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT
2571,12804913,2017-01-09 15:24:31.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT
406354,12650361,2017-01-01 08:12:27.390,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00
406355,12650362,2017-01-01 08:14:27.390,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00
406356,12650363,2017-01-01 08:29:37.403,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00
406357,12650364,2017-01-01 08:30:47.403,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00
406358,12651601,2017-01-01 12:05:57.983,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00
406359,12651602,2017-01-01 12:07:47.967,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00
406360,12651603,2017-01-01 12:08:18.090,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00
406361,12651635,2017-01-01 12:13:27.997,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00
406362,12651636,2017-01-01 12:15:37.997,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00
406363,12651716,2017-01-01 12:30:38.060,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00
406364,12652008,2017-01-01 13:16:28.233,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00
406365,12652047,2017-01-01 13:18:28.233,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00
406366,12652048,2017-01-01 13:20:28.263,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00
406367,12652072,2017-01-01 13:22:28.263,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00
406368,12652109,2017-01-01 13:26:28.263,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673701,21118922,2018-03-21 22:29:15.637,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118922,310,120,2018-03-22 02:49:00
673702,21118936,2018-03-21 22:29:15.637,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118936,310,120,2018-03-22 02:49:00
673703,21119031,2018-03-21 22:44:15.747,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119031,310,120,2018-03-22 02:49:00
673704,21119063,2018-03-21 22:44:15.747,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119063,310,120,2018-03-22 02:49:00
673705,21119100,2018-03-21 22:54:05.873,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119100,310,120,2018-03-22 02:49:00
673706,21119154,2018-03-21 22:54:05.873,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119154,310,120,2018-03-22 02:49:00
673707,21119224,2018-03-21 23:04:45.920,BEVL,35.26409,-86.39845,2018-03-21 23:04:47,0,260824.7,1,0,34.900002,41.880001,21119224,310,120,2018-03-22 02:49:00
673708,21119340,2018-03-21 23:19:45.950,BEVL,35.26410,-86.39848,2018-03-21 23:19:47,0,260824.7,1,2,35.599998,42.720001,21119340,310,120,2018-03-22 02:49:00
673709,21119397,2018-03-21 23:34:46.030,BEVL,35.27240,-86.39742,2018-03-21 23:34:47,5,260825.4,1,2,34.000000,40.799999,21119397,310,120,2018-03-22 02:49:00
673710,21119416,2018-03-21 23:38:06.013,BEVL,35.26360,-86.39919,2018-03-21 23:38:07,0,260826.1,2,1,34.200001,41.040001,21119416,310,120,2018-03-22 02:49:00
673711,21119458,2018-03-21 23:46:26.043,BEVL,35.26241,-86.39509,2018-03-21 23:46:27,5,260826.4,1,0,33.299999,39.959999,21119458,310,120,2018-03-22 02:49:00
673712,21119532,2018-03-22 00:01:26.137,BEVL,35.20152,-86.49736,2018-03-22 00:01:27,59,260836.4,1,2,34.700001,41.639999,21119532,310,120,2018-03-22 02:49:00
673713,21119618,2018-03-22 00:16:36.263,BEVL,35.14628,-86.57983,2018-03-22 00:16:38,5,260843.8,1,1,35.299999,42.360001,21119618,310,120,2018-03-22 02:49:00
673714,21119689,2018-03-22 00:18:46.280,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119689,310,120,2018-03-22 02:49:00
673715,21119706,2018-03-22 00:18:46.280,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119706,310,120,2018-03-22 02:49:00
673716,21119690,2018-03-22 00:29:56.327,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119690,310,120,2018-03-22 02:49:00
673717,21119707,2018-03-22 00:29:56.327,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119707,310,120,2018-03-22 02:49:00
673718,21119721,2018-03-22 00:35:06.373,BEVL,35.15119,-86.59468,2018-03-22 00:35:08,31,260846.2,1,0,33.200001,39.840000,21119721,310,120,2018-03-22 02:49:00
673719,21119823,2018-03-22 00:50:06.437,BEVL,35.20706,-86.48150,2018-03-22 00:50:08,42,260855.3,1,2,32.200001,38.639999,21119823,310,120,2018-03-22 02:49:00
673720,21119905,2018-03-22 01:05:06.513,BEVL,35.27241,-86.39709,2018-03-22 01:05:08,0,260863.1,1,2,30.500000,36.599998,21119905,310,120,2018-03-22 02:49:00
673721,21119925,2018-03-22 01:07:26.543,BEVL,35.27230,-86.39701,2018-03-22 01:07:28,0,260863.1,2,1,29.799999,35.759998,21119925,310,120,2018-03-22 02:49:00
673722,21120012,2018-03-22 01:23:46.717,BEVL,35.27230,-86.39748,2018-03-22 01:23:48,5,260863.2,1,0,31.600000,37.919998,21120012,310,120,2018-03-22 02:49:00
673723,21120101,2018-03-22 01:38:46.747,BEVL,35.34875,-86.37777,2018-03-22 01:38:48,43,260871.2,1,2,31.400000,37.680000,21120101,310,120,2018-03-22 02:49:00
673724,21120277,2018-03-22 02:03:56.967,BEVL,35.58812,-86.44033,2018-03-22 02:03:58,0,260889.3,1,2,29.100000,34.919998,21120277,310,120,2018-03-22 02:49:00
673725,21120377,2018-03-22 02:19:06.950,BEVL,35.75248,-86.40568,2018-03-22 02:19:08,47,260900.7,1,2,27.100000,32.520000,21120377,310,120,2018-03-22 02:49:00
673726,21120465,2018-03-22 02:33:16.950,BEVL,35.79507,-86.38428,2018-03-22 02:33:18,0,260906.0,2,1,25.799999,30.959999,21120465,310,120,2018-03-22 02:49:00
673727,21120494,2018-03-22 02:38:16.950,BEVL,35.79680,-86.38071,2018-03-22 02:38:18,11,260906.2,1,0,24.900000,29.879999,21120494,310,120,2018-03-22 02:49:00
673728,21120515,2018-03-22 02:44:07.013,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120515,310,120,2018-03-22 02:49:00
673729,21120529,2018-03-22 02:44:07.013,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120529,310,120,2018-03-22 02:49:00
673730,21120577,2018-03-22 02:53:07.060,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00

In [18]:
#reset the index
events_levels_df.reset_indext_index(inplace = True, drop = True)
events_levels_df

,Id,EventTimeStamp,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Odometer,IgnitionStatus,EFReportReason,TankLevelPercent,TankLevelGallons,ExactFuelEventId,truck,tankcap,refuel_datetime
0,12804900,2017-01-09 08:03:30.687,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,1,25.200001,57.959999,12804900,1508,230,NaT
1,12804901,2017-01-09 08:05:30.670,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575630.9,1,0,25.200001,57.959999,12804901,1508,230,NaT
2,12804902,2017-01-09 08:17:10.670,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,25.200001,57.959999,12804902,1508,230,NaT
3,12804904,2017-01-09 12:24:31.170,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.000000,55.200001,12804904,1508,230,NaT
4,12804903,2017-01-09 12:25:41.203,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.000000,55.200001,12804903,1508,230,NaT
5,12804905,2017-01-09 14:04:41.767,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,1,24.700001,56.810001,12804905,1508,230,NaT
6,12804906,2017-01-09 14:06:31.780,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,2,0,24.700001,56.810001,12804906,1508,230,NaT
7,12804907,2017-01-09 14:26:11.797,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575631.0,1,1,22.900000,52.669998,12804907,1508,230,NaT
8,12804908,2017-01-09 14:28:21.813,NaN,36.06612,-86.43410,2016-12-10 14:29:31,4,575631.0,1,0,23.000000,52.900002,12804908,1508,230,NaT
9,12804899,2017-01-09 14:36:01.877,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.3,2,1,16.799999,38.639999,12804899,1508,230,NaT
10,12804909,2017-01-09 14:38:51.890,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575632.4,1,1,20.700001,47.610001,12804909,1508,230,NaT
11,12804910,2017-01-09 14:40:51.890,NaN,36.06612,-86.43410,2016-12-10 14:29:31,41,575632.9,1,0,13.900000,31.969999,12804910,1508,230,NaT
12,12804911,2017-01-09 15:00:41.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,1,575653.2,1,2,19.799999,45.540001,12804911,1508,230,NaT
13,12804912,2017-01-09 15:15:51.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,63,575663.7,1,2,19.100000,43.930000,12804912,1508,230,NaT
14,12804913,2017-01-09 15:24:31.920,NaN,36.06612,-86.43410,2016-12-10 14:29:31,0,575668.8,2,1,16.799999,38.639999,12804913,1508,230,NaT
15,12650361,2017-01-01 08:12:27.390,BAIJO,39.69715,-86.18514,2017-01-01 08:12:29,0,529067.8,1,1,25.600000,58.880001,12650361,1513,230,2017-01-01 12:11:00
16,12650362,2017-01-01 08:14:27.390,BAIJO,39.69715,-86.18514,2017-01-01 08:14:29,0,529067.8,1,0,25.600000,58.880001,12650362,1513,230,2017-01-01 12:11:00
17,12650363,2017-01-01 08:29:37.403,BAIJO,39.69715,-86.18514,2017-01-01 08:29:39,0,529067.8,1,2,26.000000,59.799999,12650363,1513,230,2017-01-01 12:11:00
18,12650364,2017-01-01 08:30:47.403,BAIJO,39.69715,-86.18514,2017-01-01 08:30:49,0,529067.8,2,1,26.000000,59.799999,12650364,1513,230,2017-01-01 12:11:00
19,12651601,2017-01-01 12:05:57.983,BAIJO,39.69725,-86.18459,2017-01-01 12:06:00,7,529067.8,1,1,25.700001,59.110001,12651601,1513,230,2017-01-01 12:11:00
20,12651602,2017-01-01 12:07:47.967,BAIJO,39.69759,-86.18493,2017-01-01 12:07:50,0,529067.9,2,1,24.400000,56.119999,12651602,1513,230,2017-01-01 12:11:00
21,12651603,2017-01-01 12:08:18.090,BAIJO,39.69759,-86.18493,2017-01-01 12:08:20,0,529067.9,2,0,24.400000,56.119999,12651603,1513,230,2017-01-01 12:11:00
22,12651635,2017-01-01 12:13:27.997,BAIJO,39.69734,-86.18494,2017-01-01 12:13:30,4,529067.9,1,1,49.099998,112.930000,12651635,1513,230,2017-01-03 06:37:00
23,12651636,2017-01-01 12:15:37.997,BAIJO,39.69806,-86.18634,2017-01-01 12:15:40,0,529068.1,1,0,45.799999,105.339996,12651636,1513,230,2017-01-03 06:37:00
24,12651716,2017-01-01 12:30:38.060,BAIJO,39.60912,-86.07220,2017-01-01 12:29:09,65,529080.9,1,2,44.799999,103.040001,12651716,1513,230,2017-01-03 06:37:00
25,12652008,2017-01-01 13:16:28.233,BAIJO,38.95619,-85.85215,2017-01-01 13:16:30,0,529127.7,2,1,43.700001,100.510002,12652008,1513,230,2017-01-03 06:37:00
26,12652047,2017-01-01 13:18:28.233,BAIJO,38.95356,-85.85320,2017-01-01 13:18:30,13,529127.9,1,1,44.200001,101.660004,12652047,1513,230,2017-01-03 06:37:00
27,12652048,2017-01-01 13:20:28.263,BAIJO,38.95070,-85.85023,2017-01-01 13:20:30,8,529128.1,1,0,44.700001,102.809998,12652048,1513,230,2017-01-03 06:37:00
28,12652072,2017-01-01 13:22:28.263,BAIJO,38.95036,-85.84935,2017-01-01 13:22:30,0,529128.2,2,1,45.599998,104.879997,12652072,1513,230,2017-01-03 06:37:00
29,12652109,2017-01-01 13:26:28.263,BAIJO,38.95098,-85.84871,2017-01-01 13:26:30,6,529128.3,1,1,43.000000,98.900002,12652109,1513,230,2017-01-03 06:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7908376,21118922,2018-03-21 22:29:15.637,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118922,310,120,2018-03-22 02:49:00
7908377,21118936,2018-03-21 22:29:15.637,BEVL,35.46718,-86.45137,2018-03-21 22:29:17,42,260807.6,1,2,33.900002,40.680000,21118936,310,120,2018-03-22 02:49:00
7908378,21119031,2018-03-21 22:44:15.747,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119031,310,120,2018-03-22 02:49:00
7908379,21119063,2018-03-21 22:44:15.747,BEVL,35.31484,-86.35906,2018-03-21 22:44:17,17,260819.9,1,2,32.700001,39.240002,21119063,310,120,2018-03-22 02:49:00
7908380,21119100,2018-03-21 22:54:05.873,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119100,310,120,2018-03-22 02:49:00
7908381,21119154,2018-03-21 22:54:05.873,BEVL,35.26450,-86.39860,2018-03-21 22:54:07,0,260824.6,2,1,35.400002,42.480000,21119154,310,120,2018-03-22 02:49:00
7908382,21119224,2018-03-21 23:04:45.920,BEVL,35.26409,-86.39845,2018-03-21 23:04:47,0,260824.7,1,0,34.900002,41.880001,21119224,310,120,2018-03-22 02:49:00
7908383,21119340,2018-03-21 23:19:45.950,BEVL,35.26410,-86.39848,2018-03-21 23:19:47,0,260824.7,1,2,35.599998,42.720001,21119340,310,120,2018-03-22 02:49:00
7908384,21119397,2018-03-21 23:34:46.030,BEVL,35.27240,-86.39742,2018-03-21 23:34:47,5,260825.4,1,2,34.000000,40.799999,21119397,310,120,2018-03-22 02:49:00
7908385,21119416,2018-03-21 23:38:06.013,BEVL,35.26360,-86.39919,2018-03-21 23:38:07,0,260826.1,2,1,34.200001,41.040001,21119416,310,120,2018-03-22 02:49:00
7908386,21119458,2018-03-21 23:46:26.043,BEVL,35.26241,-86.39509,2018-03-21 23:46:27,5,260826.4,1,0,33.299999,39.959999,21119458,310,120,2018-03-22 02:49:00
7908387,21119532,2018-03-22 00:01:26.137,BEVL,35.20152,-86.49736,2018-03-22 00:01:27,59,260836.4,1,2,34.700001,41.639999,21119532,310,120,2018-03-22 02:49:00
7908388,21119618,2018-03-22 00:16:36.263,BEVL,35.14628,-86.57983,2018-03-22 00:16:38,5,260843.8,1,1,35.299999,42.360001,21119618,310,120,2018-03-22 02:49:00
7908389,21119689,2018-03-22 00:18:46.280,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119689,310,120,2018-03-22 02:49:00
7908390,21119706,2018-03-22 00:18:46.280,BEVL,35.14272,-86.58209,2018-03-22 00:18:48,30,260844.3,1,0,33.900002,40.680000,21119706,310,120,2018-03-22 02:49:00
7908391,21119690,2018-03-22 00:29:56.327,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119690,310,120,2018-03-22 02:49:00
7908392,21119707,2018-03-22 00:29:56.327,BEVL,35.15319,-86.59292,2018-03-22 00:29:58,0,260845.9,2,1,35.200001,42.240002,21119707,310,120,2018-03-22 02:49:00
7908393,21119721,2018-03-22 00:35:06.373,BEVL,35.15119,-86.59468,2018-03-22 00:35:08,31,260846.2,1,0,33.200001,39.840000,21119721,310,120,2018-03-22 02:49:00
7908394,21119823,2018-03-22 00:50:06.437,BEVL,35.20706,-86.48150,2018-03-22 00:50:08,42,260855.3,1,2,32.200001,38.639999,21119823,310,120,2018-03-22 02:49:00
7908395,21119905,2018-03-22 01:05:06.513,BEVL,35.27241,-86.39709,2018-03-22 01:05:08,0,260863.1,1,2,30.500000,36.599998,21119905,310,120,2018-03-22 02:49:00
7908396,21119925,2018-03-22 01:07:26.543,BEVL,35.27230,-86.39701,2018-03-22 01:07:28,0,260863.1,2,1,29.799999,35.759998,21119925,310,120,2018-03-22 02:49:00
7908397,21120012,2018-03-22 01:23:46.717,BEVL,35.27230,-86.39748,2018-03-22 01:23:48,5,260863.2,1,0,31.600000,37.919998,21120012,310,120,2018-03-22 02:49:00
7908398,21120101,2018-03-22 01:38:46.747,BEVL,35.34875,-86.37777,2018-03-22 01:38:48,43,260871.2,1,2,31.400000,37.680000,21120101,310,120,2018-03-22 02:49:00
7908399,21120277,2018-03-22 02:03:56.967,BEVL,35.58812,-86.44033,2018-03-22 02:03:58,0,260889.3,1,2,29.100000,34.919998,21120277,310,120,2018-03-22 02:49:00
7908400,21120377,2018-03-22 02:19:06.950,BEVL,35.75248,-86.40568,2018-03-22 02:19:08,47,260900.7,1,2,27.100000,32.520000,21120377,310,120,2018-03-22 02:49:00
7908401,21120465,2018-03-22 02:33:16.950,BEVL,35.79507,-86.38428,2018-03-22 02:33:18,0,260906.0,2,1,25.799999,30.959999,21120465,310,120,2018-03-22 02:49:00
7908402,21120494,2018-03-22 02:38:16.950,BEVL,35.79680,-86.38071,2018-03-22 02:38:18,11,260906.2,1,0,24.900000,29.879999,21120494,310,120,2018-03-22 02:49:00
7908403,21120515,2018-03-22 02:44:07.013,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120515,310,120,2018-03-22 02:49:00
7908404,21120529,2018-03-22 02:44:07.013,BEVL,35.80789,-86.39593,2018-03-22 02:44:08,0,260907.6,2,1,24.600000,29.520000,21120529,310,120,2018-03-22 02:49:00
7908405,21120577,2018-03-22 02:53:07.060,BEVL,35.79427,-86.39943,2018-03-22 02:53:08,34,260908.7,1,0,96.699997,116.040001,21120577,310,120,2017-02-15 09:23:00

In [22]:
def flag_anomal_odom_rows_2(df):#!!!! requires a dataframe with a reset index!!!!
    '''takes a dataframe with an Odometer column and returns a boolean index of 
    identifying which rows are noisy Odometer readings and should be dropped.
    '''
    #initialize a series, without attaching it to the df in the hopes of expediency
    OdomDiff = df.Odometer.diff()
    #initialize list which will serve as a boolean index
    flags = []
    flag = 1 #this will be flipped like a switch 1 means do not drop, 0 means drop
    #loop through each difference measurement
    for i in range(len(OdomDiff) - 1):
    # the loop will flag all but the last row because otherwise I'd have to find a way to loop around the "corner" of the index
        #will start by flaggin with 1 (do not drop) until an anomaly flips it.
        flags.append(bool(flag))
    #   # for each truck, if odometer change is anomalous (i.e. spikes up or down) flip the flag switch
        if (df.truck[i + 1] == df.truck[i]) & (abs(OdomDiff[i + 1]) > 200): 
            flag = (flag + 1)%2
    #       #the flag will remain on the delete (i.e. 0) setting until the loop detects the spike that corrects the odometer
    #   # if we change trucks before the anomaly is corrected reset the flag to do not drop (i.e. 1)   
        if df.truck[i + 1] != df.truck[i]:
            flag = 1
    #now that the loop is done, we append the last flag (which is in the state the loop left it. So, if a loop ends before the anomaly is corrected, the flag will still be set at 0/False)
    flags.append(bool(flag))
    return flags

In [ ]:
t0 = datetime.now()
print('started at ', datetime.now())
flags = flag_anomal_odom_rows_2(events_levels_df)
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
    #eliminated the print statement, and some empty lines
    #ran second attempt at 5/4/18, 00:41 am CST

    #the print statement I had in the function was taking too long.
    # I'm getting about 3 rows/second
        # => 2,650,000 seconds = 44, 167 minutes = 736 hours = 31 days... 😒

started at  2018-05-04 03:43:05.333591

In [ ]:
#alright, assuming this works I'll want to redefine the df by dropping the noisy rows
print('started at ', datetime.now())
events_levels_df = events_levels_df[flags]
tf = datetime.now()
print('finished at ', tf)
print('whole process took ', tf-t0)
events_levels_df.info()

# Assuming row cleaning was successful 🤞

#### Now I need to drop all rows with timestamps inside of the time range of consecutive refuelings
- to do this, I'll need to identify each trucks fueling purchases

It looks like Jarrod’s merge produced a litany of duplicate refuel_datetime values. ⛽️ ⛽️ ...⛽️ 

- ✅ This could make sense since every fuel level measurement that happened between refuel_datetime times might have received the preceding refuel_datetime time-stamp.

Assuming this is the case, I should be able to run a modified version of my flag function to flag "inter-fueling-rows". 🇲🇽 
- leaving us with a "feather-light" 89,976 rows


##### attempt to flag inter-fueling-rows

    🦂 
    (is it possible that I would have dropped a noisy row that also happened to identify the next fueling event? Perhaps, (although the odds of having this problem are only 411/7.9Million). Regardless, we should be fine, since the following row will have the appropriate timestamp and odometer reading.) 
    So, we're good to go 
    😁 🚀

In [ ]:
#reset the index now that we have dropped the noisy odometer rows
events_levels_df.reset_indext_index(inplace = True, drop = True)
events_levels_df