In [4]:
import pandas as pd

In [5]:
data_fuel_events = pd.read_csv('data/Extranet2.ExactFuelEvents.csv')

In [49]:
data_fuel_tank_levels = pd.read_csv('data/Extranet2.ExactFuelTankLevels.csv')

In [7]:
data_fuel_transaction = pd.read_csv('data/BGETCHDATA.PTCHTRANH.csv')

In [8]:
data_fuel_transaction.shape

(147861, 21)

In [9]:
data_units = pd.read_csv('data/IBGEFILE.UNITS.csv')

In [10]:
data_units.shape

(709, 3)

In [11]:
data_units.columns = ['unit_number', 'model_year', 'make']

In [12]:
data_units.head(n=5)

  unit_number model_year          make
0         535       1996  PETERBILT
1         534       1996  PETERBILT
2         533       1996  PETERBILT
3         532       1996  PETERBILT
4         531       1996  PETERBILT

In [13]:
data_fuel_optimization = pd.read_csv('data/BGEIDSC.EF2EFFP.csv')

In [14]:
data_fuel_optimization.shape

(836, 7)

In [15]:
#column names to lower for easier typing
data_fuel_optimization.columns = [s.lower() for s in data_fuel_optimization.columns]
data_fuel_optimization.columns

Index(['truck', 'active', 'sendfuel', 'sendroute', 'tankcap', 'avgmpg',
       'sattype'],
      dtype='object')

In [54]:
data_fuel_optimization[data_fuel_optimization.tankcap != 200]

     truck active sendfuel sendroute  tankcap  avgmpg sattype
5     1330      Y        Y         Y      230     6.0
6     1334      Y        Y         Y      230     6.0
7     1336      Y        Y         Y      230     6.0
8     1340      Y        Y         Y      230     6.0
9     1341      Y        Y         Y      230     6.0
10    1345      Y        Y         Y      230     6.0
11    1348      Y        Y         Y      230     6.0
12    1352      Y        Y         Y      230     6.0
13    1354      Y        Y         Y      230     6.0
14    1357      Y        Y         Y      230     6.0
15    1360      Y        Y         Y      230     6.0
16    1361      Y        Y         Y      230     6.0
17    1363      Y        Y         Y      230     6.0
18    1364      Y        Y         Y      230     6.0
19    1365      Y        Y         Y      230     6.0
20    1366      Y        Y         Y      230     6.0
21    1369      Y        Y         Y      230     6.0
22    1370      Y        Y         Y      250     6.0
23    1371      Y        Y         Y      250     6.0
24    1372      Y        Y         Y      250     6.0
25    1373      Y        Y         Y      250     6.0
26    1374      Y        Y         Y      250     6.0
27    1375      Y        Y         Y      250     6.0
28    1376      Y        Y         Y      250     6.0
29    1377      Y        Y         Y      250     6.0
30    1378      Y        Y         Y      250     6.0
31    1379      Y        Y         Y      250     6.0
32    1380      Y        Y         Y      250     6.0
33    1381      Y        Y         Y      250     6.0
34    1382      Y        Y         Y      250     6.0
..     ...    ...      ...       ...      ...     ...     ...
303   1658      Y        Y         Y      230     6.0
304   1659      Y        Y         Y      230     6.0
305   1660      Y        Y         Y      230     6.0
306   1661      Y        Y         Y      230     6.0
307   1662      Y        Y         Y      230     6.0
308   1663      Y        Y         Y      230     6.0
309   1666      Y        Y         Y      230     6.0
310   1667      Y        Y         Y      230     6.0
311   1668      Y        Y         Y      230     6.0
312   1669      Y        Y         Y      230     6.0
313   1670      Y        Y         Y      230     6.0
314   1571      Y        Y         Y      230     6.0
317   1601      Y        Y         Y      250     6.0
349   1664      Y        Y         Y      230     6.0
350   1665      Y        Y         Y      230     6.0
351   1678      Y        Y         Y      235     6.0
352   1677      Y        Y         Y      235     6.0
353   1671      Y        Y         Y      235     6.0
354   1672      Y        Y         Y      235     6.0
355   1673      Y        Y         Y      235     6.0
356   1674      Y        Y         Y      235     6.0
357   1675      Y        Y         Y      235     6.0
358   1676      Y        Y         Y      235     6.0
359   1679      Y        Y         Y      235     6.0
360   1680      Y        Y         Y      235     6.0
434    307      Y        Y         Y      120     6.0
435    308      Y        Y         Y      120     6.0
436    309      Y        Y         Y      120     6.0
437    310      Y        Y         Y      120     6.0
438   1562      Y        Y         Y      250     6.0

[326 rows x 7 columns]

In [17]:
#Actual fuel transactions will have an item code of:
act_fuel_transactions = ['ULSD', 'FUEL', 'CDSL', 'DSL1', 'BDSL']
# and could be in any of the item slots 1-6

In [18]:
data_fuel_transaction.columns = ['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
                         'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id', 
                         'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
                          'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
                          'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6',
                         ]

In [19]:
data_fuel_transaction.head(n=5)

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6
0,42574765,20170101,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0
1,42575331,20170101,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0
2,42578678,20170101,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0
3,42578722,20170101,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
4,42579695,20170101,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0

In [20]:
data_fuel_transaction.shape

(147861, 21)

In [21]:
data_fuel_events.head(n=5)

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1
1,12649084,13640242,2017-01-01 00:01:24.867,1712,105437938,tractor,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27.000,0,0.0,360378.8,1,2
2,12649092,13640251,2017-01-01 00:04:15.053,1713,105438293,tractor,RUSR,35.58664,-84.52786,2017-01-01 00:04:17.000,67,219.5,377577.4,1,2
3,12649102,13640261,2017-01-01 00:04:10.260,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:04:10.000,0,0.0,513931.8,1,2
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2

In [22]:
data_fuel_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8495130 entries, 0 to 8495129
Data columns (total 15 columns):
Id                   int64
ESS_Id               int64
EventTimeStamp       object
EquipmentID          int64
MCTNumber            int64
EquipmentType        object
DriverID             object
Latitude             float64
Longitude            float64
LocationTimeStamp    object
Speed                int64
Heading              float64
Odometer             float64
IgnitionStatus       int64
EFReportReason       int64
dtypes: float64(4), int64(7), object(4)
memory usage: 972.2+ MB

In [23]:
data_fuel_events.isnull().any()

Id                   False
ESS_Id               False
EventTimeStamp       False
EquipmentID          False
MCTNumber            False
EquipmentType        False
DriverID              True
Latitude             False
Longitude            False
LocationTimeStamp    False
Speed                False
Heading              False
Odometer             False
IgnitionStatus       False
EFReportReason       False
dtype: bool

In [24]:
type(data_fuel_events)

pandas.core.frame.DataFrame

In [25]:
data_fuel_events['DriverID'].value_counts()

DYET          33901
SIMJIM        27204
VAUJAM        25743
ULAL          25584
ECKS          24125
CHAJO         23895
OBRG          23551
BULR          23042
CUNW          22963
RENT          22957
LOVH          22395
BROD03        22313
PERT          22190
FARMI         22039
STEGA         21968
CHRN          21921
NARJ          21574
GALJU         21530
SWEJ          21140
ANTR          21046
TAYJON        20882
EDWTI         20845
SAVE          20688
FERCA         20550
SIMJE         20529
STOD          20443
DINE          20246
MORJAM        20216
CRES          19957
JENLE         19871
              ...
SHOP3            52
BANJA            51
DENJE            48
CARJ01           48
REERO            42
STAW             41
SNID             22
ADADE            20
RUDD             17
MEID             12
JOHLO            11
SCHJ             10
CRAIG B          10
HARGR             2
SHOP!             2
BYRCHI            2
WILRON            2
GODJO             2
KINCA             2
HEAD              1
DEASONSHOP        1
ROKAN             1
DAVKEN            1
TAYDO1            1
FURLA             1
KUNDAV            1
WILSO3            1
BEAT              1
36728             1
EDNJ              1
Name: DriverID, Length: 948, dtype: int64

In [26]:
data_fuel_events['Odometer'].max()

861003.90000000002

In [28]:
data_fuel_events.loc[data_fuel_events['Odometer'] == 861003.90000000002]

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
7829068,20484418,40248138,2018-02-17 11:31:56.697,1664,105438725,tractor,HERD,33.02991,-84.96272,2018-02-17 11:31:57.000,0,289.7,861003.9,1,1

In [50]:
len(data_fuel_events['DriverID'].unique())

949

In [30]:
data_fuel_events['Speed'].value_counts()

0      5297851
67      329702
2       169310
65      159735
66      146349
3       134205
4       128776
1       110966
5       104669
6        92148
64       85300
7        80793
8        75987
63       66388
9        62457
62       60094
68       59968
61       55696
60       55437
10       54146
59       50708
58       48090
11       47974
57       44326
56       41349
12       38793
55       37598
54       32557
13       30631
52       28734
        ...
38       15817
27       15609
26       15309
32       15074
34       14991
24       14911
23       14900
33       14864
36       14822
37       14809
25       14773
35       14596
70       12334
71        7497
72        4488
73        2680
74        1494
75         935
76         486
158        390
77         263
78         151
79          61
80          42
81          21
83          12
82          11
84           3
88           1
143          1
Name: Speed, Length: 88, dtype: int64

In [52]:
data_fuel_tank_levels.head(n=5)

         Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
0  10391480       1              82.8            165.60          12667508
1  10391482       1              72.4            144.80          12667510
2  10391505       1              57.1            114.20          12667533
3  10391507       1              80.9            161.80          12667535
4  10391514       1              56.9            142.25          12667542

In [53]:
data_fuel_tank_levels[data_fuel_tank_levels.TankId == 2]

,Id,TankId,TankLevelPercent,TankLevelGallons,ExactFuelEventId
48670,10633484,2,5.5,11.00,12933194
1824799,14078949,2,1.8,3.60,16673494
4579414,13743578,2,5.5,11.00,16313459
5656380,13899589,2,1.8,4.14,16481275

In [20]:
data_fuel_tank_levels.isnull().any()

Id                  False
TankId              False
TankLevelPercent    False
TankLevelGallons    False
ExactFuelEventId    False
dtype: bool

In [21]:
data_fuel_events.isnull().sum()

Id                        0
ESS_Id                    0
EventTimeStamp            0
EquipmentID               0
MCTNumber                 0
EquipmentType             0
DriverID             318942
Latitude                  0
Longitude                 0
LocationTimeStamp         0
Speed                     0
Heading                   0
Odometer                  0
IgnitionStatus            0
EFReportReason            0
dtype: int64

In [19]:
print(data_units.head(n=15))

   UNUNIT UNYEAR        UNMAKE
0     535   1996  PETERBILT
1     534   1996  PETERBILT
2     533   1996  PETERBILT
3     532   1996  PETERBILT
4     531   1996  PETERBILT
5     526   1996  PETERBILT
6     238   1995  PETERBILT
7     536   1997  PETERBILT
8     537   1997  PETERBILT
9     538   1997  PETERBILT
10    539   1997  PETERBILT
11    540   1997  PETERBILT
12      1   1996
13      1   1900  SYSTEM TEST
14    121   1999  PETERBILT

In [39]:
sorted(data_units['UNMAKE'].unique())

['            ',
 'FREIGHTLINER',
 'KENOWRTH    ',
 'KENWORTH    ',
 'KEWORTH     ',
 'MACK        ',
 'PETERBILT   ',
 'SYSTEM TEST ',
 'VOLVO       ']

In [38]:
data_units.loc[data_units['UNYEAR'] == '2008']

   UNUNIT UNYEAR        UNMAKE
22    245   2008  VOLVO
23    246   2008  VOLVO

In [43]:
data_fuel_optimization.head(n=5)

   TRUCK ACTIVE SENDFUEL SENDROUTE  TANKCAP  AVGMPG SATTYPE
0      1      Y        Y         Y      200     6.0
1    243      Y        Y         Y      200     6.0
2    244      Y        Y         Y      200     6.0
3    245      Y        Y         Y      200     6.0
4    246      Y        Y         Y      200     6.0

In [44]:
sorted(data_fuel_optimization['AVGMPG'].unique())

[6.0]

In [47]:
data_fuel_optimization.groupby(['TANKCAP']).count()

         TRUCK  ACTIVE  SENDFUEL  SENDROUTE  AVGMPG  SATTYPE
TANKCAP
120          4       4         4          4       4        4
200        510     510       510        510     510      510
230        180     180       180        180     180      180
235         10      10        10         10      10       10
250        132     132       132        132     132      132

In [49]:
data_fuel_transaction.head(n=5)

,TRNID,TRNDAT,TRNTIM,TRNTS#,TRNTSN,TRNSTC,TRNST,TRNDRI,TRNUNT,TRNPI1,...,TRNPI2,TRNPQ2,TRNPI3,TRNPQ3,TRNPI4,TRNPQ4,TRNPI5,TRNPQ5,TRNPI6,TRNPQ6
0,42574765,20170101,20,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,,0.00,,0.0,,0.0,,0.0,,0
1,42575331,20170101,48,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,DEFD,7.71,CADV,1.0,,0.0,,0.0,,0
2,42578678,20170101,134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,DEFD,4.12,,0.0,,0.0,,0.0,,0
3,42578722,20170101,137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0
4,42579695,20170101,302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,,0.00,,0.0,,0.0,,0.0,,0

In [60]:
data_fuel_transaction.iloc[5:20,5:]

,TRNSTC,TRNST,TRNDRI,TRNUNT,TRNPI1,TRNPQ1,TRNPI2,TRNPQ2,TRNPI3,TRNPQ3,TRNPI4,TRNPQ4,TRNPI5,TRNPQ5,TRNPI6,TRNPQ6
5,ST MARYS,GA,BATK,1992,ULSD,93.88,,0.00,,0.0,,0.0,,0.0,,0
6,ST MARYS,GA,BATK,1992,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0
7,GAFFNEY,SC,MARJOH,1730,ULSD,136.29,DEFD,5.50,,0.0,,0.0,,0.0,,0
8,CHARLOTTE,NC,JAML,1672,ULSD,149.04,,0.00,,0.0,,0.0,,0.0,,0
9,CHARLOTTE,NC,JAML,1672,CADV,1.00,,0.00,,0.0,,0.0,,0.0,,0
10,KNOXVILLE,TN,BEAKEV,1739,ULSD,99.85,CADV,1.00,,0.0,,0.0,,0.0,,0
11,JACKSON,TN,MCAD,1585,ULSD,131.69,CADV,1.00,,0.0,,0.0,,0.0,,0
12,GLADEVILLE,TN,JARJ,1930,ULSD,90.62,,0.00,,0.0,,0.0,,0.0,,0
13,MOUNT AIRY,NC,LESJ,1608,ULSD,89.72,DEFD,3.58,CADV,1.0,,0.0,,0.0,,0
14,MORGANTOWN,WV,BLACH,1878,ULSD,61.52,,0.00,,0.0,,0.0,,0.0,,0
15,ST MATTHEWS,SC,WILTED,1726,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0
16,WHITELAND,IN,HIGK,1757,ULSD,139.95,DEFD,1.63,,0.0,,0.0,,0.0,,0
17,N. LITTLE ROCK,AR,STEMI,1528,ULSD,130.66,DEFD,4.08,CADV,1.0,,0.0,,0.0,,0
18,ST MATTHEWS,SC,WILTED,1726,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0
19,CANDOR,NC,WICJO,1887,ULSD,54.03,,0.00,,0.0,,0.0,,0.0,,0

In [52]:
data_fuel_transaction['TRNST'].unique()

array(['OH', 'TX', 'GA', 'TN', 'SC', 'NC', 'WV', 'IN', 'AR', 'VA', 'PA',
       'KY', 'AL', 'FL', 'NJ', 'LA', 'IL', 'MS', 'MD', 'MA', 'MI', 'WI',
       'MN', 'MO', 'NY', 'OK', 'CT', 'IA', 'NM', 'AZ', 'NV', 'RI', 'KS',
       'NH', 'CO', 'WY', 'UT', 'NE', 'CA', 'ME', 'ID', 'MT', 'SD', 'WA',
       'OR'], dtype=object)

In [102]:
data_fuel_transaction.groupby(['TRNST','TRNSTC','TRNTSN']).size()

TRNST  TRNSTC           TRNTSN
AL     BIRMINGHAM       CAT SCALES FLYING J / PIL      8
                        COWBOYS #3672                  1
                        FJ-BIRMINGHAM 602            340
                        PILOT BIRMINGHAM 369          60
       BOAZ             COWBOYS #26                    1
       BRENT            SUPER MART                     1
       BREWTON          KANGAROO EXPRESS #1571         1
       BUCKSVILLE       CAT SCALES PETRO STOPPING      1
       CALERA           SPEED TRACK INC                1
       CHILDERSBURG     COWBOYS #3664                  1
       CLANTON          CAT SCALES LOVE'S COUNTRY      9
                        LOVES # 368 TRAVEL STOP      153
                        THE STORE #1                   1
       COTTONDALE       CAT SCALES  TA COTTONDALE      1
                        PFJ SOUTHEAST 4555             2
                        PILOT #4555                   48
                        PILOT FLYING J SOUTHEAST      20
                        TA TUSCALOOSA                 12
       CULLMAN          CAT SCALES  PETRO   DODGE      7
                        CAT SCALES  PILOT TRAVEL      16
                        JACKS TRUCK STOP               2
       CUSSETA          CUSSETA TRAVEL PLAZA           1
       DODGE CITY       PETRO DODGE CITY              23
       DOTHAN           FJ-DOTHAN 603                158
       EVERGREEN        LOVES #225 TRAVEL STOP        20
       FACKLER          C.A. WILSON                   26
                        CAT SCALES FACKLER TEXACO      1
       FALKVILLE        CAT SCALES LOVE'S COUNTRY      3
                        J-MART 665                     1
                        LOVES # 381 TRAVEL STOP       65
                                                    ...
WI     ROBERTS          CAT SCALES FLYING J / PIL      1
                        FJ -ROBERTS 470               16
       STURTEVANT       HIGHLANDS PETRO #6368          1
WV     BECKLEY          GO MART #50                    5
                        WHITING JAMISON 713            6
       FAIRMONT         K & T TRUCK STOP               1
       FLATWOODS        CAT SCALES PILOT TRAVEL C      6
       HURRICANE        CAT SCALES TA HURRICANE        3
                        TA HURRICANE                  14
       JANE LEW         CAT SCALES  JANE LEW TRUC      3
                        JANE LEW TRUCK STOP            4
       MINERAL WELLS    LIBERTY TRUCK STOP             1
       MORGANTOWN       CAT SCALES PILOT TRAVEL C      5
                        PILOT MORGANTOWN 503         256
       NITRO            CAT SCALES PILOT TRAVEL C      3
                        PILOT NITRO 243              606
       PARKERSBURG      GO MART #99                   13
                        SPEEDWAY #9381                 3
       RIPLEY           CAT SCALES LOVE'S COUNTRY      2
       RIPLEY (FAIRPLA  LOVES # 378 TRAVEL STOP       54
       SUTTON           PILOT SUTTON 474             367
       VALLEY GROVE     TA WHEELING                   33
       WHEELING         CAT SCALES  TA WHEELING        4
WY     CHEYENNE         FJ-CHEYENNE 759                1
                        PILOT CHEYENNE 402             1
                        TA CHEYENNE                    1
       LARAMIE          PILOT LARAMIE 308              3
                        SPF #47                        1
       RAWLINS          FJ-RAWLINS 763                 3
       ROCK SPRINGS     FJ-ROCK SPRINGS 764            3
Length: 1969, dtype: int64

In [63]:
data_fuel_events.head(n=5)

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1
1,12649084,13640242,2017-01-01 00:01:24.867,1712,105437938,tractor,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27.000,0,0.0,360378.8,1,2
2,12649092,13640251,2017-01-01 00:04:15.053,1713,105438293,tractor,RUSR,35.58664,-84.52786,2017-01-01 00:04:17.000,67,219.5,377577.4,1,2
3,12649102,13640261,2017-01-01 00:04:10.260,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:04:10.000,0,0.0,513931.8,1,2
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2

In [70]:
data_fuel_events['Speed'].unique()

array([  0,  67,   3,  53,  56,  10,  46,  63,   9,  57,  13,   2,  16,
         6,  48,  65,  66,  31,   8,  47,  64,   7,  69,  61,  59,  42,
         1,   4,  60,  14,  51,  17,  72,  12,  55,  58,  21,  26,  62,
        24,  33,   5,  38,  15,  41,  44,  11,  25,  30,  23,  27,  39,
        68,  54,  52,  18,  70,  19,  43,  71,  32,  34,  28,  45,  50,
        75,  35,  22,  36,  49,  37,  20,  40,  29,  73,  76,  74,  77,
        79,  81,  83,  84, 158,  82,  78,  80, 143,  88], dtype=int64)

In [84]:
data_fuel_events.groupby(['DriverID','Speed']).size().to_frame('size').reset_index().sort_values(['DriverID', 'size'], ascending=[True, False])
#data_fuel_transaction.groupby(['TRNST','TRNSTC','TRNTSN']).count()

      DriverID  Speed  size
0        36728      0     1
1         ABBV      0  3365
68        ABBV     67   378
3         ABBV      2   173
67        ABBV     66   132
5         ABBV      4   116
4         ABBV      3   105
2         ABBV      1    98
9         ABBV      8    95
66        ABBV     65    94
6         ABBV      5    87
12        ABBV     11    81
7         ABBV      6    74
8         ABBV      7    73
11        ABBV     10    64
10        ABBV      9    60
64        ABBV     63    60
13        ABBV     12    59
69        ABBV     68    58
65        ABBV     64    56
63        ABBV     62    51
61        ABBV     60    49
15        ABBV     14    46
62        ABBV     61    45
60        ABBV     59    41
17        ABBV     16    34
59        ABBV     58    34
14        ABBV     13    32
16        ABBV     15    29
70        ABBV     69    25
...        ...    ...   ...
66404     ZAMJ     22     6
66408     ZAMJ     26     6
66412     ZAMJ     30     6
66417     ZAMJ     35     6
66425     ZAMJ     43     6
66398     ZAMJ     16     5
66403     ZAMJ     21     5
66405     ZAMJ     23     5
66415     ZAMJ     33     5
66418     ZAMJ     36     5
66419     ZAMJ     37     5
66428     ZAMJ     46     5
66431     ZAMJ     49     5
66433     ZAMJ     51     5
66410     ZAMJ     28     4
66423     ZAMJ     41     4
66427     ZAMJ     45     4
66451     ZAMJ     69     4
66455     ZAMJ     75     4
66407     ZAMJ     25     3
66409     ZAMJ     27     3
66413     ZAMJ     31     3
66414     ZAMJ     32     3
66424     ZAMJ     42     3
66452     ZAMJ     70     3
66420     ZAMJ     38     2
66426     ZAMJ     44     2
66450     ZAMJ     68     2
66453     ZAMJ     71     1
66454     ZAMJ     72     1

[66456 rows x 3 columns]

In [73]:
data_fuel_events[data_fuel_events['DriverID'] == 'BATK']

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1
8,12649107,13640276,2017-01-01 00:13:02.450,1992,105369677,tractor,BATK,30.34646,-81.70727,2017-01-01 00:13:00.000,0,0.0,39895.5,1,0
11,12649110,13640280,2017-01-01 00:15:52.450,1992,105369677,tractor,BATK,30.34605,-81.70736,2017-01-01 00:15:50.000,0,0.0,39895.6,2,1
17,12649116,13640292,2017-01-01 00:26:22.497,1992,105369677,tractor,BATK,30.34603,-81.70738,2017-01-01 00:26:20.000,0,0.0,39895.6,1,0
33,12649132,13640316,2017-01-01 00:41:22.560,1992,105369677,tractor,BATK,30.36038,-81.76080,2017-01-01 00:41:20.000,63,359.3,39901.1,1,2
89,12649191,13640352,2017-01-01 01:02:42.683,1992,105369677,tractor,BATK,30.61811,-81.64883,2017-01-01 01:02:41.000,0,0.0,39923.4,1,2
103,12649205,13640378,2017-01-01 01:17:42.810,1992,105369677,tractor,BATK,30.62091,-81.52817,2017-01-01 01:17:41.000,48,107.0,39930.8,1,2
118,12649220,13640398,2017-01-01 01:30:02.827,1992,105369677,tractor,BATK,30.67889,-81.45789,2017-01-01 01:30:01.000,0,0.0,39938.3,2,1
124,12649230,13640413,2017-01-01 01:34:02.840,1992,105369677,tractor,BATK,30.67917,-81.45939,2017-01-01 01:34:01.000,0,0.0,39938.4,2,1
125,12649231,13640414,2017-01-01 01:34:32.840,1992,105369677,tractor,BATK,30.67917,-81.45943,2017-01-01 01:34:31.000,0,0.0,39938.4,2,0
183,12649289,13640457,2017-01-01 02:00:12.950,1992,105369677,tractor,BATK,30.68098,-81.45798,2017-01-01 02:00:12.000,2,75.8,39938.6,1,0
184,12649290,13640459,2017-01-01 02:01:22.920,1992,105369677,tractor,BATK,30.68094,-81.45798,2017-01-01 02:01:22.000,0,0.0,39938.6,2,1
190,12649296,13640473,2017-01-01 02:09:02.967,1992,105369677,tractor,BATK,30.67830,-81.45755,2017-01-01 02:09:02.000,7,134.5,39938.8,1,0
191,12649297,13640476,2017-01-01 02:12:13.013,1992,105369677,tractor,BATK,30.67761,-81.45689,2017-01-01 02:12:12.000,0,0.0,39938.9,2,1
197,12649303,13640484,2017-01-01 02:17:33.060,1992,105369677,tractor,BATK,30.67768,-81.45694,2017-01-01 02:17:32.000,0,0.0,39938.9,1,0
208,12649314,13640499,2017-01-01 02:32:33.170,1992,105369677,tractor,BATK,30.63209,-81.46709,2017-01-01 02:32:32.000,46,258.7,39942.4,1,2
221,12649327,13640524,2017-01-01 02:47:43.170,1992,105369677,tractor,BATK,30.62420,-81.63329,2017-01-01 02:47:42.000,59,252.3,39952.7,1,2
263,12649369,13640548,2017-01-01 03:02:23.170,1992,105369677,tractor,BATK,30.76085,-81.64919,2017-01-01 03:02:22.000,0,0.0,39964.2,2,1
270,12649376,13640561,2017-01-01 03:10:33.170,1992,105369677,tractor,BATK,30.76150,-81.64987,2017-01-01 03:10:31.000,0,0.0,39964.3,1,1
273,12649379,13640564,2017-01-01 03:13:03.170,1992,105369677,tractor,BATK,30.76121,-81.64973,2017-01-01 03:13:01.000,0,0.0,39964.5,2,1
276,12649382,13640567,2017-01-01 03:13:33.183,1992,105369677,tractor,BATK,30.76131,-81.64964,2017-01-01 03:13:31.000,0,0.0,39964.5,2,0
305,12649411,13640609,2017-01-01 03:39:03.263,1992,105369677,tractor,BATK,30.75983,-81.64915,2017-01-01 03:39:02.000,13,259.2,39964.8,1,0
421,12649530,13640733,2017-01-01 04:39:03.420,1992,105369677,tractor,BATK,31.63159,-81.40584,2017-01-01 04:39:01.000,65,23.0,40029.0,1,2
498,12649607,13640804,2017-01-01 05:10:33.637,1992,105369677,tractor,BATK,32.07436,-81.24515,2017-01-01 05:10:31.000,0,0.0,40062.3,1,2
525,12649634,13640839,2017-01-01 05:25:33.717,1992,105369677,tractor,BATK,32.15768,-81.43085,2017-01-01 05:25:31.000,65,320.6,40074.7,1,2
708,12649825,13641028,2017-01-01 06:09:13.813,1992,105369677,tractor,BATK,32.37528,-82.16484,2017-01-01 06:09:11.000,0,286.4,40121.5,1,2
713,12649830,13641036,2017-01-01 06:12:53.843,1992,105369677,tractor,BATK,32.37529,-82.16483,2017-01-01 06:12:51.000,0,0.0,40121.5,2,1
944,12650064,13641278,2017-01-01 07:22:54.327,1992,105369677,tractor,BATK,32.37529,-82.16485,2017-01-01 07:22:52.000,7,0.0,40121.5,1,0
1021,12650154,13641380,2017-01-01 07:37:54.470,1992,105369677,tractor,BATK,32.42172,-82.41187,2017-01-01 07:37:52.000,65,279.4,40136.5,1,2
1249,12650390,13641654,2017-01-01 08:37:54.827,1992,105369677,tractor,BATK,32.66505,-83.45972,2017-01-01 08:37:52.000,63,303.5,40201.2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5116252,17769122,27485981,2017-09-25 13:12:02.703,1992,105369677,tractor,BATK,36.18930,-86.29516,2017-09-25 13:12:02.000,0,0.0,130961.0,2,1
5116513,17769383,27487295,2017-09-25 13:22:52.703,1992,105369677,tractor,BATK,36.18913,-86.29408,2017-09-25 13:22:52.000,1,0.0,130961.1,1,0
5116516,17769386,27487298,2017-09-25 13:24:02.703,1992,105369677,tractor,BATK,36.18922,-86.29408,2017-09-25 13:24:02.000,0,0.0,130961.1,2,1
5125944,17778814,27533169,2017-09-25 23:53:52.593,1992,105369677,tractor,BATK,36.18914,-86.29410,2017-09-25 23:53:52.000,0,0.0,130961.1,2,1
5125947,17778817,27533178,2017-09-25 23:55:52.563,1992,105369677,tractor,BATK,36.18914,-86.29408,2017-09-25 23:55:52.000,0,0.0,130961.1,2,0
5126392,17779262,27535668,2017-09-26 01:22:42.827,1992,105369677,tractor,BATK,36.18917,-86.29408,2017-09-26 01:22:42.000,0,0.0,130961.1,2,1
5126397,17779267,27535673,2017-09-26 01:23:12.827,1992,105369677,tractor,BATK,36.18914,-86.29406,2017-09-26 01:23:12.000,0,0.0,130961.1,2,0
5130924,17783794,27556254,2017-09-26 07:57:34.437,1992,105369677,tractor,BATK,36.18927,-86.29527,2017-09-26 07:57:34.000,0,0.0,130961.2,1,0
5131253,17784123,27557563,2017-09-26 08:12:34.483,1992,105369677,tractor,BATK,36.14911,-86.36593,2017-09-26 08:12:34.000,67,220.8,130968.3,1,2
5131493,17784363,27558693,2017-09-26 08:22:54.720,1992,105369677,tractor,BATK,36.06663,-86.43472,2017-09-26 08:22:54.000,0,0.0,130975.8,2,1
5132094,17784964,27561272,2017-09-26 08:48:44.827,1992,105369677,tractor,BATK,36.06670,-86.43484,2017-09-26 08:48:44.000,0,0.0,130975.8,2,1
5132137,17785007,27561404,2017-09-26 08:50:04.813,1992,105369677,tractor,BATK,36.06667,-86.43482,2017-09-26 08:50:04.000,0,0.0,130975.8,2,0
5132206,17785076,27561783,2017-09-26 08:53:14.813,1992,105369677,tractor,BATK,36.06730,-86.43352,2017-09-26 08:53:14.000,0,0.0,130975.9,2,1
5132230,17785100,27561925,2017-09-26 08:54:24.827,1992,105369677,tractor,BATK,36.06728,-86.43356,2017-09-26 08:54:24.000,0,0.0,130975.9,2,0
5134278,17787148,27573002,2017-09-26 10:18:54.937,1992,105369677,tractor,BATK,36.06690,-86.43419,2017-09-26 10:18:54.000,0,0.0,130976.0,2,1
5134313,17787183,27573208,2017-09-26 10:19:54.937,1992,105369677,tractor,BATK,36.06692,-86.43417,2017-09-26 10:19:54.000,0,0.0,130976.0,2,0
5136600,17789470,27584775,2017-09-26 11:51:15.437,1992,105369677,tractor,BATK,36.06593,-86.43291,2017-09-26 11:51:15.000,0,0.0,130976.1,2,0
5136606,17789476,27584829,2017-09-26 11:51:35.437,1992,105369677,tractor,BATK,36.06593,-86.43291,2017-09-26 11:51:35.000,0,0.0,130976.1,2,1
5137779,17790649,27590925,2017-09-26 12:40:25.907,1992,105369677,tractor,BATK,36.06691,-86.43417,2017-09-26 12:40:25.000,0,0.0,130976.2,2,0
5137803,17790673,27591055,2017-09-26 12:41:15.920,1992,105369677,tractor,BATK,36.06690,-86.43416,2017-09-26 12:41:15.000,0,0.0,130976.2,2,1
5212155,17865033,27948638,2017-09-29 16:19:34.557,1992,105369677,tractor,BATK,36.06696,-86.43488,2017-09-29 16:19:33.000,0,0.0,130976.3,2,1
5212188,17865066,27948720,2017-09-29 16:21:24.537,1992,105369677,tractor,BATK,36.06683,-86.43484,2017-09-29 16:21:23.000,0,0.0,130976.3,2,0
5213406,17866284,27955582,2017-09-29 17:30:04.757,1992,105369677,tractor,BATK,36.06718,-86.43481,2017-09-29 17:30:03.000,0,0.0,130976.3,1,1
5213423,17866301,27955778,2017-09-29 17:31:14.757,1992,105369677,tractor,BATK,36.06718,-86.43479,2017-09-29 17:31:13.000,0,0.0,130976.3,2,1
5213447,17866325,27955834,2017-09-29 17:32:14.770,1992,105369677,tractor,BATK,36.06721,-86.43479,2017-09-29 17:32:13.000,0,0.0,130976.3,2,0
5213605,17866483,27956534,2017-09-29 17:42:54.770,1992,105369677,tractor,BATK,36.06738,-86.43484,2017-09-29 17:42:53.000,0,0.0,130976.3,1,1
5213675,17866553,27956609,2017-09-29 17:45:04.770,1992,105369677,tractor,BATK,36.06709,-86.43452,2017-09-29 17:45:03.000,0,0.0,130976.3,1,0
5213743,17866621,27956869,2017-09-29 17:50:04.770,1992,105369677,tractor,BATK,36.06724,-86.43495,2017-09-29 17:50:03.000,0,0.0,130976.3,1,1
5213793,17866671,27956926,2017-09-29 17:52:44.787,1992,105369677,tractor,BATK,36.06754,-86.43469,2017-09-29 17:52:43.000,0,0.0,130976.3,1,0
5213877,17866755,27957553,2017-09-29 17:58:14.787,1992,105369677,tractor,BATK,36.06604,-86.43443,2017-09-29 17:58:13.000,0,0.0,130976.5,2,1

In [74]:
data_fuel_tank_levels.head(n=5)

         Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
0  10391480       1              82.8            165.60          12667508
1  10391482       1              72.4            144.80          12667510
2  10391505       1              57.1            114.20          12667533
3  10391507       1              80.9            161.80          12667535
4  10391514       1              56.9            142.25          12667542

In [76]:
data_fuel_tank_levels['TankId'].value_counts()

1    7908824
2          4
Name: TankId, dtype: int64

In [79]:
data_fuel_tank_levels[data_fuel_tank_levels['TankId'] == 2]

,Id,TankId,TankLevelPercent,TankLevelGallons,ExactFuelEventId
48670,10633484,2,5.5,11.00,12933194
1824799,14078949,2,1.8,3.60,16673494
4579414,13743578,2,5.5,11.00,16313459
5656380,13899589,2,1.8,4.14,16481275

In [86]:
# Datetime format reference: 
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior 
##########---------converting cols to datetime-------

def cols_to_timestamp(df, col_list):
    for col in col_list:
        df[col] = pd.to_datetime(df[col], format = '%Y-%m-%d %H:%M:%S')
    return df
#ts_cols = ['EventTimeStamp', 'LocationTimeStamp']
#events_fuel_df =  cols_to_timestamp(events_fuel_df, ts_cols)

In [93]:
#data performance 
data_performance = pd.read_csv('data/Extranet2.QCPerformanceExtracts.csv',header= None)

In [100]:
data_performance.tail(n=5)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
32382,116174,35853279,2017-12-30 13:17:05.000,1854,105385876,tractor,ROSE,NaN,35.280046,-80.806249,...,0,233.8,5.7,0,1,0,1607,3,MPH,"35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32383,116175,35856910,2017-12-30 14:18:35.000,1979,105313312,tractor,HIEK,NaN,36.066296,-86.434537,...,0,0.5,0.3,0,0,0,0,3,MPH,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32384,116176,35856911,2017-12-30 14:18:36.000,1979,105313312,tractor,HIEK,NaN,36.066296,-86.434537,...,0,235.2,2.0,0,1,527,0,3,MPH,"34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
32385,116177,35874186,2017-12-30 23:33:46.000,2028,108034857,tractor,JORW,NaN,34.193148,-80.282499,...,0,211.6,18.2,0,1,254,1186,3,MPH,"107,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
32386,116178,35874249,2017-12-30 23:37:47.000,2090,108087387,tractor,SHADE,NaN,35.050648,-85.636620,...,0,311.7,0.6,0,1,8,1816,1,MPH,"70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."

In [95]:
data_performance.info

<bound method DataFrame.info of            0         1                        2          3          4   \
0       76818  13641356  2017-01-01 07:29:49.000       1995  105356577
1       76819  13641357  2017-01-01 07:29:50.000       1995  105356577
2       76820  13641432  2017-01-01 07:49:44.000  105420005  105420005
3       76821  13643644  2017-01-01 13:58:17.000       1972  105363528
4       76822  13643645  2017-01-01 13:58:18.000       1972  105363528
5       76823  13643777  2017-01-01 14:19:55.000       1985  105370056
6       76824  13644321  2017-01-01 16:00:28.000       1861  105339124
7       76825  13644322  2017-01-01 16:00:29.000       1861  105339124
8       76826  13644956  2017-01-01 18:09:40.000       1538  105392945
9       76827  13645006  2017-01-01 18:18:19.000       1777  105446111
10      76828  13645007  2017-01-01 18:18:19.000       1777  105446111
11      76829  13645204  2017-01-01 19:21:44.000       1814  105369518
12      76830  13645857  2017-01-02 00:13:49.000       1973  105364937
13      76831  13648198  2017-01-02 08:08:58.000       1906  105370315
14      76832  13648298  2017-01-02 08:14:44.000       1763  105442821
15      76833  13648515  2017-01-02 08:27:13.000       1882  105341163
16      76834  13648919  2017-01-02 08:56:05.000       2006  105369474
17      76835  13648920  2017-01-02 08:56:05.000       2006  105369474
18      76836  13648928  2017-01-02 08:56:06.000       2006  105369474
19      76837  13649599  2017-01-02 09:36:09.000       1876  105320321
20      76838  13649600  2017-01-02 09:36:09.000       1876  105320321
21      76839  13649822  2017-01-02 09:55:32.000       1718  105346821
22      76840  13649823  2017-01-02 09:55:33.000       1718  105346821
23      76841  13650028  2017-01-02 10:06:23.000       1901  105389390
24      76842  13650953  2017-01-02 11:01:54.000       1979  105350882
25      76843  13655336  2017-01-02 16:30:50.000       1860  105441522
26      76844  13655337  2017-01-02 16:30:51.000       1860  105441522
27      76845  13656605  2017-01-02 18:28:39.000       1808  105400037
28      76846  13656606  2017-01-02 18:28:39.000       1808  105400037
29      76847  13656748  2017-01-02 18:41:12.000  105434215  105434215
...       ...       ...                      ...        ...        ...
32357  116149  35792451  2017-12-29 14:29:06.000       1706  105435630
32358  116150  35794167  2017-12-29 14:52:25.000       2043  105406640
32359  116151  35804543  2017-12-29 17:02:52.000       2114  105358195
32360  116152  35804544  2017-12-29 17:02:53.000       2114  105358195
32361  116153  35804545  2017-12-29 17:02:53.000       2114  105358195
32362  116154  35810200  2017-12-29 18:49:09.000       1656  105338626
32363  116155  35815099  2017-12-29 21:14:56.000       1706  105435630
32364  116156  35817704  2017-12-29 22:38:06.000       2138  105338811
32365  116157  35821115  2017-12-30 01:24:25.000       1822  105467982
32366  116158  35822144  2017-12-30 02:06:42.000       2094  108088333
32367  116159  35826421  2017-12-30 04:54:46.000       1957  105346714
32368  116160  35828861  2017-12-30 06:12:43.000       1803  105460307
32369  116161  35828862  2017-12-30 06:12:43.000       1803  105460307
32370  116162  35835825  2017-12-30 08:37:11.000       2092  108088561
32371  116163  35844657  2017-12-30 11:05:29.000       1826  105427203
32372  116164  35846714  2017-12-30 11:34:50.000       1662  105353629
32373  116165  35846715  2017-12-30 11:34:51.000       1662  105353629
32374  116166  35846955  2017-12-30 11:39:32.000       2091  105408494
32375  116167  35850643  2017-12-30 12:29:44.000       1639  105341130
32376  116168  35851362  2017-12-30 12:40:06.000       2119  105432778
32377  116169  35852532  2017-12-30 13:02:42.000       1822  105467982
32378  116170  35853108  2017-12-30 13:12:19.000       2117  105365537
32379  116171  35853109  2017-12-30 13:12:20.000       2117  105365537
32380  116172  35853203  2017-12-30 13:14:56.000       1718  105411463
32381  116173  35853204  2017-12-30 13:14:56.000       1718  105411463
32382  116174  35853279  2017-12-30 13:17:05.000       1854  105385876
32383  116175  35856910  2017-12-30 14:18:35.000       1979  105313312
32384  116176  35856911  2017-12-30 14:18:36.000       1979  105313312
32385  116177  35874186  2017-12-30 23:33:46.000       2028  108034857
32386  116178  35874249  2017-12-30 23:37:47.000       2090  108087387

            5          6    7          8          9   \
0      tractor       LYNS  NaN  36.066249 -86.434814
1      tractor       LYNS  NaN  36.066249 -86.434814
2      tractor       LOTG  NaN  36.195138 -83.174583
3      tractor       DINE  NaN  36.194444 -83.175185
4      tractor       DINE  NaN  36.194444 -83.175185
5      tractor       GAME  NaN  35.013935 -89.894537
6      tractor       WYNF  NaN  35.588101 -86.444259
7      tractor       WYNF  NaN  35.588101 -86.444259
8      tractor        NaN  NaN  36.066712 -86.434722
9      tractor      MARLO  NaN  36.067175 -86.433564
10     tractor      MARLO  NaN  36.067175 -86.433564
11     tractor      BURST  NaN  36.066157 -86.434999
12     tractor      BENRO  NaN  36.066111 -86.434351
13     tractor       BOYG  NaN  36.194537 -83.174861
14     tractor      SHEMI  NaN  38.349027 -85.709305
15     tractor       BRAO  NaN  44.141574 -87.866805
16     tractor      HODJE  NaN  39.348425 -88.425092
17     tractor      HODJE  NaN  39.348425 -88.425092
18     tractor      HODJE  NaN  39.348935 -88.424861
19     tractor      HANSE  NaN  36.097037 -86.421111
20     tractor      HANSE  NaN  36.097037 -86.421111
21     tractor       PETD  NaN  36.066527 -86.435231
22     tractor       PETD  NaN  36.066527 -86.435231
23     tractor      STARI  NaN  35.496388 -86.461527
24     tractor       HIEK  NaN  36.066342 -86.434351
25     tractor       DANR  NaN  35.587546 -86.443564
26     tractor       DANR  NaN  35.587546 -86.443564
27     tractor      CHAJO  NaN  36.066157 -86.433564
28     tractor      CHAJO  NaN  36.066157 -86.433564
29     tractor  000000000  NaN  36.171805 -86.036666
...        ...        ...  ...        ...        ...
32357  tractor        NaN  NaN  35.587129 -86.443935
32358  tractor       HOYJ  NaN  39.952916 -81.936574
32359  tractor      SHIJO  NaN  35.840740 -86.427824
32360  tractor      SHIJO  NaN  35.840740 -86.427824
32361  tractor      SHIJO  NaN  35.840740 -86.427824
32362  tractor        NaN  NaN  36.066296 -86.434768
32363  tractor        NaN  NaN  35.587685 -86.443749
32364  tractor       GLAJ  NaN  35.587407 -86.444074
32365  tractor        NaN  NaN  35.587592 -86.443749
32366  tractor       HERV  NaN  39.595462 -83.653240
32367  tractor       ECKS  NaN  35.808657 -86.395833
32368  tractor        NaN  NaN  36.194999 -83.175138
32369  tractor        NaN  NaN  36.194999 -83.175138
32370  tractor       DEFE  NaN  36.066759 -86.434629
32371  tractor        NaN  NaN  36.195138 -83.174953
32372  tractor       MCNK  NaN  36.066203 -86.433564
32373  tractor       MCNK  NaN  36.066203 -86.433564
32374  tractor       VANM  NaN  36.622499 -86.554490
32375  tractor       BULR  NaN  30.125277 -81.785648
32376  tractor        NaN  NaN  35.587314 -86.444120
32377  tractor        NaN  NaN  35.587499 -86.443749
32378  tractor     TAYJON  NaN  37.082268 -86.068240
32379  tractor     TAYJON  NaN  37.082268 -86.068240
32380  tractor       PETD  NaN  36.065879 -86.432407
32381  tractor       PETD  NaN  36.065879 -86.432407
32382  tractor       ROSE  NaN  35.280046 -80.806249
32383  tractor       HIEK  NaN  36.066296 -86.434537
32384  tractor       HIEK  NaN  36.066296 -86.434537
32385  tractor       JORW  NaN  34.193148 -80.282499
32386  tractor      SHADE  NaN  35.050648 -85.636620

                             ...                         22     23    24 25  \
0                            ...                          0    0.3   0.3  0
1                            ...                          0  239.7  21.2  0
2                            ...                          0  246.1   3.2  0
3                            ...                          0    0.2   0.1  0
4                            ...                          0  202.1   1.5  1
5                            ...                          0  280.1   3.3  1
6                            ...                          0    0.5   0.5  0
7                            ...                          0  278.8   1.6  0
8                            ...                          0    0.0   0.0  0
9                            ...                          0    0.5   0.5  0
10                           ...                          0  201.7   1.8  1
11                           ...                          0   23.8   0.6  0
12                           ...                          0  172.2   2.3  0
13                           ...                          0  107.2   0.1  0
14                           ...                          0  149.2   1.2  0
15                           ...                          0  202.5   1.0  0
16                           ...                          0    0.0   0.0  0
17                           ...                          0    0.0   0.0  0
18                           ...                          0   49.5   0.3  1
19                           ...                          0    0.2   0.1  0
20                           ...                          0  246.1   0.8  1
21                           ...                          0    0.1   0.1  0
22                           ...                          0  199.6   0.3  0
23                           ...                          0  170.1   1.3  0
24                           ...                          0  179.5   3.2  1
25                           ...                          0    0.3   0.1  0
26                           ...                          0   74.5   2.0  0
27                           ...                          0    0.1   0.1  0
28                           ...                          0  142.8   1.7  0
29                           ...                          0    0.0   0.0  0
...                          ...                         ..    ...   ... ..
32357                        ...                          0  190.2   0.7  0
32358                        ...                          0  261.2   2.2  1
32359                        ...                          0    0.3   0.2  1
32360                        ...                          0    0.0   0.0  0
32361                        ...                          0    7.3   0.2  0
32362                        ...                          0    0.7   0.6  0
32363                        ...                          0    0.7   0.3  0
32364                        ...                          0    0.3   0.2  0
32365                        ...                          0   77.1   3.8  0
32366                        ...                          0  485.0  11.1  0
32367                        ...                          0  244.0  23.8  0
32368                        ...                          0    0.3   0.1  1
32369                        ...                          0    0.0   0.0  0
32370                        ...                          0  235.3   2.0  0
32371                        ...                          0    0.3   0.3  1
32372                        ...                          0    0.0   0.0  0
32373                        ...                          0    0.0   0.0  0
32374                        ...                          0    0.1   0.1  0
32375                        ...                          0  212.7   1.0  0
32376                        ...                          0    0.5   0.2  1
32377                        ...                          0    6.1   6.1  0
32378                        ...                          0    0.0   0.0  0
32379                        ...                          0  263.0  14.7  0
32380                        ...                          0    0.6   0.6  0
32381                        ...                          0  163.7   0.8  0
32382                        ...                          0  233.8   5.7  0
32383                        ...                          0    0.5   0.3  0
32384                        ...                          0  235.2   2.0  0
32385                        ...                          0  211.6  18.2  0
32386                        ...                          0  311.7   0.6  0

      26    27    28  29   30  \
0      0     0     0   3  MPH
1      1    49  1399   3  MPH
2      1  1014  1362   3  MPH
3      0     0     0   3  MPH
4      1    12  1298   3  MPH
5      1  1158  1789   3  MPH
6      0     0     0   3  MPH
7      1  1323  1849   3  MPH
8      0     0     0   0  MPH
9      0     0     0   3  MPH
10     1   324  1153   3  MPH
11     1    98   138   3  MPH
12     1   957  1118   3  MPH
13     1   314   635   3  MPH
14     1     0     0   3  MPH
15     1   261  1142   3  MPH
16     0     0     0   3  MPH
17     1     0     0   0  MPH
18     1   277   310   3  MPH
19     0     0     0   3  MPH
20     1  1148  1617   3  MPH
21     0     0     0   0  MPH
22     1   718  1197   3  MPH
23     1    51  1010   3  MPH
24     1   298  1046   3  MPH
25     0     0     0   3  MPH
26     1     2   462   3  MPH
27     0     0     0   0  MPH
28     1   608   851   3  MPH
29     0     0     0   0  MPH
...   ..   ...   ...  ..  ...
32357  1   980     0   3  MPH
32358  1   631     0   3  MPH
32359  0     0     0   1  MPH
32360  0     0     0   0  MPH
32361  1     0    14   1  MPH
32362  1     0     0   3  MPH
32363  0     0     0   3  MPH
32364  0     0     0   1  MPH
32365  1     0   562   3  MPH
32366  1  1807  2427   1  MPH
32367  1   205  1300   3  MPH
32368  0     0     0   3  MPH
32369  1     0     0   3  MPH
32370  1     0  1181   1  MPH
32371  1     0     0   3  MPH
32372  0     0     0   0  MPH
32373  1     0     0   0  MPH
32374  0     0     0   0  MPH
32375  1   601  1209   3  MPH
32376  0     0     0   1  MPH
32377  0     0     0   3  MPH
32378  0     0     0   0  MPH
32379  1     0     0   1  MPH
32380  0     0     0   3  MPH
32381  1   596   972   3  MPH
32382  1     0  1607   3  MPH
32383  0     0     0   3  MPH
32384  1   527     0   3  MPH
32385  1   254  1186   3  MPH
32386  1     8  1816   1  MPH

                                                      31
0      0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
1      301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
2      62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
3      110,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
4      112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
5      22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
6      20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
7      11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
8      8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
9      22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
10     31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
11     6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
12     22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
13     8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
14     4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
15     25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
16     25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
17     0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
18     2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
19     0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
20     12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
21     0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
22     5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
23     16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
24     88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
25     93,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
26     3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
27     0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
28     75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
29     3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
...                                                  ...
32357  56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32358  14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32359  465,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32360  33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32361  179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32362  22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32363  1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32364  851,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32365  6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32366  123,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32367  21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32368  6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32369  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32370  46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32371  3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32372  2651,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32373  147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32374  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32375  43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32376  278,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32377  11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32378  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32379  71,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32380  6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32381  6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32382  35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32383  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32384  34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
32385  107,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
32386  70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...

[32387 rows x 32 columns]>

In [98]:
data_performance.shape

(32387, 32)

In [99]:
data_performance.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64')