In [63]:
import pandas as pd
import numpy as np
#import datetime
from datetime import datetime

In [2]:
data_fuel_events = pd.read_csv('data/Extranet2.ExactFuelEvents.csv')

In [3]:
data_fuel_tank_levels = pd.read_csv('data/Extranet2.ExactFuelTankLevels.csv')

In [118]:
data_fuel_transaction = pd.read_csv('data/BGETCHDATA.PTCHTRANH.csv')

In [ ]:
data_fuel_transaction.shape

In [27]:
data_units = pd.read_csv('data/IBGEFILE.UNITS.csv')

In [28]:
data_units.shape

(709, 3)

In [31]:
data_units.dtypes

UNUNIT    object
UNYEAR    object
UNMAKE    object
dtype: object

In [32]:
data_units.columns = ['unit_number', 'model_year', 'make']

In [33]:
data_units['make']= data_units['make'].astype('category')

In [34]:
#data_units.unit_number.unique()
data_units.unit_number[~data_units.applymap(np.isreal).all(1)]

0       535
1       534
2       533
3       532
4       531
5       526
6       238
7       536
8       537
9       538
10      539
11      540
12        1
13        1
14      121
15     1505
16     1506
17     1507
18     1508
19     1509
20      243
21      244
22      245
23      246
24     1510
25     1511
26     1512
27     1513
28     1514
29     1515
       ...
679    2147
680    2148
681    2149
682    2150
683    2151
684    2152
685    2153
686    2154
687    2155
688    2156
689    2157
690    2158
691    2159
692    2160
693    2161
694    2162
695    2163
696    2164
697    2165
698    2166
699    2167
700    2168
701    2169
702    2170
703    2171
704    2172
705    2173
706    2174
707    2175
708    2176
Name: unit_number, Length: 709, dtype: object

In [35]:

data_units.unit_number = pd.to_numeric(data_units.unit_number,errors='coerce')

In [36]:
data_units.dtypes

unit_number     float64
model_year       object
make           category
dtype: object

In [37]:
data_units.head(n=5)

   unit_number model_year          make
0        535.0       1996  PETERBILT
1        534.0       1996  PETERBILT
2        533.0       1996  PETERBILT
3        532.0       1996  PETERBILT
4        531.0       1996  PETERBILT

In [16]:
#striping the white spaces before and after the string
data_units.make.cat.categories.str.strip()

Index(['', 'FREIGHTLINER', 'KENOWRTH', 'KENWORTH', 'KEWORTH', 'MACK',
       'PETERBILT', 'SYSTEM TEST', 'VOLVO'],
      dtype='object')

In [38]:
data_units.make.value_counts()

KENWORTH        524
VOLVO           139
FREIGHTLINER     15
PETERBILT        14
MACK             10
                  4
SYSTEM TEST       1
KEWORTH           1
KENOWRTH          1
Name: make, dtype: int64

In [39]:
data_units = data_units[data_units.unit_number.isin(['ZEBE', 'CCTRK', 'BGXL', '1']) == False]

In [40]:
data_units.shape

(709, 3)

In [41]:
data_units = data_units[data_units.unit_number != 1].dropna()

In [42]:
data_units.columns

Index(['unit_number', 'model_year', 'make'], dtype='object')

In [43]:
data_units.head(n=5)

   unit_number model_year          make
0        535.0       1996  PETERBILT
1        534.0       1996  PETERBILT
2        533.0       1996  PETERBILT
3        532.0       1996  PETERBILT
4        531.0       1996  PETERBILT

In [44]:
data_units['make'].cat.rename_categories(data_units['make'].cat.categories.str.strip(), inplace=True)

In [45]:
#data_units.make[data_units.make.isin(['KEWORTH','KENOWRTH'])] = 'KENWORTH'
data_units.make[data_units.make.isin(['KENOWRTH','KEWORTH'])] = 'KENWORTH'

In [46]:
data_units.make.value_counts()

KENWORTH        526
VOLVO           139
FREIGHTLINER     15
PETERBILT        14
MACK             10
SYSTEM TEST       0
KEWORTH           0
KENOWRTH          0
                  0
Name: make, dtype: int64

In [47]:
data_units.head(n=5)

   unit_number model_year       make
0        535.0       1996  PETERBILT
1        534.0       1996  PETERBILT
2        533.0       1996  PETERBILT
3        532.0       1996  PETERBILT
4        531.0       1996  PETERBILT

In [48]:
data_units.isnull().any()

unit_number    False
model_year     False
make           False
dtype: bool

In [49]:
data_fuel_optimization = pd.read_csv('data/BGEIDSC.EF2EFFP.csv')

In [50]:
data_fuel_optimization.shape

(836, 7)

In [51]:
#column names to lower for easier typing
data_fuel_optimization.columns = [s.lower() for s in data_fuel_optimization.columns]
data_fuel_optimization.columns

Index(['truck', 'active', 'sendfuel', 'sendroute', 'tankcap', 'avgmpg',
       'sattype'],
      dtype='object')

In [52]:
data_fuel_optimization.tankcap.value_counts()

200    510
230    180
250    132
235     10
120      4
Name: tankcap, dtype: int64

In [ ]:
data_fuel_optimization.columns

In [53]:
opt_columns = ['active', 'sendfuel','sendroute','avgmpg','sattype']
data_fuel_optimization.drop(opt_columns, inplace=True, axis=1)

In [54]:
data_fuel_optimization.head(n=5)

   truck  tankcap
0      1      200
1    243      200
2    244      200
3    245      200
4    246      200

In [ ]:
data_fuel_optimization = data_fuel_optimization.set_index('truck')

In [119]:
#Actual fuel transactions will have an item code of:
act_fuel_transactions = ['ULSD', 'FUEL', 'CDSL', 'DSL1', 'BDSL']
# and could be in any of the item slots 1-6

In [120]:
data_fuel_transaction.columns = ['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
                         'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id', 
                         'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
                          'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
                          'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6',
                         ]

In [121]:
data_fuel_transaction.dtypes

tr_id                int64
tr_date              int64
tr_time              int64
tr_station_id        int64
tr_station_name     object
tr_station_cty      object
tr_station_st       object
tr_drvr_code        object
tr_unit_id          object
tr_item_cd1         object
tr_item_qty1       float64
tr_item_cd2         object
tr_item_qty2       float64
tr_item_cd3         object
tr_item_qty3       float64
tr_item_cd4         object
tr_item_qty4       float64
tr_item_cd5         object
tr_item_qty5       float64
tr_item_cd6         object
tr_item_qty6         int64
dtype: object

In [150]:
data_fuel_transaction.memory_usage(index=True).sum() # previous memory 24840728

24840728

In [122]:
data_fuel_transaction.memory_usage(index=True).sum() # after changing the datatypes - 11017378 ...

24840728

In [123]:
'''tr_dtypes= {'tr_id' : 'uint32',  
            'tr_date' : 'uint32', 
            'tr_time' : 'uint32', 
            'tr_station_name' : 'object', 
            'tr_station_cty' : 'object', 
            'tr_station_st' : 'object', 
            'tr_drvr_code' : 'category', 
            'tr_unit_id' : 'category', 
            'tr_item_cd1' : 'category', 
            'tr_item_qty1' : 'float32', 
            'tr_item_cd2' : 'category', 
            'tr_item_qty2' : 'float32', 
            'tr_item_cd3' : 'category', 
            'tr_item_qty3' : 'float32', 
            'tr_item_cd4' : 'category', 
            'tr_item_qty4' : 'float32', 
            'tr_item_cd5' : 'category', 
            'tr_item_qty5' : 'float32', 
            'tr_item_cd6' : 'category', 
            'tr_item_qty6' : 'float32'}
            '''

"tr_dtypes= {'tr_id' : 'uint32',  \n            'tr_date' : 'uint32', \n            'tr_time' : 'uint32', \n            'tr_station_name' : 'object', \n            'tr_station_cty' : 'object', \n            'tr_station_st' : 'object', \n            'tr_drvr_code' : 'category', \n            'tr_unit_id' : 'category', \n            'tr_item_cd1' : 'category', \n            'tr_item_qty1' : 'float32', \n            'tr_item_cd2' : 'category', \n            'tr_item_qty2' : 'float32', \n            'tr_item_cd3' : 'category', \n            'tr_item_qty3' : 'float32', \n            'tr_item_cd4' : 'category', \n            'tr_item_qty4' : 'float32', \n            'tr_item_cd5' : 'category', \n            'tr_item_qty5' : 'float32', \n            'tr_item_cd6' : 'category', \n            'tr_item_qty6' : 'float32'}\n            "

In [124]:
data_fuel_transaction.tr_station_id = data_fuel_transaction.tr_station_id.astype('uint32')

In [125]:
data_fuel_transaction.columns

Index(['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
       'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id',
       'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
       'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
       'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6'],
      dtype='object')

In [127]:
#confirm no junk data in this col. 
None in data_fuel_transaction.tr_time

#Combine tr_date and tr_time into a single date time column
    #1. zero pad tr_time on left for interpretation as military time
        #cast tr_time as string
data_fuel_transaction.tr_time = data_fuel_transaction.tr_time.astype(str)

#ensure none of my strings are over 4 digits in length
for s in data_fuel_transaction.tr_time:
    assert len(s) < 5

#check for blanks
'' in data_fuel_transaction.tr_time

#add zeros to the left until each cell is len 4
zero_padded_time = []
for s in data_fuel_transaction.tr_time:
    while len(s) < 4:
        s = '0' + s
    zero_padded_time.append(s)

#spot check
for s in zero_padded_time:
    assert len(s) == 4

data_fuel_transaction.tr_time = zero_padded_time

#append tr_date (as string) and tr_time together, and then convert them to dateime
#transaction_df.tr_datetime 
tst = [datetime.strptime(str(d) + 
                         t, '%Y%m%d%H%M') 
       for d, t in zip(data_fuel_transaction.tr_date,
                       data_fuel_transaction.tr_time)]
#love list comprehensions

data_fuel_transaction['tr_datetime'] = tst#assign

#drop superfluous columns
#data_fuel_transaction.drop(['tr_date','tr_time'], axis = 'columns', inplace=True)
data_fuel_transaction.head()

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
0,42574765,20170101,0020,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 00:20:00
1,42575331,20170101,0048,516202,PILOT NEW BRAUNFELS 330,NEW BRAUNFELS,TX,MANRI,1584,ULSD,...,7.71,CADV,1.0,,0.0,,0.0,,0,2017-01-01 00:48:00
2,42578678,20170101,0134,516277,PILOT 421,DALTON,GA,RUSR,1713,ULSD,...,4.12,,0.0,,0.0,,0.0,,0,2017-01-01 01:34:00
3,42578722,20170101,0137,231100,FJ-BRUNSWICK 627,BRUNSWICK,GA,FOSJA,1711,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 01:37:00
4,42579695,20170101,0302,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,HICWIL,1837,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 03:02:00

In [133]:
data_fuel_transaction.tr_drvr_code.unique()

array(['ULAL  ', 'MANRI ', 'RUSR  ', 'FOSJA ', 'HICWIL', 'BATK  ',
       'MARJOH', 'JAML  ', 'BEAKEV', 'MCAD  ', 'JARJ  ', 'LESJ  ',
       'BLACH ', 'WILTED', 'HIGK  ', 'STEMI ', 'WICJO ', 'STED  ',
       'BARW  ', 'CHRN  ', 'STEGA ', 'GLAJ  ', 'LANA  ', 'FAIC  ',
       'UHLS  ', 'HARWI ', 'MARCY ', 'ECKS  ', 'TAYB  ', 'WRIJON',
       'COLMAR', 'ELLTH ', 'GOOR  ', 'BOUB  ', 'YOUW01', 'ANDR  ',
       'DAWDA ', 'FREDA ', 'COFS  ', 'COOLAW', 'WEBTH ', 'HARST ',
       'SWET  ', 'CLAMI ', 'ROBMA ', 'MORJAM', 'AUSTE ', 'EDEMA ',
       'CUNW  ', 'ROBJEF', 'CRAMI ', 'DIVH  ', 'SIMJE ', 'NORJI ',
       'LUNR  ', 'SMAD  ', 'LEWMA ', 'BOLJ  ', 'OAKR  ', 'FLIE  ',
       'BELT  ', 'THOCHA', 'BAIJO ', 'CROK  ', 'EVAG  ', 'TAYANT',
       'SCHC  ', 'LONRO ', 'BEAJI ', 'CARJEF', 'HATA  ', 'CARRO ',
       'SMIGA ', 'CARGA ', 'GERK  ', 'HOYJ  ', 'JOHTE ', 'RENT  ',
       'ANDJER', 'TAYJON', 'HOLS  ', 'PETL  ', 'MCMKE ', 'ADAR  ',
       'OWEJE ', 'SMIR01', 'DONR  ', 'FOSR  ', 'DYET  ', 'STIHA ',
       'BLAJO ', 'RILJ  ', 'BRESC ', 'ROAJO ', 'ALLMA ', 'BINA  ',
       'DAVJO ', 'HALJA ', 'LOTG  ', 'ARNMA ', 'MORSTE', 'TOWM  ',
       'WOOJA ', 'BURD  ', 'WHIGR ', 'ROBAA ', 'SCHN  ', 'LARR  ',
       'EDWTI ', 'HOWRA ', 'SHET  ', 'CRAC  ', 'WILBOB', 'HOEL  ',
       'GEHC  ', 'BROD03', 'BROST ', 'MOODO ', 'JORS  ', 'BALDO ',
       'CLEWI ', 'JOHJO ', 'RAMRI ', 'COURI ', 'VAUJAM', 'LYNS  ',
       'CORWI ', 'CROTR ', 'LINED ', 'BOWJ  ', 'HALCH ', 'MITD  ',
       'SAND  ', 'NEWR  ', 'LOGH  ', 'CLAKE ', 'WILJES', 'VANM  ',
       'ROBBR ', 'JONCH ', 'HARTI ', 'COTALV', 'JOHSTE', 'MARLO ',
       'PECM  ', 'BEVR  ', 'JONRI ', 'WARDE ', 'DEPK  ', 'SMIMAR',
       'POTJO ', 'CLIJ  ', 'WHIJ01', 'CHET  ', 'FISG  ', 'GAME  ',
       'GLOJE ', 'HIEK  ', 'MURG  ', 'PRUH  ', 'GILR  ', 'MARC  ',
       'LYNL  ', 'CRES  ', 'GRAE  ', 'STARI ', 'COUJA ', 'DOBE  ',
       'BECJA ', 'LIVM  ', 'HOUW  ', 'DUNE  ', 'HANSE ', 'POWL  ',
       'SCRB  ', 'THOJ01', 'GLAH  ', 'MCCMIK', 'MORGA ', 'NEWC  ',
       'BOWDAR', 'HALM  ', 'REEJA ', 'LEERO ', 'PAYK  ', 'FURL  ',
       'PUCK  ', 'FORG  ', 'MURJO ', 'JOHJER', 'BURST ', 'WORJON',
       'WIET  ', 'BAET  ', 'REERI ', 'TANDA ', 'MORHA ', 'ROAJ  ',
       'VANCH ', 'DELK  ', 'JENLE ', 'WAGL  ', 'SUTD  ', 'GOLT  ',
       'JOIJ  ', 'MCGROB', 'NORPA ', 'THOST ', 'COKJ  ', 'HOWLE ',
       'GRAJUL', 'WILR02', 'GOAJ  ', 'WYLT  ', 'PARE  ', 'PITTER',
       'PITH  ', 'PATCA ', 'FONM  ', 'BENRO ', 'RICS  ', 'COLJAM',
       'JEFST ', 'REAE  ', 'STAE  ', 'SPID  ', 'BONZ  ', 'AUBA  ',
       'HERV  ', 'GANJ  ', 'FARMI ', 'AUSG  ', 'SEYR  ', 'STOC  ',
       'PARMA ', 'CULJA ', 'LOBM  ', 'STOD  ', 'JORJO ', 'PARJAM',
       'CARDE ', 'MAND  ', 'SLAT  ', 'GREDAV', 'GREG  ', 'WILANT',
       'MALBO ', 'WILT01', 'MCGRO ', 'WESD  ', 'DEFE  ', 'BROA  ',
       'NESD  ', 'WALCA ', 'FISDA ', 'DAVKE ', 'HOLJON', 'SWEJ  ',
       'FLED  ', 'FRYT  ', 'WEBP  ', 'HARJI ', 'PATWE ', 'PETD  ',
       'JAST  ', 'CAIB  ', 'REYM  ', 'PENDAN', 'DILDA ', 'WINJOE',
       'STAROB', 'PRADA ', 'LANJA ', 'MOUM  ', 'VANP  ', 'GEORO ',
       'MURSTA', 'BROTI ', 'LEVS  ', 'SLAM  ', 'BOYG  ', 'TOOT  ',
       'WYNF  ', 'ELLH  ', 'BOON  ', 'SAVE  ', 'BRAMI ', 'CROMA ',
       'SHIM  ', 'WOLDA ', 'JONDO ', 'WORJOS', 'TAYCHA', 'PASD  ',
       'SMID  ', 'MCDT  ', 'SHAMAR', 'KLUR  ', 'HOLD01', 'HUNRI ',
       'LEEE  ', 'ROGDE ', 'DELST ', 'DAVDAN', 'SHEH  ', 'JOHTO ',
       'BRAO  ', 'HARKEV', 'KENEM ', 'FIRC  ', 'BROM01', 'HODJE ',
       'LOUR  ', 'WHICH ', 'NARJ  ', 'BAKRO ', 'GRIST ', 'HUCJ  ',
       'KESK  ', 'MORTIM', 'VENJ  ', 'RODMAR', 'SIMJIM', 'BRAE  ',
       'RATW  ', 'OWEE  ', 'DUNM  ', 'KEERIC', 'DANR  ', 'POPP  ',
       'DAVL  ', 'LACJO ', 'TUSR  ', 'CHED  ', 'CAID  ', 'MICA  ',
       'POLA  ', 'LOPJO ', 'VANC  ', 'RUTP  ', 'BUFDE ', 'COOMI ',
       'METMI ', 'BAYJ  ', 'SIMSC ', 'BARCR ', 'TAYD01', 'OWESH ',
       'STALEE', 'HAWHEN', 'THODAV', 'AMAD  ', 'CANK  ', 'CRUM  ',
       'BUFD  ', 'DAYR  ', 'DYEJE ', 'DOOB  ', 'TALM  ', 'PERT  ',
       'PLAJ  ', 'SCOJA ', 'COXR  ', 'DEASA ', 'MEAJ  ', 'CHAD  ',
       'LEBK  ', 'HATJO ', 'MCLB  ', 'FIEMI ', 'ARCM  ', 'MCGK  ',
       'BURBO ', 'SMIBRE', 'ANTR  ', 'NANP  ', 'QUAK  ', 'MANDA ',
       'SCHPA ', 'WILMIC', 'GRAJU ', 'TOMJA ', 'SHEMI ', 'FERCA ',
       'SWEF  ', 'LEAB  ', 'RICJ01', 'LEWR  ', 'COLJI ', 'HOOK  ',
       'MORJAR', 'BARQ  ', 'CLEJE ', 'CRET  ', 'PEDA  ', 'ROCJO ',
       'CHAH  ', 'PEAA  ', 'WAGJI ', 'BOLR  ', 'HALMI ', 'SHADE ',
       'PETDA ', 'LEWWE ', 'HAMTH ', 'EDEM  ', 'SMIE  ', 'HUGJA ',
       'ROWP  ', 'BAKM  ', 'PHIJ  ', 'SCORI ', 'CLOR  ', 'DINE  ',
       'SCHD  ', 'MEYB  ', 'HILF  ', 'BULR  ', 'MONS  ', 'FORP  ',
       'JACRI ', 'JOHDU ', 'OBRG  ', 'SHIJO ', 'BEVL  ', 'WILSAM',
       'ALLMIC', 'BRAROG', 'FRAMI ', 'SAXD  ', 'LINJ  ', 'CHAJO ',
       'ONED  ', 'SPED  ', 'GREH  ', 'STEJOH', 'GRES  ', 'DEED  ',
       'SMID06', 'NOEL  ', 'PARW  ', 'SMIFR ', 'EDMJ  ', 'WALST ',
       'KELRO ', 'THOMIC', 'KELJA ', 'HALRAY', 'LIGJO ', 'CAUS  ',
       'STRRO ', 'GRIM01', 'SAIM  ', 'JENR  ', 'MARMIS', 'JOHROY',
       'KORR  ', 'GURC  ', 'JONJOH', 'WILR04', 'JORW  ', 'BUFB  ',
       'MORRY ', 'KINJ  ', 'RUTJO ', 'KIRK  ', 'BALD  ', 'RICC  ',
       'STRJOE', 'FALA  ', 'MARWI ', 'KIRBR ', 'HICCA ', 'ROSE  ',
       'WAKT  ', 'NELAN ', 'WHOM  ', 'BROBO ', 'HEVD  ', 'MYEM  ',
       'CHIW  ', 'BURJO ', 'FRAH  ', 'NOELA ', 'PERAL ', 'STRAND',
       'STOKE ', 'JAMJA ', 'CHASTE', 'HUFAU ', 'TEDS  ', 'WEIJ  ',
       'GUSC  ', 'PORJ  ', 'WOLM  ', 'HELB  ', 'BROCHA', 'RANST ',
       'GALJU ', 'HILB  ', 'GRIMAR', 'HIAK  ', 'FISJ  ', 'WALK  ',
       'AMMC  ', 'GODJ  ', 'ROLRA ', 'ARPP  ', 'CUMR  ', 'WOOKE ',
       'ANDANT', 'LOPR  ', 'SIMR  ', 'BROERI', 'JEAJ  ', 'NASDE ',
       'JONS  ', 'DAVCA ', 'MORE  ', 'BEVM  ', 'BYRCHR', 'HOLWIL',
       'DENAL ', 'FORR  ', 'BOLJO ', 'FRACH ', 'STEDEN', 'ENSJ  ',
       '1974  ', '      ', 'KELS  ', 'LANWA ', 'BACG  ', 'CARD  ',
       'MIXC  ', 'ARMR  ', 'MICRO ', 'ZAMJ  ', 'WILB01', 'CULH  ',
       'CARRE ', 'ADAG  ', 'QUID  ', 'CEEE  ', 'BROR01', 'ALBME ',
       'SPEDAV', '9781  ', 'OPS   ', 'BRAMAT', 'KRIM  ', 'FRYR  ',
       'WILD04', 'BUNC  ', 'ARCW  ', 'MCDS  ', 'HAMRI ', 'BOUL  ',
       '1973  ', 'ESTD  ', 'JOYGE ', 'LIPG  ', 'SABW  ', 'TYLA  ',
       'PEAD  ', 'LAYJ  ', 'GRACHR', 'HEAH  ', 'WARJO ', 'ABBV  ',
       'SIMDA ', 'BARAL ', 'JONQ  ', 'KINDAV', 'CAPR  ', 'KIRJ  ',
       'GLADO ', 'FOUJ  ', 'CULD  ', 'SANJON', 'WETR  ', 'SHOJO ',
       'CLAJOE', 'WHIGRA', 'SCHJA ', 'WEBCA ', 'KIRJA ', 'TEEM  ',
       'DIXGR ', 'AYEJ  ', 'SIMTIM', 'SIMJEF', 'MCCMIC', 'VASM  ',
       'BELJ  ', 'HOWDE ', 'ROWT  ', 'STRER ', 'BRIA  ', 'JOHA  ',
       'PAGR  ', 'FERDE ', 'WILREN', 'AUSJA ', 'KANR  ', 'DONJU ',
       'MCKBR ', 'CASJE ', 'GATJ  ', 'KOUC  ', 'MONGE ', 'RIFJ  ',
       'BROMIC', 'LASR  ', 'CORWIL', 'JACTE ', 'JACGR ', 'FELC  ',
       'GERJ  ', 'WILS03', 'WILGEO', 'JENCA ', 'HOLC  ', 'REAC  ',
       'BECV  ', 'BAKJE ', 'POGB  ', 'PULC  ', 'MATJU ', 'AUSJ  ',
       'LOYC  ', 'GALH  ', 'KENAL ', 'WARDA ', 'SALT  ', 'JONBR ',
       'JOHTHO', 'BOSB  ', 'BRARAY', 'AUSGE ', 'HEDD  ', 'REERO ',
       'GRIG  ', 'HUGC  ', 'BENJE ', 'SWAD  ', 'MANBE ', 'THON  ',
       'NELS  ', 'VANR  ', 'ASBM  ', 'LUCJ  ', 'GRASI ', 'HARMIC',
       'LOOJ  ', 'WILLE ', 'BOWBL ', 'SCHR  ', 'PAGC  ', 'WALAN ',
       'SIZD  ', 'BAGJ  ', 'CRODAN', 'SWID  ', 'SEIE  ', 'BAYB  ',
       'RINB  ', '6039  ', 'COXJA ', 'MARRA ', 'EYCK  ', 'DEPH  ',
       'MULB  ', 'GODD  ', 'PLAA  ', 'TAYAND', 'WILC01', 'ALDS  ',
       'RAMK  ', 'ROBBE ', '8660  ', 'GLAP  ', 'DAVSA ', 'DOUD  ',
       'YOUJE ', 'GRAJOH', 'KERK  ', '1355  ', 'GASC  ', 'SHATH ',
       'MAUJ  ', 'TATLE ', 'MCCST ', 'DOZJ  ', 'KILM  ', 'GIBJ  ',
       'LOVH  ', 'GOOA  ', 'HORM  ', 'CHAAN ', 'THODAN', 'JACCE ',
       'DIXP  ', 'JACJOH', 'HOWK  ', 'GREWA ', 'PAYRO ', 'SIMFR ',
       'CRADAV', 'SMIFRA', 'RYAC  ', 'MURRO ', 'JAMT  ', 'ALBJ  ',
       'MCLA  ', 'FIEG  ', 'OVEM  ', 'MATDE ', 'LEGD  ', 'POOX  ',
       'SMIMIC', 'TRAB  ', 'SEAM  ', 'FARE  ', 'TANK  ', 'WIRR  ',
       'STUJE ', 'PARDON', 'GRAMA ', 'GUTJ  ', 'MOOJEF', 'RAYMI ',
       'QUIJA ', 'BONK  ', 'REEW  ', '4051  ', 'MAIK  ', 'COOS  ',
       'HOWS  ', 'SHAE  ', 'JACB  ', 'PICD  ', 'BAUJ  ', 'COTF  ',
       'HATJOS', 'CARMAR', 'POMT  ', 'HERMI ', 'STEMIC', 'BARTI ',
       'LOVJE ', 'FORRU ', 'PITG  ', 'CRAMIT', 'DENL  ', 'BRIK  ',
       'HAYA  ', 'WRAS  ', 'GRIA  ', 'EVAJO ', 'WELROB', 'SHATHO',
       'STRM  ', 'WILSTE', 'SMIJOH', 'HELH  ', 'CREST ', 'BURMI ',
       'PARRY ', 'CALBI ', 'CANP  ', 'RODS  ', 'COVS  ', 'MARD01',
       'DUNG  ', 'BIVD  ', 'DALRO ', 'HAYM  ', 'MOSAD ', 'BYASH ',
       'HAYP  ', 'MORI  ', 'MART01', 'ASBB  ', 'WHIKEV', 'WELJOS',
       'JARJA ', 'DAVCL ', 'WELR01', 'NIXD  ', 'LOVA  ', 'BUCJO ',
       'AVEA  ', 'HAZSC ', 'REECH ', 'CARJON', 'RICM  ', 'TIT01 ',
       'MAYMI ', 'BRERI ', 'STECYN', 'YANH  ', 'BANC  ', 'NORLA ',
       'KYKC  ', 'BUSJO ', 'LAWBR ', 'BINJA ', 'GOOJO ', 'MULC  ',
       'CAREL ', 'WILBIL', 'SANED ', 'HIXR  ', 'DUNB  ', 'PATKE ',
       'GIBROY', 'HERD  ', 'WILED ', 'CLOJ  ', 'PRAR  ', 'SCATI ',
       'MANM  ', 'WIDR  ', 'WHIPH ', 'MOSG  ', 'JOHJ04', 'MUHJ  ',
       'MCNK  ', 'JOHM01', 'BOWJE ', 'REYJ  ', 'FORCH ', 'CANJE ',
       'LILD  ', 'CALR  ', 'CHES  ', 'YOURO ', 'BROAL ', 'ENTT  ',
       'JOBG  ', 'MASSA ', 'GARJO ', 'PEIJ  ', 'QUAM  ', 'PITK  ',
       'BEYJ  ', 'SMID08', 'LEWH  ', 'SIMJOH', 'WOOJE ', 'FISGR ',
       'JACDAV', 'KENBA ', 'DEPJ  ', 'ALLG  ', 'PETA  ', 'OBRR  ',
       'BECDE ', 'COMM  ', 'KNIT  ', '3068  ', 'LEFR  ', 'SHEBR ',
       'BARD02', 'STRJO ', 'WALJER', 'DEER  ', 'RHOR  ', 'KINROB',
       'COPS  ', 'SOUA  ', 'ANDC  ', 'HOURA ', 'Bald  ', 'KINBR ',
       'JONROB', 'SANDA ', 'HICDW ', 'NEARA ', 'COLLE ', 'COPD  ',
       'AIKA  ', 'SUMD  ', 'MUSK  ', 'FROR  ', 'MCGS  ', 'BROGR ',
       'LARD  ', 'FLOTR ', 'MCLJA ', 'HILST ', 'STEDE ', 'BENROG',
       'THOJEF', 'KIMG  ', 'POPJ  ', 'HUTB  ', 'JOHLO ', 'PRIJER',
       'POSJ  ', 'ALLW  ', 'THOK  ', 'WILR05', 'SIND  ', 'HALDAV',
       'STAH  ', 'PRUD  ', 'BAKC  ', 'PUGF  ', 'COOSI ', 'BRYMA ',
       'GOOJA ', 'NORK  ', 'CRORO ', 'LUCM  ', 'HOBW  ', 'ALSA  ',
       'SMIDAR', 'FISR  ', 'HIGT  ', 'BAUK  ', 'DUFG  ', 'STOA  ',
       'THARO ', 'SHIMI ', 'MITTIT', 'HORTR ', 'GORL  ', 'SCOJE ',
       'DARJ  ', 'BAKF  ', 'POUD  ', 'NIVM  ', 'BYRCH ', 'MCLR  ',
       'BORT  ', 'MATH  ', 'CARJ01'], dtype=object)

In [134]:
data_fuel_transaction[data_fuel_transaction['tr_drvr_code'] == 'ULAL  ']

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
0,42574765,20170101,0020,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 00:20:00
110,42614106,20170101,1712,516130,PILOT NITRO 243,NITRO,WV,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 17:12:00
282,42672413,20170102,1529,524100,PFJ SOUTHEAST 7976,TROUTMAN,NC,ULAL,1564,DEFD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-02 15:29:00
851,42873010,20170104,1152,516012,PILOT LAVERGNE 052,LAVERGNE,TN,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-04 11:52:00
883,42882523,20170104,1300,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-04 13:00:00
2089,43280882,20170107,1520,231064,FJ-BEAVER DAM 695,BEAVER DAM,OH,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-07 15:20:00
2417,43394310,20170109,0203,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-09 02:03:00
3041,43596583,20170110,1509,231846,FJ-MAX MEADOWS 750,FORT CHISWELL,VA,ULAL,1564,ULSD,...,6.92,CADV,1.0,,0.0,,0.0,,0,2017-01-10 15:09:00
3424,43719948,20170111,1339,521442,TIMEOUT MARKET #22 & TC,NEWPORT,TN,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-11 13:39:00
4302,44020016,20170113,1645,516264,PILOT MURFREESBORO 404,MURFREESBORO,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-13 16:45:00
4670,44163272,20170115,1105,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:05:00
4677,44164806,20170115,1122,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:22:00
4813,44220908,20170116,0425,524092,PFJ SOUTHEAST 4569,HARDEEVILLE,SC,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-16 04:25:00
4969,44277136,20170116,1421,231015,FJ-GRAHAM 682,HAW RIVER,NC,ULAL,1564,ULSD,...,5.14,,0.0,,0.0,,0.0,,0,2017-01-16 14:21:00
5305,44384649,20170117,1150,524124,PFJ SOUTHEAST 7983,SALISBURY,NC,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-17 11:50:00
5680,44496665,20170118,0857,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,...,8.67,,0.0,,0.0,,0.0,,0,2017-01-18 08:57:00
5865,44545709,20170118,1454,516132,PILOT HARRISBURG 245,HARRISBURG,PA,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-18 14:54:00
6379,44717068,20170119,1935,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-19 19:35:00
7157,44975050,20170122,1308,516271,PILOT WHITE PINE 412,WHITE PINE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-22 13:08:00
7314,45049596,20170123,1013,231861,FJ-JEFFERSONVILLE 698,JEFFERSONVILLE,OH,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 10:13:00
7471,45092712,20170123,1550,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 15:50:00
7512,45106105,20170123,1737,521469,PILOT CHILLICOTHE 597,CHILLICOTHE,OH,ULAL,1564,ULSD,...,9.53,,0.0,,0.0,,0.0,,0,2017-01-23 17:37:00
8365,45396825,20170125,1642,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-25 16:42:00
8937,45611398,20170127,0820,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-27 08:20:00
9659,45870779,20170129,1926,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ULSD,...,7.84,,0.0,,0.0,,0.0,,0,2017-01-29 19:26:00
9661,45871325,20170129,1936,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ADD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-29 19:36:00
10275,46069255,20170131,1227,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:27:00
10289,46071800,20170131,1245,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:45:00
10664,46188738,20170201,0951,521523,PILOT WYTHEVILLE 4619,WYTHEVILLE,VA,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 09:51:00
10801,46230065,20170201,1437,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 14:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137148,97260088,20180219,1732,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-19 17:32:00
137595,97428160,20180220,1801,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,...,11.14,CADV,1.0,,0.0,,0.0,,0,2018-02-20 18:01:00
137973,97560384,20180221,1435,231982,FJ 1086,MARION,IN,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:35:00
137983,97564653,20180221,1458,231982,FJ 1086,MARION,IN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:58:00
138846,97913370,20180223,1600,516640,LOVES # 358 TRAVEL STOP,SHARTLESVILLE,PA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-23 16:00:00
139140,98053689,20180224,1754,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,2010,ULSD,...,5.70,,0.0,,0.0,,0.0,,0,2018-02-24 17:54:00
139804,98353274,20180227,0806,516124,PILOT MINOOKA 236,MINOOKA,IL,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-02-27 08:06:00
140007,98426270,20180227,1531,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:31:00
140013,98428457,20180227,1544,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:44:00
140387,98587279,20180228,1435,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-28 14:35:00
140392,98589619,20180228,1450,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,ULSD,...,1.33,,0.0,,0.0,,0.0,,0,2018-02-28 14:50:00
141223,98967215,20180302,1842,520422,FJ MOUNT AIRY 549,MOUNT AIRY,NC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 18:42:00
141238,98977340,20180302,2033,516537,LOVES # 239 TRAVEL STOP,WYTHEVILLE,VA,ULAL,2010,DEFD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 20:33:00
141632,99157534,20180304,1519,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 15:19:00
141655,99173398,20180304,1812,231795,FJ-CLEAR BROOK 752,CLEAR BROOK,VA,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 18:12:00
141957,99325111,20180305,1918,516187,PILOT DUNCAN 310,DUNCAN,SC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-05 19:18:00
142745,99647581,20180307,1721,524098,PILOT #4558,CALHOUN,GA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-07 17:21:00
142782,99675934,20180307,2104,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-07 21:04:00
143446,99976290,20180309,1605,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-09 16:05:00
143970,219519,20180311,2036,231084,FJ-FRANKLIN 661,FRANKLIN,KY,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-11 20:36:00
144705,531199,20180313,1906,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-13 19:06:00
145411,840021,20180315,1455,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,...,0.36,CADV,1.0,,0.0,,0.0,,0,2018-03-15 14:55:00
146063,1170957,20180317,2128,516638,LOVES # 355 TRAVEL STOP,MEMPHIS,IN,ULAL,2010,ULSD,...,12.36,,0.0,,0.0,,0.0,,0,2018-03-17 21:28:00
146255,1243318,20180318,1646,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-18 16:46:00
146514,1368874,20180319,1556,514518,TA BALTIMORE SOUTH,JESSUP,MD,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-19 15:56:00
146650,1447867,20180320,0556,231033,FJ-CARMEL CHURCH 749,RUTHER GLEN,VA,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-20 05:56:00
147398,1767012,20180321,2341,518967,PETRO FLORENCE #6393,FLORENCE,SC,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-21 23:41:00
147401,1771595,20180322,0108,516216,PILOT LUGOFF 346,LUGOFF,SC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-22 01:08:00
147782,1952922,20180323,0227,503178,ALL STATE TRUCK STOP INC.,UNADILLA,GA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-23 02:27:00
147814,1961555,20180323,0446,231011,FJ-JACKSON 630,JACKSON,GA,ULAL,2010,ULSD,...,11.89,,0.0,,0.0,,0.0,,0,2018-03-23 04:46:00

In [66]:
data_fuel_transaction.tr_station_name.value_counts()

BIG G EXPRESS TERMINAL       12873
PILOT WHITE PINE 412          5978
FJ-CARLISLE 708               3102
FJ-FRANKLIN 661               2770
FJ-MYERSTOWN 518              2370
PILOT JASPER 500              2231
PILOT TOMS BROOK 4642         1830
PILOT FLYING J SOUTHEAST      1820
PILOT HEBRON 285              1780
PILOT #4599                   1732
PILOT GREENEVILLE 051         1724
PILOT CROSSVILLE 114          1683
PILOT RAPHINE 4649            1667
PILOT MURFREESBORO 404        1538
FJ-CLEAR BROOK 752            1458
FJ-WYTHEVILLE 754             1418
PILOT LEBANON 411             1273
FJ-JEFFERSONVILLE 698         1270
PILOT LEBANON JUNCTION 39     1254
FJ-MILLERSPORT 699            1252
PILOT WYTHEVILLE 4619         1235
FJ-KNOXVILLE 722              1148
PILOT HARRISONBURG 491        1142
FJ-MAX MEADOWS 750            1137
PILOT 219                     1134
PILOT #4596                   1118
PILOT 179                     1102
CAT SCALES PILOT TRAVEL C     1062
PILOT GLENDALE 048            1036
PILOT 438                     1014
                             ...
GATEWAY OF HENDERSON             1
PANOLA PINES PLAZA               1
QUIK CHEK #15                    1
BIG BOSS TRAVEL PLAZA            1
FJ-JEROME 640                    1
QUIK TRIP #562                   1
PORKYS TRUCK STOP                1
SOUTH 288 TRUCK STOP             1
GOOD OIL #11                     1
CAT SCALES  TA BAYTOWN           1
GULF #9045-3907                  1
TANKERS TRUCK STOP LLC           1
CROSS ROADS EXXON                1
ISOM DOUBLE KWIK                 1
COUNTRY CLUB ROAD 7-11           1
SPEEDWAY #4630                   1
FLASH FOODS #154                 1
SHELL INDUSTRIAL FUEL STO        1
LOVES #600 TRAVEL STOP           1
QUARLES TRUCK STOP               1
CAT SCALES TA BLOOMINGTON        1
FJ-CHEYENNE 759                  1
SAVANNA KINGS TRAVEL PLAZ        1
LOVES # 273 TRAVEL STOP          1
GOLDEN GATE - HAWTHORNE          1
TA ELGIN                         1
SPEEDWAY #4655                   1
BFS FOODS #68                    1
PILOT COLBY 920                  1
FJ-SAN ANTONIO 737               1
Name: tr_station_name, Length: 1496, dtype: int64

In [67]:
data_fuel_transaction.shape

(147861, 20)

In [68]:
data_fuel_events.head(n=5)

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
0,12649083,13640241,2017-01-01 00:00:32.387,1992,105369677,tractor,BATK,30.34642,-81.70724,2017-01-01 00:00:30.000,0,0.0,39895.5,2,1
1,12649084,13640242,2017-01-01 00:01:24.867,1712,105437938,tractor,TAYANT,36.93953,-84.09541,2017-01-01 00:01:27.000,0,0.0,360378.8,1,2
2,12649092,13640251,2017-01-01 00:04:15.053,1713,105438293,tractor,RUSR,35.58664,-84.52786,2017-01-01 00:04:17.000,67,219.5,377577.4,1,2
3,12649102,13640261,2017-01-01 00:04:10.260,1585,105301976,tractor,MCAD,35.15430,-90.14263,2017-01-01 00:04:10.000,0,0.0,513931.8,1,2
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2

In [69]:
data_fuel_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8495130 entries, 0 to 8495129
Data columns (total 15 columns):
Id                   int64
ESS_Id               int64
EventTimeStamp       object
EquipmentID          int64
MCTNumber            int64
EquipmentType        object
DriverID             object
Latitude             float64
Longitude            float64
LocationTimeStamp    object
Speed                int64
Heading              float64
Odometer             float64
IgnitionStatus       int64
EFReportReason       int64
dtypes: float64(4), int64(7), object(4)
memory usage: 972.2+ MB

In [70]:
data_fuel_events.isnull().any()

Id                   False
ESS_Id               False
EventTimeStamp       False
EquipmentID          False
MCTNumber            False
EquipmentType        False
DriverID              True
Latitude             False
Longitude            False
LocationTimeStamp    False
Speed                False
Heading              False
Odometer             False
IgnitionStatus       False
EFReportReason       False
dtype: bool

In [71]:
type(data_fuel_events)

pandas.core.frame.DataFrame

In [72]:
data_fuel_events['DriverID'].value_counts()

DYET          33901
SIMJIM        27204
VAUJAM        25743
ULAL          25584
ECKS          24125
CHAJO         23895
OBRG          23551
BULR          23042
CUNW          22963
RENT          22957
LOVH          22395
BROD03        22313
PERT          22190
FARMI         22039
STEGA         21968
CHRN          21921
NARJ          21574
GALJU         21530
SWEJ          21140
ANTR          21046
TAYJON        20882
EDWTI         20845
SAVE          20688
FERCA         20550
SIMJE         20529
STOD          20443
DINE          20246
MORJAM        20216
CRES          19957
JENLE         19871
              ...
SHOP3            52
BANJA            51
CARJ01           48
DENJE            48
REERO            42
STAW             41
SNID             22
ADADE            20
RUDD             17
MEID             12
JOHLO            11
SCHJ             10
CRAIG B          10
HARGR             2
BYRCHI            2
KINCA             2
GODJO             2
SHOP!             2
WILRON            2
DEASONSHOP        1
FURLA             1
36728             1
WILSO3            1
BEAT              1
TAYDO1            1
KUNDAV            1
HEAD              1
ROKAN             1
DAVKEN            1
EDNJ              1
Name: DriverID, Length: 948, dtype: int64

In [73]:
data_fuel_events['Odometer'].max()

861003.90000000002

In [74]:
data_fuel_events.loc[data_fuel_events['Odometer'] == 861003.90000000002]

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
7829068,20484418,40248138,2018-02-17 11:31:56.697,1664,105438725,tractor,HERD,33.02991,-84.96272,2018-02-17 11:31:57.000,0,289.7,861003.9,1,1

In [100]:
len(data_fuel_events['DriverID'].unique())

949

In [76]:
data_fuel_events['Speed'].value_counts()

0      5297851
67      329702
2       169310
65      159735
66      146349
3       134205
4       128776
1       110966
5       104669
6        92148
64       85300
7        80793
8        75987
63       66388
9        62457
62       60094
68       59968
61       55696
60       55437
10       54146
59       50708
58       48090
11       47974
57       44326
56       41349
12       38793
55       37598
54       32557
13       30631
52       28734
        ...
38       15817
27       15609
26       15309
32       15074
34       14991
24       14911
23       14900
33       14864
36       14822
37       14809
25       14773
35       14596
70       12334
71        7497
72        4488
73        2680
74        1494
75         935
76         486
158        390
77         263
78         151
79          61
80          42
81          21
83          12
82          11
84           3
88           1
143          1
Name: Speed, Length: 88, dtype: int64

In [77]:
data_fuel_tank_levels.head(n=5)

         Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
0  10391480       1              82.8            165.60          12667508
1  10391482       1              72.4            144.80          12667510
2  10391505       1              57.1            114.20          12667533
3  10391507       1              80.9            161.80          12667535
4  10391514       1              56.9            142.25          12667542

In [78]:
data_fuel_tank_levels[data_fuel_tank_levels.TankId == 2]

,Id,TankId,TankLevelPercent,TankLevelGallons,ExactFuelEventId
48670,10633484,2,5.5,11.00,12933194
1824799,14078949,2,1.8,3.60,16673494
4579414,13743578,2,5.5,11.00,16313459
5656380,13899589,2,1.8,4.14,16481275

In [79]:
data_fuel_tank_levels.isnull().any()

Id                  False
TankId              False
TankLevelPercent    False
TankLevelGallons    False
ExactFuelEventId    False
dtype: bool

In [80]:
data_fuel_events.isnull().sum()

Id                        0
ESS_Id                    0
EventTimeStamp            0
EquipmentID               0
MCTNumber                 0
EquipmentType             0
DriverID             318942
Latitude                  0
Longitude                 0
LocationTimeStamp         0
Speed                     0
Heading                   0
Odometer                  0
IgnitionStatus            0
EFReportReason            0
dtype: int64

In [81]:
print(data_units.head(n=15))

    unit_number model_year          make
0         535.0       1996     PETERBILT
1         534.0       1996     PETERBILT
2         533.0       1996     PETERBILT
3         532.0       1996     PETERBILT
4         531.0       1996     PETERBILT
5         526.0       1996     PETERBILT
6         238.0       1995     PETERBILT
7         536.0       1997     PETERBILT
8         537.0       1997     PETERBILT
9         538.0       1997     PETERBILT
10        539.0       1997     PETERBILT
11        540.0       1997     PETERBILT
14        121.0       1999     PETERBILT
15       1505.0       2012  FREIGHTLINER
16       1506.0       2012  FREIGHTLINER

In [83]:
data_fuel_transaction.iloc[5:20,5:]

,tr_drvr_code,tr_unit_id,tr_item_cd1,tr_item_qty1,tr_item_cd2,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
5,BATK,1992,ULSD,93.88,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 03:07:00
6,BATK,1992,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 03:15:00
7,MARJOH,1730,ULSD,136.29,DEFD,5.50,,0.0,,0.0,,0.0,,0,2017-01-01 04:30:00
8,JAML,1672,ULSD,149.04,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 04:30:00
9,JAML,1672,CADV,1.00,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 04:37:00
10,BEAKEV,1739,ULSD,99.85,CADV,1.00,,0.0,,0.0,,0.0,,0,2017-01-01 04:46:00
11,MCAD,1585,ULSD,131.69,CADV,1.00,,0.0,,0.0,,0.0,,0,2017-01-01 04:53:00
12,JARJ,1930,ULSD,90.62,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 05:16:00
13,LESJ,1608,ULSD,89.72,DEFD,3.58,CADV,1.0,,0.0,,0.0,,0,2017-01-01 05:20:00
14,BLACH,1878,ULSD,61.52,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 05:30:00
15,WILTED,1726,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 05:30:00
16,HIGK,1757,ULSD,139.95,DEFD,1.63,,0.0,,0.0,,0.0,,0,2017-01-01 05:31:00
17,STEMI,1528,ULSD,130.66,DEFD,4.08,CADV,1.0,,0.0,,0.0,,0,2017-01-01 05:32:00
18,WILTED,1726,SCLE,1.00,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 05:43:00
19,WICJO,1887,ULSD,54.03,,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 05:59:00

In [ ]:
data_fuel_transaction.groupby(['TRNST','TRNSTC','TRNTSN']).size()

In [ ]:
data_fuel_events.head(n=5)

In [ ]:
data_fuel_events.groupby(['DriverID','Speed']).size().to_frame('size').reset_index().sort_values(['DriverID', 'size'], ascending=[True, False])
#data_fuel_transaction.groupby(['TRNST','TRNSTC','TRNTSN']).count()

In [87]:
data_fuel_tank_levels.head(n=5)

         Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
0  10391480       1              82.8            165.60          12667508
1  10391482       1              72.4            144.80          12667510
2  10391505       1              57.1            114.20          12667533
3  10391507       1              80.9            161.80          12667535
4  10391514       1              56.9            142.25          12667542

In [88]:
data_fuel_tank_levels['TankId'].value_counts()

1    7908824
2          4
Name: TankId, dtype: int64

In [89]:
data_fuel_tank_levels[data_fuel_tank_levels['TankId'] == 2]

,Id,TankId,TankLevelPercent,TankLevelGallons,ExactFuelEventId
48670,10633484,2,5.5,11.00,12933194
1824799,14078949,2,1.8,3.60,16673494
4579414,13743578,2,5.5,11.00,16313459
5656380,13899589,2,1.8,4.14,16481275

In [ ]:
# Datetime format reference: 
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior 
##########---------converting cols to datetime-------

def cols_to_timestamp(df, col_list):
    for col in col_list:
        df[col] = pd.to_datetime(df[col], format = '%Y-%m-%d %H:%M:%S')
    return df
#ts_cols = ['EventTimeStamp', 'LocationTimeStamp']
#events_fuel_df =  cols_to_timestamp(events_fuel_df, ts_cols)

In [92]:
#data performance 
data_performance = pd.read_csv('data/Extranet2.QCPerformanceExtracts.csv')

In [95]:
data_performance.shape

(32387, 32)

In [97]:
data_performance.columns

Index(['Id', 'ESS_Id', 'EventTimeStamp', 'EquipmentID', 'MCTNumber',
       'EquipmentType', 'DriverID', 'Driver2ID', 'Latitude', 'Longitude',
       'LocationTimeStamp', 'IgnitionStatus', 'TripStatus',
       'DataStartTimeStamp', 'DataEndTimeStamp', 'Distance', 'DriveTime',
       'EngineTime', 'MoveTime', 'IntertripIdleTime', 'ShortIdleTime',
       'OverSpeedTime', 'ExcessSpeedTime', 'TotalFuelUsed', 'IdleFuelUsed',
       'FaultFlag', 'RegisteredDriver', 'CruiseControlTime', 'TopGearTime',
       'GearDataSource', 'SpeedUnits', 'SpeedMatrix'],
      dtype='object')

In [99]:
data_performance.iloc[ : , 10 :20]

,LocationTimeStamp,IgnitionStatus,TripStatus,DataStartTimeStamp,DataEndTimeStamp,Distance,DriveTime,EngineTime,MoveTime,IntertripIdleTime
0,2017-01-01 07:29:45.000,1,O,2016-12-23 16:09:00.000,2017-01-01 07:29:00.000,0,3,26,3,22
1,2017-01-01 07:29:45.000,1,O,2016-12-20 04:06:00.000,2016-12-23 16:09:00.000,1617,1950,3678,1808,1716
2,2017-01-01 07:49:39.000,2,O,2016-11-08 04:23:00.000,2017-01-01 07:37:00.000,1720,2072,2193,1988,88
3,2017-01-01 13:58:13.000,2,O,2016-12-22 18:35:00.000,2017-01-01 13:57:00.000,0,7,7,5,0
4,2017-01-01 13:58:13.000,2,O,2016-12-20 04:06:00.000,2016-12-22 18:35:00.000,1474,1761,1793,1690,8
5,2017-01-01 14:19:50.000,2,O,2016-12-20 04:06:00.000,2017-01-01 14:19:00.000,2059,2308,2367,2190,0
6,2017-01-01 16:00:24.000,2,O,2016-12-23 16:30:00.000,2017-01-01 15:59:00.000,0,6,27,4,17
7,2017-01-01 16:00:24.000,2,O,2016-12-20 04:06:00.000,2016-12-23 16:30:00.000,2221,2447,2498,2365,0
8,2017-01-01 18:09:35.000,1,O,2016-12-13 04:39:00.000,2017-01-01 18:09:00.000,0,0,2,0,0
9,2017-01-01 18:18:14.000,1,O,2016-12-22 15:21:00.000,2017-01-01 18:11:00.000,1,13,21,6,0
10,2017-01-01 18:18:14.000,1,O,2016-12-20 04:07:00.000,2017-01-01 18:18:00.000,1318,1522,1542,1474,0
11,2017-01-01 19:21:39.000,2,O,2016-12-20 04:06:00.000,2017-01-01 19:20:00.000,166,242,271,218,22
12,2017-01-02 00:13:44.000,1,O,2016-12-20 04:06:00.000,2017-01-02 00:13:00.000,1343,1614,1740,1527,105
13,2017-01-02 08:08:53.000,2,O,2016-12-20 04:05:00.000,2016-12-20 04:05:00.000,744,775,777,748,0
14,2017-01-02 08:14:39.000,2,O,2016-12-20 07:35:00.000,2017-01-02 08:14:00.000,1082,1203,1247,1143,31
15,2017-01-02 08:27:08.000,2,O,2016-12-20 04:22:00.000,2017-01-02 08:27:00.000,1352,1511,1530,1462,5
16,2017-01-02 08:56:00.000,1,I,2016-12-12 08:30:00.000,2016-12-30 16:00:00.000,0,0,0,0,0
17,2017-01-02 08:56:00.000,1,I,2016-12-12 08:53:00.000,2016-12-12 08:53:00.000,0,0,0,0,0
18,2017-01-02 08:56:02.000,1,I,2016-12-30 16:00:00.000,2017-01-02 08:56:00.000,351,364,377,352,0
19,2017-01-02 09:36:04.000,1,I,2016-12-23 21:00:00.000,2017-01-02 09:14:00.000,0,1,2,1,0
20,2017-01-02 09:36:04.000,1,I,2016-12-20 04:24:00.000,2017-01-02 09:36:00.000,1876,2061,2074,2008,0
21,2017-01-02 09:55:28.000,2,O,2016-12-22 16:24:00.000,2017-01-02 09:53:00.000,0,0,3,0,0
22,2017-01-02 09:55:28.000,2,O,2016-12-20 04:19:00.000,2016-12-22 16:24:00.000,1436,1594,1611,1535,12
23,2017-01-02 10:06:18.000,1,I,2016-12-20 04:13:00.000,2017-01-02 10:06:00.000,1230,1443,1455,1379,0
24,2017-01-02 11:01:49.000,2,O,2016-12-20 04:06:00.000,2017-01-02 11:01:00.000,1289,1643,1690,1525,13
25,2017-01-02 16:30:46.000,1,O,2016-12-21 11:49:00.000,2017-01-02 16:30:00.000,0,8,11,5,0
26,2017-01-02 16:30:46.000,1,O,2016-12-20 04:16:00.000,2016-12-21 11:49:00.000,522,540,685,516,128
27,2017-01-02 18:28:34.000,2,O,2016-12-23 13:59:00.000,2017-01-02 18:08:00.000,0,0,3,0,0
28,2017-01-02 18:28:34.000,2,O,2016-12-20 04:07:00.000,2017-01-02 18:28:00.000,1003,1172,1217,1081,18
29,2017-01-02 18:40:53.000,1,I,2017-01-02 08:28:00.000,2017-01-02 15:51:00.000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
32357,2017-12-29 14:29:01.000,2,O,2017-12-19 04:28:00.000,2017-12-21 20:54:00.000,1551,1664,1675,1596,0
32358,2017-12-29 14:52:20.000,2,O,2017-12-21 14:35:00.000,2017-12-29 14:52:00.000,1808,2060,2100,1943,32
32359,2017-12-29 17:02:50.000,1,I,2017-11-14 04:12:00.000,2017-12-29 13:19:00.000,1,10,11,8,0
32360,2017-12-29 17:02:50.000,1,I,2017-12-01 22:28:00.000,2017-12-01 23:15:00.000,0,0,0,0,0
32361,2017-12-29 17:02:50.000,1,I,2017-12-29 10:31:00.000,2017-12-29 17:02:00.000,44,83,102,74,0
32362,2017-12-29 18:49:04.000,2,O,2017-12-21 11:15:00.000,2017-12-28 09:25:00.000,1,22,34,7,10
32363,2017-12-29 21:14:51.000,2,O,2017-12-21 20:54:00.000,2017-12-29 21:14:00.000,1,14,32,11,13
32364,2017-12-29 22:38:02.000,1,O,2017-12-19 04:49:00.000,2017-12-29 22:16:00.000,0,3,5,3,0
32365,2017-12-23 03:20:04.000,2,O,2017-12-19 04:31:00.000,2017-12-22 12:58:00.000,721,1239,1499,1135,244
32366,2017-12-30 02:06:37.000,1,I,2017-12-19 04:30:00.000,2017-12-30 02:06:00.000,3331,3836,4434,3597,537
32367,2017-12-30 04:54:41.000,1,O,2017-12-22 04:37:00.000,2017-12-30 04:54:00.000,1550,1839,3839,1698,1968
32368,2017-12-30 06:12:38.000,2,O,2017-12-19 07:38:00.000,2017-12-30 06:12:00.000,0,7,10,3,0
32369,2017-12-30 06:12:38.000,2,O,2017-12-19 04:29:00.000,2017-12-19 07:38:00.000,0,1,1,0,0
32370,2017-12-23 10:26:35.000,1,O,2017-12-19 06:10:00.000,2017-12-23 09:20:00.000,1745,2166,2214,2068,28
32371,2017-12-30 11:05:25.000,1,O,2017-12-26 04:44:00.000,2017-12-30 11:05:00.000,0,3,8,1,0
32372,2017-12-30 11:34:46.000,2,O,2017-12-19 06:40:00.000,2017-12-30 11:34:00.000,0,0,0,0,0
32373,2017-12-30 11:34:46.000,2,O,2017-12-19 10:18:00.000,2017-12-19 16:09:00.000,0,0,0,0,0
32374,2017-12-30 11:39:27.000,1,I,2017-12-22 11:35:00.000,2017-12-27 12:34:00.000,0,0,1,0,0
32375,2017-12-30 12:29:39.000,2,O,2017-12-19 04:29:00.000,2017-12-30 12:29:00.000,1404,1498,1515,1469,0
32376,2017-12-30 12:40:01.000,2,O,2017-12-10 07:32:00.000,2017-12-30 12:40:00.000,1,15,15,9,0
32377,2017-12-30 12:49:41.000,2,O,2017-12-22 12:58:00.000,2017-12-30 13:02:00.000,1,18,92,12,65
32378,2017-12-30 13:12:15.000,1,I,2017-12-22 13:11:00.000,2017-12-22 13:11:00.000,0,0,0,0,0
32379,2017-12-30 13:12:15.000,1,I,2017-12-22 13:11:00.000,2017-12-30 13:12:00.000,1837,3175,3987,2916,657
32380,2017-12-30 13:14:51.000,1,O,2017-12-21 11:01:00.000,2017-12-30 13:14:00.000,1,3,22,3,7
32381,2017-12-30 13:14:51.000,1,O,2017-12-19 04:28:00.000,2017-12-21 11:01:00.000,1208,1455,1471,1353,0
32382,2017-12-30 13:17:00.000,1,O,2017-12-19 04:30:00.000,2017-12-23 01:44:00.000,1819,2250,2553,2080,301
32383,2017-12-30 14:18:31.000,1,O,2017-12-21 20:48:00.000,2017-12-30 14:18:00.000,0,3,13,3,10
32384,2017-12-30 14:18:31.000,1,O,2017-12-19 04:29:00.000,2017-12-21 20:48:00.000,1731,1996,2037,1873,27
32385,2017-12-30 23:33:41.000,1,O,2017-12-28 08:48:00.000,2017-12-30 23:33:00.000,1411,1736,3257,1596,1515
32386,2017-12-30 23:37:42.000,1,I,2017-12-26 08:32:00.000,2017-12-30 23:37:00.000,2368,2494,2518,2426,0

In [105]:
data_fuel_transaction.columns

Index(['tr_id', 'tr_station_id', 'tr_station_name', 'tr_station_cty',
       'tr_station_st', 'tr_drvr_code', 'tr_unit_id', 'tr_item_cd1',
       'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2', 'tr_item_cd3',
       'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4', 'tr_item_cd5',
       'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6', 'tr_datetime'],
      dtype='object')

In [141]:
df_ulal_events = data_fuel_events[data_fuel_events['DriverID'] == 'ULAL']

In [145]:
df_ulal_events

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Latitude,Longitude,LocationTimeStamp,Speed,Heading,Odometer,IgnitionStatus,EFReportReason
4,12649103,13640272,2017-01-01 00:10:13.187,1564,105351785,tractor,ULAL,39.90268,-84.19254,2017-01-01 00:10:11.000,3,91.0,498691.0,1,2
44,12649143,13640332,2017-01-01 00:12:23.187,1564,105351785,tractor,ULAL,39.90267,-84.19318,2017-01-01 00:12:21.000,9,167.9,498691.1,1,1
45,12649144,13640333,2017-01-01 00:14:13.187,1564,105351785,tractor,ULAL,39.90259,-84.19231,2017-01-01 00:14:11.000,0,0.0,498691.2,2,1
46,12649145,13640334,2017-01-01 00:14:34.267,1564,105351785,tractor,ULAL,39.90262,-84.19234,2017-01-01 00:14:32.000,0,0.0,498691.2,2,0
47,12649146,13640335,2017-01-01 00:32:13.267,1564,105351785,tractor,ULAL,39.90261,-84.19228,2017-01-01 00:32:11.000,0,0.0,498691.2,2,1
48,12649147,13640336,2017-01-01 00:36:23.297,1564,105351785,tractor,ULAL,39.90302,-84.19245,2017-01-01 00:36:21.000,9,271.1,498691.2,1,0
49,12649148,13640337,2017-01-01 00:51:23.390,1564,105351785,tractor,ULAL,39.75214,-84.18651,2017-01-01 00:51:21.000,57,77.4,498703.8,1,2
138,12649244,13640439,2017-01-01 01:51:23.623,1564,105351785,tractor,ULAL,39.42987,-83.17320,2017-01-01 01:51:22.000,65,113.6,498766.5,1,2
199,12649305,13640488,2017-01-01 02:22:33.763,1564,105351785,tractor,ULAL,39.16550,-82.73743,2017-01-01 02:22:33.000,0,0.0,498798.4,1,2
200,12649306,13640489,2017-01-01 02:24:13.763,1564,105351785,tractor,ULAL,39.16544,-82.73734,2017-01-01 02:24:13.000,0,0.0,498798.4,2,1
227,12649333,13640537,2017-01-01 02:55:33.933,1564,105351785,tractor,ULAL,39.16544,-82.73735,2017-01-01 02:55:32.000,0,0.0,498798.4,2,1
229,12649335,13640540,2017-01-01 02:57:13.933,1564,105351785,tractor,ULAL,39.16544,-82.73739,2017-01-01 02:57:12.000,0,0.0,498798.4,2,0
1886,12651032,13642330,2017-01-01 10:37:46.650,1564,105351785,tractor,ULAL,39.16535,-82.73739,2017-01-01 10:37:44.000,0,0.0,498798.4,1,0
1962,12651108,13642421,2017-01-01 10:52:46.713,1564,105351785,tractor,ULAL,39.16554,-82.73732,2017-01-01 10:52:44.000,0,0.0,498798.4,2,1
2306,12651464,13642794,2017-01-01 11:50:37.010,1564,105351785,tractor,ULAL,39.16544,-82.73736,2017-01-01 11:50:34.000,0,0.0,498798.4,1,0
2320,12651478,13642812,2017-01-01 11:53:37.073,1564,105351785,tractor,ULAL,39.16543,-82.73736,2017-01-01 11:53:34.000,0,0.0,498798.4,2,1
2679,12651837,13643175,2017-01-01 12:47:27.337,1564,105351785,tractor,ULAL,39.16544,-82.73737,2017-01-01 12:47:24.000,0,0.0,498798.4,1,0
2784,12651942,13643252,2017-01-01 13:02:27.430,1564,105351785,tractor,ULAL,39.16543,-82.73737,2017-01-01 13:02:24.000,0,0.0,498798.4,1,2
2860,12652018,13643342,2017-01-01 13:17:37.417,1564,105351785,tractor,ULAL,39.16545,-82.73737,2017-01-01 13:17:34.000,0,0.0,498798.4,1,2
2902,12652070,13643396,2017-01-01 13:23:07.417,1564,105351785,tractor,ULAL,39.16544,-82.73737,2017-01-01 13:23:04.000,0,0.0,498798.4,1,1
2915,12652083,13643413,2017-01-01 13:25:07.417,1564,105351785,tractor,ULAL,39.16544,-82.73736,2017-01-01 13:25:04.000,0,0.0,498798.4,1,0
3003,12652171,13643513,2017-01-01 13:40:07.557,1564,105351785,tractor,ULAL,39.16542,-82.73737,2017-01-01 13:40:04.000,0,0.0,498798.4,1,2
3069,12652237,13643589,2017-01-01 13:55:07.667,1564,105351785,tractor,ULAL,39.16543,-82.73736,2017-01-01 13:55:03.000,0,0.0,498798.4,1,2
3213,12652381,13643701,2017-01-01 14:10:05.613,1564,105351785,tractor,ULAL,39.16544,-82.73736,2017-01-01 14:10:05.000,0,0.0,498798.4,1,2
3283,12652451,13643788,2017-01-01 14:25:15.613,1564,105351785,tractor,ULAL,39.16543,-82.73737,2017-01-01 14:25:14.000,0,0.0,498798.4,2,1
3583,12652752,13644094,2017-01-01 15:16:25.753,1564,105351785,tractor,ULAL,39.16544,-82.73737,2017-01-01 15:16:25.000,0,0.0,498798.4,1,1
3593,12652762,13644105,2017-01-01 15:18:25.753,1564,105351785,tractor,ULAL,39.16543,-82.73737,2017-01-01 15:18:25.000,0,0.0,498798.4,2,1
3594,12652763,13644106,2017-01-01 15:18:25.767,1564,105351785,tractor,ULAL,39.16543,-82.73737,2017-01-01 15:18:25.000,0,0.0,498798.4,2,0
3634,12652803,13644150,2017-01-01 15:30:45.800,1564,105351785,tractor,ULAL,39.15756,-82.73346,2017-01-01 15:30:45.000,53,176.6,498799.2,1,0
3942,12653114,13644464,2017-01-01 16:30:46.067,1564,105351785,tractor,ULAL,38.63789,-81.97655,2017-01-01 16:30:44.000,49,196.0,498860.3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8488811,21144188,43489392,2018-03-23 00:37:07.393,2010,105338698,tractor,ULAL,31.95113,-83.45766,2018-03-23 00:37:08.000,0,0.0,146134.5,1,2
8488908,21144285,43489737,2018-03-23 00:52:07.393,2010,105338698,tractor,ULAL,31.95114,-83.45766,2018-03-23 00:52:08.000,0,0.0,146134.5,1,2
8489011,21144388,43490649,2018-03-23 01:05:17.393,2010,105338698,tractor,ULAL,31.95111,-83.45763,2018-03-23 01:05:18.000,0,0.0,146134.5,2,1
8489108,21144485,43491318,2018-03-23 01:21:17.393,2010,105338698,tractor,ULAL,31.95112,-83.45764,2018-03-23 01:21:18.000,0,0.0,146134.5,1,0
8489111,21144488,43491321,2018-03-23 01:24:50.080,2010,105338698,tractor,ULAL,31.95111,-83.45768,2018-03-23 01:24:51.000,0,0.0,146134.5,1,1
8489112,21144489,43491322,2018-03-23 01:26:37.393,2010,105338698,tractor,ULAL,31.95111,-83.45769,2018-03-23 01:26:38.000,0,0.0,146134.5,1,0
8489124,21144501,43491318,2018-03-23 01:21:17.393,2010,105338698,tractor,ULAL,31.95112,-83.45764,2018-03-23 01:21:18.000,0,0.0,146134.5,1,0
8489127,21144504,43491321,2018-03-23 01:24:50.080,2010,105338698,tractor,ULAL,31.95111,-83.45768,2018-03-23 01:24:51.000,0,0.0,146134.5,1,1
8489128,21144505,43491322,2018-03-23 01:26:37.393,2010,105338698,tractor,ULAL,31.95111,-83.45769,2018-03-23 01:26:38.000,0,0.0,146134.5,1,0
8489191,21144568,43491657,2018-03-23 01:41:37.453,2010,105338698,tractor,ULAL,31.95963,-83.59869,2018-03-23 01:41:38.000,52,261.7,146143.1,1,2
8489257,21144634,43492014,2018-03-23 01:56:37.453,2010,105338698,tractor,ULAL,31.99957,-83.75764,2018-03-23 01:56:38.000,65,352.1,146155.1,1,2
8489386,21144763,43492494,2018-03-23 02:14:57.517,2010,105338698,tractor,ULAL,32.24436,-83.74618,2018-03-23 02:14:58.000,3,347.7,146173.2,1,2
8489412,21144789,43492613,2018-03-23 02:19:57.517,2010,105338698,tractor,ULAL,32.24459,-83.74584,2018-03-23 02:19:58.000,0,219.7,146173.4,1,1
8489430,21144807,43492724,2018-03-23 02:22:57.580,2010,105338698,tractor,ULAL,32.24498,-83.74597,2018-03-23 02:22:58.000,0,300.6,146173.5,2,0
8489438,21144815,43492732,2018-03-23 02:23:17.580,2010,105338698,tractor,ULAL,32.24498,-83.74597,2018-03-23 02:23:18.000,0,300.6,146173.5,2,1
8489522,21144899,43493028,2018-03-23 02:33:27.610,2010,105338698,tractor,ULAL,32.24498,-83.74597,2018-03-23 02:33:28.000,0,300.6,146173.5,2,1
8489527,21144904,43493058,2018-03-23 02:34:07.610,2010,105338698,tractor,ULAL,32.24498,-83.74597,2018-03-23 02:34:08.000,0,300.6,146173.5,2,0
8489570,21144947,43493212,2018-03-23 02:38:07.610,2010,105338698,tractor,ULAL,32.24834,-83.74258,2018-03-23 02:38:08.000,22,33.6,146173.9,1,0
8489920,21145297,43495436,2018-03-23 03:38:07.937,2010,105338698,tractor,ULAL,33.05580,-83.95377,2018-03-23 03:38:09.000,61,309.0,146236.4,1,2
8490070,21145447,43496333,2018-03-23 03:54:18.017,2010,105338698,tractor,ULAL,33.26162,-84.09363,2018-03-23 03:54:19.000,0,355.9,146253.3,1,2
8490266,21145643,43497382,2018-03-23 04:08:28.110,2010,105338698,tractor,ULAL,33.20783,-84.06387,2018-03-23 04:07:55.000,0,112.8,146258.5,2,1
8490267,21145644,43497383,2018-03-23 04:15:28.110,2010,105338698,tractor,ULAL,33.20780,-84.06390,2018-03-23 04:14:36.000,0,112.8,146258.5,2,1
8490268,21145645,43497384,2018-03-23 04:16:58.110,2010,105338698,tractor,ULAL,33.20780,-84.06390,2018-03-23 04:16:59.000,0,112.8,146258.5,2,0
8490497,21145874,43498606,2018-03-23 04:26:18.203,2010,105338698,tractor,ULAL,33.20826,-84.06466,2018-03-23 04:26:19.000,5,11.5,146258.6,1,0
8490499,21145876,43498608,2018-03-23 04:41:18.267,2010,105338698,tractor,ULAL,33.35176,-84.12450,2018-03-23 04:41:19.000,54,348.2,146270.2,1,2
8491151,21146528,43501503,2018-03-23 05:41:18.597,2010,105338698,tractor,ULAL,33.95176,-84.51624,2018-03-23 05:41:19.000,61,359.3,146328.3,1,2
8492029,21147406,43505202,2018-03-23 06:33:38.690,2010,105338698,tractor,ULAL,34.55761,-84.93602,2018-03-23 06:33:39.000,1,295.1,146383.0,1,2
8493444,21148821,43511154,2018-03-23 06:40:08.690,2010,105338698,tractor,ULAL,34.55912,-84.93421,2018-03-23 06:40:09.000,0,70.8,146383.3,2,1
8493445,21148822,43511155,2018-03-23 07:40:19.063,2010,105338698,tractor,ULAL,34.55910,-84.93433,2018-03-23 07:40:19.000,5,275.6,146383.3,1,0
8493832,21149209,43512563,2018-03-23 07:55:19.097,2010,105338698,tractor,ULAL,34.71937,-85.00690,2018-03-23 07:55:19.000,62,1.4,146395.7,1,2

In [142]:
df_ulal_tr = data_fuel_transaction[data_fuel_transaction['tr_drvr_code'] == 'ULAL  ']

In [189]:
df_ulal_tr.columns

Index(['tr_id', 'tr_date', 'tr_time', 'tr_station_id', 'tr_station_name',
       'tr_station_cty', 'tr_station_st', 'tr_drvr_code', 'tr_unit_id',
       'tr_item_cd1', 'tr_item_qty1', 'tr_item_cd2', 'tr_item_qty2',
       'tr_item_cd3', 'tr_item_qty3', 'tr_item_cd4', 'tr_item_qty4',
       'tr_item_cd5', 'tr_item_qty5', 'tr_item_cd6', 'tr_item_qty6',
       'tr_datetime'],
      dtype='object')

In [194]:
columns_del_tr = ['tr_date','tr_time','tr_unit_id','tr_item_qty2','tr_item_qt3','tr_item_qty4','tr_item_qty5','tr_item_qty6','tr_item_cd3','tr_item_cd4','tr_item_cd5','tr_item_cd6']

In [201]:
def col_del_fun(df,col):
    df = df.drop(col,axis=1)
    return df

In [204]:
df_ulal_t = col_del_fun(df_ulal_tr,'tr_time')

In [205]:
df_ulal_t

,tr_id,tr_date,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,tr_item_qty1,...,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
0,42574765,20170101,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 00:20:00
110,42614106,20170101,516130,PILOT NITRO 243,NITRO,WV,ULAL,1564,ULSD,76.87,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 17:12:00
282,42672413,20170102,524100,PFJ SOUTHEAST 7976,TROUTMAN,NC,ULAL,1564,DEFD,12.37,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-02 15:29:00
851,42873010,20170104,516012,PILOT LAVERGNE 052,LAVERGNE,TN,ULAL,1564,ULSD,50.58,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-04 11:52:00
883,42882523,20170104,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,141.73,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-04 13:00:00
2089,43280882,20170107,231064,FJ-BEAVER DAM 695,BEAVER DAM,OH,ULAL,1564,ULSD,138.12,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-07 15:20:00
2417,43394310,20170109,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-09 02:03:00
3041,43596583,20170110,231846,FJ-MAX MEADOWS 750,FORT CHISWELL,VA,ULAL,1564,ULSD,171.05,...,6.92,CADV,1.0,,0.0,,0.0,,0,2017-01-10 15:09:00
3424,43719948,20170111,521442,TIMEOUT MARKET #22 & TC,NEWPORT,TN,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-11 13:39:00
4302,44020016,20170113,516264,PILOT MURFREESBORO 404,MURFREESBORO,TN,ULAL,1564,ULSD,100.24,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-13 16:45:00
4670,44163272,20170115,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,ULSD,60.36,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:05:00
4677,44164806,20170115,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:22:00
4813,44220908,20170116,524092,PFJ SOUTHEAST 4569,HARDEEVILLE,SC,ULAL,1564,ULSD,54.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-16 04:25:00
4969,44277136,20170116,231015,FJ-GRAHAM 682,HAW RIVER,NC,ULAL,1564,ULSD,51.07,...,5.14,,0.0,,0.0,,0.0,,0,2017-01-16 14:21:00
5305,44384649,20170117,524124,PFJ SOUTHEAST 7983,SALISBURY,NC,ULAL,1564,ULSD,54.00,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-17 11:50:00
5680,44496665,20170118,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,100.95,...,8.67,,0.0,,0.0,,0.0,,0,2017-01-18 08:57:00
5865,44545709,20170118,516132,PILOT HARRISBURG 245,HARRISBURG,PA,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-18 14:54:00
6379,44717068,20170119,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,100.07,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-19 19:35:00
7157,44975050,20170122,516271,PILOT WHITE PINE 412,WHITE PINE,TN,ULAL,1564,ULSD,50.41,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-22 13:08:00
7314,45049596,20170123,231861,FJ-JEFFERSONVILLE 698,JEFFERSONVILLE,OH,ULAL,1564,ULSD,75.24,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 10:13:00
7471,45092712,20170123,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 15:50:00
7512,45106105,20170123,521469,PILOT CHILLICOTHE 597,CHILLICOTHE,OH,ULAL,1564,ULSD,88.08,...,9.53,,0.0,,0.0,,0.0,,0,2017-01-23 17:37:00
8365,45396825,20170125,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,100.63,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-25 16:42:00
8937,45611398,20170127,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,50.97,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-27 08:20:00
9659,45870779,20170129,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ULSD,94.75,...,7.84,,0.0,,0.0,,0.0,,0,2017-01-29 19:26:00
9661,45871325,20170129,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ADD,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-29 19:36:00
10275,46069255,20170131,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,1.00,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:27:00
10289,46071800,20170131,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:45:00
10664,46188738,20170201,521523,PILOT WYTHEVILLE 4619,WYTHEVILLE,VA,ULAL,1564,ULSD,50.35,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 09:51:00
10801,46230065,20170201,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,50.29,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 14:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137148,97260088,20180219,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,76.11,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-19 17:32:00
137595,97428160,20180220,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,100.47,...,11.14,CADV,1.0,,0.0,,0.0,,0,2018-02-20 18:01:00
137973,97560384,20180221,231982,FJ 1086,MARION,IN,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:35:00
137983,97564653,20180221,231982,FJ 1086,MARION,IN,ULAL,2010,ULSD,80.07,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:58:00
138846,97913370,20180223,516640,LOVES # 358 TRAVEL STOP,SHARTLESVILLE,PA,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-23 16:00:00
139140,98053689,20180224,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,2010,ULSD,153.61,...,5.70,,0.0,,0.0,,0.0,,0,2018-02-24 17:54:00
139804,98353274,20180227,516124,PILOT MINOOKA 236,MINOOKA,IL,ULAL,2010,ULSD,50.29,...,1.00,,0.0,,0.0,,0.0,,0,2018-02-27 08:06:00
140007,98426270,20180227,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:31:00
140013,98428457,20180227,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,ULSD,60.33,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:44:00
140387,98587279,20180228,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-28 14:35:00
140392,98589619,20180228,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,ULSD,119.72,...,1.33,,0.0,,0.0,,0.0,,0,2018-02-28 14:50:00
141223,98967215,20180302,520422,FJ MOUNT AIRY 549,MOUNT AIRY,NC,ULAL,2010,ULSD,108.66,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 18:42:00
141238,98977340,20180302,516537,LOVES # 239 TRAVEL STOP,WYTHEVILLE,VA,ULAL,2010,DEFD,12.87,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 20:33:00
141632,99157534,20180304,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 15:19:00
141655,99173398,20180304,231795,FJ-CLEAR BROOK 752,CLEAR BROOK,VA,ULAL,2010,ULSD,75.47,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 18:12:00
141957,99325111,20180305,516187,PILOT DUNCAN 310,DUNCAN,SC,ULAL,2010,ULSD,75.42,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-05 19:18:00
142745,99647581,20180307,524098,PILOT #4558,CALHOUN,GA,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-07 17:21:00
142782,99675934,20180307,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,50.26,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-07 21:04:00
143446,99976290,20180309,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,2010,ULSD,132.04,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-09 16:05:00
143970,219519,20180311,231084,FJ-FRANKLIN 661,FRANKLIN,KY,ULAL,2010,ULSD,75.34,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-11 20:36:00
144705,531199,20180313,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,50.49,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-13 19:06:00
145411,840021,20180315,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,50.30,...,0.36,CADV,1.0,,0.0,,0.0,,0,2018-03-15 14:55:00
146063,1170957,20180317,516638,LOVES # 355 TRAVEL STOP,MEMPHIS,IN,ULAL,2010,ULSD,97.89,...,12.36,,0.0,,0.0,,0.0,,0,2018-03-17 21:28:00
146255,1243318,20180318,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,60.34,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-18 16:46:00
146514,1368874,20180319,514518,TA BALTIMORE SOUTH,JESSUP,MD,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-19 15:56:00
146650,1447867,20180320,231033,FJ-CARMEL CHURCH 749,RUTHER GLEN,VA,ULAL,2010,ULSD,50.40,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-20 05:56:00
147398,1767012,20180321,518967,PETRO FLORENCE #6393,FLORENCE,SC,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-21 23:41:00
147401,1771595,20180322,516216,PILOT LUGOFF 346,LUGOFF,SC,ULAL,2010,ULSD,60.46,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-22 01:08:00
147782,1952922,20180323,503178,ALL STATE TRUCK STOP INC.,UNADILLA,GA,ULAL,2010,SCLE,1.00,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-23 02:27:00
147814,1961555,20180323,231011,FJ-JACKSON 630,JACKSON,GA,ULAL,2010,ULSD,75.42,...,11.89,,0.0,,0.0,,0.0,,0,2018-03-23 04:46:00

In [ ]:
#df_ulal_performance = df_ulal_performance.drop('SpeedMatrix', axis=1)

In [207]:
df_ulal_tr

,tr_id,tr_date,tr_time,tr_station_id,tr_station_name,tr_station_cty,tr_station_st,tr_drvr_code,tr_unit_id,tr_item_cd1,...,tr_item_qty2,tr_item_cd3,tr_item_qty3,tr_item_cd4,tr_item_qty4,tr_item_cd5,tr_item_qty5,tr_item_cd6,tr_item_qty6,tr_datetime
0,42574765,20170101,0020,520277,FLYING J VANDALIA 97,VANDALIA,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 00:20:00
110,42614106,20170101,1712,516130,PILOT NITRO 243,NITRO,WV,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-01 17:12:00
282,42672413,20170102,1529,524100,PFJ SOUTHEAST 7976,TROUTMAN,NC,ULAL,1564,DEFD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-02 15:29:00
851,42873010,20170104,1152,516012,PILOT LAVERGNE 052,LAVERGNE,TN,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-04 11:52:00
883,42882523,20170104,1300,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-04 13:00:00
2089,43280882,20170107,1520,231064,FJ-BEAVER DAM 695,BEAVER DAM,OH,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-07 15:20:00
2417,43394310,20170109,0203,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-09 02:03:00
3041,43596583,20170110,1509,231846,FJ-MAX MEADOWS 750,FORT CHISWELL,VA,ULAL,1564,ULSD,...,6.92,CADV,1.0,,0.0,,0.0,,0,2017-01-10 15:09:00
3424,43719948,20170111,1339,521442,TIMEOUT MARKET #22 & TC,NEWPORT,TN,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-11 13:39:00
4302,44020016,20170113,1645,516264,PILOT MURFREESBORO 404,MURFREESBORO,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-13 16:45:00
4670,44163272,20170115,1105,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:05:00
4677,44164806,20170115,1122,521834,PILOT JASPER 500,JASPER,FL,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-15 11:22:00
4813,44220908,20170116,0425,524092,PFJ SOUTHEAST 4569,HARDEEVILLE,SC,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-16 04:25:00
4969,44277136,20170116,1421,231015,FJ-GRAHAM 682,HAW RIVER,NC,ULAL,1564,ULSD,...,5.14,,0.0,,0.0,,0.0,,0,2017-01-16 14:21:00
5305,44384649,20170117,1150,524124,PFJ SOUTHEAST 7983,SALISBURY,NC,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-17 11:50:00
5680,44496665,20170118,0857,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,...,8.67,,0.0,,0.0,,0.0,,0,2017-01-18 08:57:00
5865,44545709,20170118,1454,516132,PILOT HARRISBURG 245,HARRISBURG,PA,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-18 14:54:00
6379,44717068,20170119,1935,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-19 19:35:00
7157,44975050,20170122,1308,516271,PILOT WHITE PINE 412,WHITE PINE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-22 13:08:00
7314,45049596,20170123,1013,231861,FJ-JEFFERSONVILLE 698,JEFFERSONVILLE,OH,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 10:13:00
7471,45092712,20170123,1550,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-23 15:50:00
7512,45106105,20170123,1737,521469,PILOT CHILLICOTHE 597,CHILLICOTHE,OH,ULAL,1564,ULSD,...,9.53,,0.0,,0.0,,0.0,,0,2017-01-23 17:37:00
8365,45396825,20170125,1642,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-25 16:42:00
8937,45611398,20170127,0820,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-27 08:20:00
9659,45870779,20170129,1926,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ULSD,...,7.84,,0.0,,0.0,,0.0,,0,2017-01-29 19:26:00
9661,45871325,20170129,1936,515993,PILOT 28,DALEVILLE,IN,ULAL,1564,ADD,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-29 19:36:00
10275,46069255,20170131,1227,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,1.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:27:00
10289,46071800,20170131,1245,516110,PILOT COLUMBUS 213,COLUMBUS,OH,ULAL,1564,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2017-01-31 12:45:00
10664,46188738,20170201,0951,521523,PILOT WYTHEVILLE 4619,WYTHEVILLE,VA,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 09:51:00
10801,46230065,20170201,1437,231889,FJ-ROCK HILL 714,ROCK HILL,SC,ULAL,1564,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2017-02-01 14:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137148,97260088,20180219,1732,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-19 17:32:00
137595,97428160,20180220,1801,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,...,11.14,CADV,1.0,,0.0,,0.0,,0,2018-02-20 18:01:00
137973,97560384,20180221,1435,231982,FJ 1086,MARION,IN,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:35:00
137983,97564653,20180221,1458,231982,FJ 1086,MARION,IN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-21 14:58:00
138846,97913370,20180223,1600,516640,LOVES # 358 TRAVEL STOP,SHARTLESVILLE,PA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-23 16:00:00
139140,98053689,20180224,1754,231060,FJ-CARLISLE 708,CARLISLE,PA,ULAL,2010,ULSD,...,5.70,,0.0,,0.0,,0.0,,0,2018-02-24 17:54:00
139804,98353274,20180227,0806,516124,PILOT MINOOKA 236,MINOOKA,IL,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-02-27 08:06:00
140007,98426270,20180227,1531,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:31:00
140013,98428457,20180227,1544,518272,PILOT MINONK 326,MINONK,IL,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-27 15:44:00
140387,98587279,20180228,1435,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-02-28 14:35:00
140392,98589619,20180228,1450,231815,FJ WADDY 663,WADDY,KY,ULAL,2010,ULSD,...,1.33,,0.0,,0.0,,0.0,,0,2018-02-28 14:50:00
141223,98967215,20180302,1842,520422,FJ MOUNT AIRY 549,MOUNT AIRY,NC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 18:42:00
141238,98977340,20180302,2033,516537,LOVES # 239 TRAVEL STOP,WYTHEVILLE,VA,ULAL,2010,DEFD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-02 20:33:00
141632,99157534,20180304,1519,516325,FJ-MYERSTOWN 518,MYERSTOWN (FRYS,PA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 15:19:00
141655,99173398,20180304,1812,231795,FJ-CLEAR BROOK 752,CLEAR BROOK,VA,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-04 18:12:00
141957,99325111,20180305,1918,516187,PILOT DUNCAN 310,DUNCAN,SC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-05 19:18:00
142745,99647581,20180307,1721,524098,PILOT #4558,CALHOUN,GA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-07 17:21:00
142782,99675934,20180307,2104,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-07 21:04:00
143446,99976290,20180309,1605,523050,BIG G EXPRESS TERMINAL,GLADEVILLE,TN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-09 16:05:00
143970,219519,20180311,2036,231084,FJ-FRANKLIN 661,FRANKLIN,KY,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-11 20:36:00
144705,531199,20180313,1906,520472,LOVES #490 TRAVEL STOP,JASPER,TN,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-13 19:06:00
145411,840021,20180315,1455,231864,FJ-WHITELAND 656,WHITELAND,IN,ULAL,2010,ULSD,...,0.36,CADV,1.0,,0.0,,0.0,,0,2018-03-15 14:55:00
146063,1170957,20180317,2128,516638,LOVES # 355 TRAVEL STOP,MEMPHIS,IN,ULAL,2010,ULSD,...,12.36,,0.0,,0.0,,0.0,,0,2018-03-17 21:28:00
146255,1243318,20180318,1646,516130,PILOT NITRO 243,NITRO,WV,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-18 16:46:00
146514,1368874,20180319,1556,514518,TA BALTIMORE SOUTH,JESSUP,MD,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-19 15:56:00
146650,1447867,20180320,0556,231033,FJ-CARMEL CHURCH 749,RUTHER GLEN,VA,ULAL,2010,ULSD,...,1.00,,0.0,,0.0,,0.0,,0,2018-03-20 05:56:00
147398,1767012,20180321,2341,518967,PETRO FLORENCE #6393,FLORENCE,SC,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-21 23:41:00
147401,1771595,20180322,0108,516216,PILOT LUGOFF 346,LUGOFF,SC,ULAL,2010,ULSD,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-22 01:08:00
147782,1952922,20180323,0227,503178,ALL STATE TRUCK STOP INC.,UNADILLA,GA,ULAL,2010,SCLE,...,0.00,,0.0,,0.0,,0.0,,0,2018-03-23 02:27:00
147814,1961555,20180323,0446,231011,FJ-JACKSON 630,JACKSON,GA,ULAL,2010,ULSD,...,11.89,,0.0,,0.0,,0.0,,0,2018-03-23 04:46:00

In [182]:
df_ulal_performance = df_ulal_performance.drop('SpeedMatrix', axis=1)

In [183]:
df_ulal_performance.dtypes

Id                      int64
ESS_Id                  int64
EventTimeStamp         object
DriverID               object
Latitude              float64
Longitude             float64
LocationTimeStamp      object
DataStartTimeStamp     object
DataEndTimeStamp       object
Distance                int64
DriveTime               int64
EngineTime              int64
MoveTime                int64
IntertripIdleTime       int64
ShortIdleTime           int64
OverSpeedTime           int64
TotalFuelUsed         float64
IdleFuelUsed          float64
CruiseControlTime       int64
TopGearTime             int64
dtype: object

In [184]:
df_ulal_performance = data_performance[data_performance['DriverID']=='ULAL']

In [185]:
df_ulal_performance
#13640272

,Id,ESS_Id,EventTimeStamp,EquipmentID,MCTNumber,EquipmentType,DriverID,Driver2ID,Latitude,Longitude,...,ExcessSpeedTime,TotalFuelUsed,IdleFuelUsed,FaultFlag,RegisteredDriver,CruiseControlTime,TopGearTime,GearDataSource,SpeedUnits,SpeedMatrix
98,76916,13659755,2017-01-03 04:24:35.000,1564,105351785,tractor,ULAL,NaN,35.050694,-80.618379,...,0,378.5,7.5,0,1,1607,2119,3,MPH,"94,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
751,77569,13803666,2017-01-10 04:27:49.000,1564,105351785,tractor,ULAL,NaN,37.876018,-79.308101,...,0,378.5,90.2,0,1,1119,1577,3,MPH,"41,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
1390,78208,13942284,2017-01-17 04:19:11.000,1564,105351785,tractor,ULAL,NaN,35.755555,-80.347824,...,0,396.1,33.2,0,1,1526,2010,3,MPH,"67,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
2004,78822,14082968,2017-01-24 04:18:37.000,1564,105351785,tractor,ULAL,NaN,39.165138,-82.736574,...,0,371.5,72.7,1,1,1065,1613,3,MPH,"79,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
2621,79439,14218850,2017-01-31 04:13:45.000,1564,105351785,tractor,ULAL,NaN,39.951759,-83.378240,...,0,318.0,30.7,0,1,990,1528,3,MPH,"115,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
3501,80319,14357577,2017-02-07 04:15:51.000,1564,105351785,tractor,ULAL,NaN,37.414814,-85.881620,...,0,381.0,12.2,0,1,1369,1893,3,MPH,"49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3811,80629,14499174,2017-02-14 04:15:32.000,1564,105351785,tractor,ULAL,NaN,40.123240,-74.709490,...,0,412.7,73.6,0,1,875,1583,3,MPH,"53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
4857,81675,14643718,2017-02-21 05:00:39.000,1564,105351785,tractor,ULAL,NaN,41.659259,-93.500648,...,0,430.3,62.0,0,1,1170,1888,3,MPH,"41,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
5072,81890,14784110,2017-02-28 04:20:35.000,1564,105351785,tractor,ULAL,NaN,33.580324,-83.576296,...,0,428.7,27.6,0,1,1613,2248,3,MPH,"29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
5629,82447,14923136,2017-03-07 04:17:25.000,1564,105351785,tractor,ULAL,NaN,40.925092,-74.791944,...,0,392.6,77.2,0,1,941,1583,3,MPH,"68,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
6308,83126,15067023,2017-03-14 04:06:36.000,1564,105351785,tractor,ULAL,NaN,41.591064,-74.088749,...,0,464.7,63.2,0,1,1235,1909,3,MPH,"62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
6848,83666,15206527,2017-03-21 04:10:57.000,1607,105385981,tractor,ULAL,NaN,36.195601,-83.175231,...,0,2.0,0.7,0,0,4,5,3,MPH,"6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
6850,83668,15206529,2017-03-21 04:10:58.000,1607,105385981,tractor,ULAL,NaN,36.195601,-83.175231,...,0,0.6,0.5,0,1,0,0,3,MPH,"28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
7472,84290,15348744,2017-03-28 04:13:30.000,1607,105385981,tractor,ULAL,NaN,39.422453,-87.688842,...,0,428.0,4.6,0,1,1686,2435,3,MPH,"36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
8077,84895,15473156,2017-04-03 09:08:04.000,1564,105351785,tractor,ULAL,NaN,35.587962,-86.443842,...,0,58.1,49.3,0,1,15,32,3,MPH,"173,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
8099,84917,15489364,2017-04-04 04:13:36.000,1607,105385981,tractor,ULAL,NaN,28.167731,-81.771851,...,0,333.7,13.1,0,1,1494,2052,3,MPH,"154,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
8267,85085,15489533,2017-04-04 04:14:16.000,1859,105351785,tractor,ULAL,NaN,33.832824,-84.198194,...,0,0.0,0.0,1,1,0,0,0,MPH,"130,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
8732,85550,15629286,2017-04-11 04:30:28.000,1607,105385981,tractor,ULAL,NaN,35.726203,-81.128425,...,0,269.8,12.0,0,1,643,1356,3,MPH,"117,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
9351,86169,15764170,2017-04-18 04:11:33.000,1607,105385981,tractor,ULAL,NaN,38.348842,-85.709351,...,0,425.7,22.6,1,1,1053,2327,3,MPH,"128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
10028,87843,15904298,2017-04-25 04:27:37.000,1607,105385981,tractor,ULAL,NaN,34.725925,-79.866018,...,0,362.2,84.8,1,1,816,1659,3,MPH,"39,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
10719,88534,16043388,2017-05-02 04:21:20.000,1607,105385981,tractor,ULAL,NaN,30.317499,-91.828425,...,0,299.2,84.2,1,1,747,1215,3,MPH,"1833,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
11204,89019,16180371,2017-05-09 04:15:54.000,1607,105385981,tractor,ULAL,NaN,39.978657,-78.938842,...,0,464.0,75.3,0,1,1256,2391,3,MPH,"85,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
12209,90024,16314626,2017-05-16 04:33:58.000,1607,105385981,tractor,ULAL,NaN,40.077407,-76.765740,...,0,406.6,54.6,0,1,869,1996,3,MPH,"62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
12449,91259,16450928,2017-05-23 04:18:11.000,1607,105385981,tractor,ULAL,NaN,37.817222,-87.040462,...,0,336.8,4.8,1,1,969,1845,3,MPH,"50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13034,91844,16783728,2017-05-30 04:23:32.000,1607,105385981,tractor,ULAL,NaN,41.183101,-80.571666,...,0,303.5,4.7,0,1,919,1804,3,MPH,"65,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13646,92456,17256072,2017-06-06 04:13:23.000,1607,105385981,tractor,ULAL,NaN,38.613425,-78.706249,...,0,1.1,0.2,0,0,0,5,3,MPH,"19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
13651,92461,17256077,2017-06-06 04:13:24.000,1607,105385981,tractor,ULAL,NaN,38.613425,-78.706249,...,0,272.7,4.1,0,1,900,1712,3,MPH,"159,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
14221,93031,17826263,2017-06-13 04:18:02.000,1607,105385981,tractor,ULAL,NaN,36.487407,-80.747222,...,0,283.3,3.6,1,1,826,1600,3,MPH,"66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
15278,94088,18449876,2017-06-20 04:41:31.000,1607,105385981,tractor,ULAL,NaN,39.163287,-76.781527,...,0,383.3,4.5,1,1,979,2018,3,MPH,"72,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
15882,94692,19080098,2017-06-27 04:10:47.000,1607,105385981,tractor,ULAL,NaN,38.348611,-85.709305,...,0,385.0,5.5,0,1,952,2150,3,MPH,"52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
16418,95228,19699365,2017-07-04 04:22:47.000,1607,105385981,tractor,ULAL,NaN,34.773425,-80.380833,...,0,314.7,4.7,1,1,718,1819,3,MPH,"50,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
16759,95569,20294947,2017-07-11 04:13:00.000,1607,105385981,tractor,ULAL,NaN,37.240462,-85.929629,...,0,336.8,4.8,0,1,812,2037,3,MPH,"52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
17395,96205,20930809,2017-07-18 04:17:49.000,1607,105385981,tractor,ULAL,NaN,35.993009,-87.488472,...,0,344.2,6.7,1,1,870,1856,3,MPH,"118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
18415,98220,21584170,2017-07-25 04:26:59.000,1607,105385981,tractor,ULAL,NaN,38.577314,-90.100231,...,0,325.6,4.1,0,1,1095,2086,3,MPH,"122,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
18676,98481,22265899,2017-08-01 04:22:51.000,1607,105385981,tractor,ULAL,NaN,36.195277,-83.175416,...,0,380.8,73.0,0,1,873,1791,3,MPH,"118,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
19330,99135,22913579,2017-08-08 04:23:09.000,1607,105385981,tractor,ULAL,NaN,41.919537,-87.690972,...,0,268.1,39.7,1,1,846,1515,3,MPH,"137,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
19950,99755,23583587,2017-08-15 04:28:02.000,1607,105385981,tractor,ULAL,NaN,36.066851,-86.432592,...,0,393.0,3.2,0,1,1187,2403,3,MPH,"49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
20598,100403,24243245,2017-08-22 04:01:18.000,1607,105385981,tractor,ULAL,NaN,39.998935,-79.045231,...,0,359.0,3.7,1,1,1291,2273,3,MPH,"35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
21225,101030,24919075,2017-08-29 04:29:00.000,1607,105385981,tractor,ULAL,NaN,38.762314,-78.628333,...,0,287.1,4.3,1,1,1096,1859,3,MPH,"109,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
21844,101649,25512842,2017-09-05 04:24:04.000,1607,105385981,tractor,ULAL,NaN,38.006157,-84.546944,...,0,298.1,14.1,0,1,888,1593,3,MPH,"46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
22491,102296,26215780,2017-09-12 04:19:40.000,1607,105385981,tractor,ULAL,NaN,30.231296,-92.461342,...,0,303.7,3.1,0,1,989,1854,3,MPH,"75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
23103,102908,26881163,2017-09-19 04:08:09.000,1607,105385981,tractor,ULAL,NaN,30.395092,-83.353379,...,0,299.1,5.3,0,1,1396,1964,3,MPH,"47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
23724,104528,27541118,2017-09-26 04:30:43.000,1607,105385981,tractor,ULAL,NaN,35.971018,-80.841620,...,0,390.6,37.7,1,1,1141,2016,3,MPH,"113,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
24441,105245,28205758,2017-10-03 04:27:09.000,1607,105385981,tractor,ULAL,NaN,37.052222,-88.654259,...,0,467.6,77.7,1,1,1230,2132,3,MPH,"70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
24985,105789,28867476,2017-10-10 04:13:57.000,1607,105385981,tractor,ULAL,NaN,36.054166,-83.409444,...,0,354.5,43.2,0,1,1256,1986,3,MPH,"220,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
25791,107586,29508164,2017-10-17 04:23:41.000,1607,105385981,tractor,ULAL,NaN,39.497222,-76.230555,...,0,346.6,5.6,0,1,887,1795,3,MPH,"57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
26374,108169,30145522,2017-10-24 04:04:54.000,1607,105385981,tractor,ULAL,NaN,36.110740,-84.021018,...,0,384.0,9.0,0,1,1066,1993,3,MPH,"161,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
26838,108633,30770207,2017-10-31 04:24:16.000,1607,105385981,tractor,ULAL,NaN,33.626944,-84.379305,...,0,304.3,13.8,1,1,1006,1739,3,MPH,"245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
27545,109340,31420361,2017-11-07 04:22:00.000,1607,105385981,tractor,ULAL,NaN,29.511157,-81.196111,...,0,368.6,28.3,1,1,1293,2056,3,MPH,"196,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28584,110379,32081261,2017-11-14 07:39:26.000,2010,105338698,tractor,ULAL,NaN,40.166481,-77.598055,...,0,0.8,0.3,0,0,0,0,3,MPH,"111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28585,110380,32081262,2017-11-14 07:39:26.000,2010,105338698,tractor,ULAL,NaN,40.166481,-77.598055,...,0,157.1,2.0,0,1,445,936,3,MPH,"212,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28586,110381,32081263,2017-11-14 07:39:27.000,2010,105338698,tractor,ULAL,NaN,40.166481,-77.598055,...,0,50.5,0.1,0,1,18,316,3,MPH,"1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
28958,110753,32716130,2017-11-21 04:23:19.000,2010,105338698,tractor,ULAL,NaN,40.675925,-75.201018,...,0,279.3,6.3,1,1,843,1672,3,MPH,"217,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
29638,112431,33159800,2017-11-28 04:14:17.000,2010,105338698,tractor,ULAL,NaN,36.195694,-83.175092,...,0,250.1,4.2,0,1,921,1654,3,MPH,"105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
30445,113238,33837230,2017-12-05 09:06:40.000,2010,105338698,tractor,ULAL,NaN,35.947037,-84.944444,...,0,327.1,4.7,0,1,846,1893,3,MPH,"118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
30866,113659,34425924,2017-12-12 04:06:48.000,2010,105338698,tractor,ULAL,NaN,36.514305,-78.206712,...,0,192.7,4.3,1,1,237,955,3,MPH,"135,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
31689,115481,35067401,2017-12-19 06:38:42.000,2010,105338698,tractor,ULAL,NaN,39.414675,-84.122731,...,0,315.3,5.1,1,1,747,1739,3,MPH,"150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,..."
31876,115668,35512626,2017-12-26 04:21:46.000,2010,105338698,tractor,ULAL,NaN,40.699166,-87.062222,...,0,322.5,6.3,0,1,1172,2101,3,MPH,"76,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."

In [152]:
data_fuel_tank_levels[data_fuel_tank_levels['ExactFuelEventId'] == 12649103]

              Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
199091  10375469       1              50.3            125.75          12649103

In [153]:
data_fuel_tank_levels[data_fuel_tank_levels['ExactFuelEventId'] == 12649143]

              Id  TankId  TankLevelPercent  TankLevelGallons  ExactFuelEventId
205276  10375509       1              50.6             126.5          12649143